@model FNTC.Finansoft.Accounting.DTO.DescuentosNomina.TipoPagos

@{
    ViewBag.Title = "Gestión & Configuración - DESCUENTOS DE NOMINA";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
    var user = User.Identity.Name;
    var fecha = DateTime.Now;
    var Nombre = ViewBag.Nombre;

}

<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />

<div class="container" style="margin-top:2%; background: rgb(248, 248, 248);">

    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:0%;border: none; margin-left: 2%;">
        <li class="active"><a href="#" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Editar - Clasificacion </a></li>

    </ul>
    <div class="tab-content contenedortabs">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Clasificacion - Editar</h3></div>
            <div class="col-md-12">

                <div class="modal-body">
                    <form action="@Url.Action("EditarClasificacion", "GestionConfiguracion")" method="post" id="frmPrioridad">
                        @Html.AntiForgeryToken()

                        <div class="form">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IdTiposPagos)
                            <input id="modo" name="modo" hidden readonly />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Nombre Pago</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" value="@Model.NombrePago" readonly />
                                        <span class="input-group-addon" id="NOMBRE"></span>
                                    </div>

                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Fecha de Registro</label>
                                    <div>
                                        <input type="text" class="form-control" value="@fecha" autocomplete="off" readonly />
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label class="control-label">User Control</label>
                                    <div>
                                        <input type="text" class="form-control" id="UserControlPagos" name="UserControlPagos" value="@user" readonly />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Orden De Pagos</label>
                                    <div>
                                        @Html.Action("ListaOrden", "GestionConfiguracion", new { id = Model.Orden })
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="modal-footer">
                                    <a class="btn btn-primary" href="@Url.Action("ClasificacionPagos","GestionConfiguracion")">Cancelar</a>
                                    <button id="guardarConfig" type="submit" class="btn btn-success">Guardar Cambios</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        

        $("#frmPrioridad").submit(function (event) {
            event.preventDefault();

            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serializeArray(); //Encode form elements for submission
            console.log(form_data);

            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //
                console.log(response);

                if (response.ok) {

                    window.location = response.toRedirect;
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'ERROR',
                        text: '¡ERROR AL GUARDAR!'
                    });
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {

            });
        });
    </script>
}



