@model FNTC.Finansoft.Accounting.DTO.Nomina.SeleccionCuenta

@{
    Layout = "~/Views/Shared/_Modal.cshtml";
    var action = (string)ViewBag.action;
    var boton = (string)ViewBag.boton;

    var TipoCuenta = @ViewBag.TipoCuenta;

}



@if (ViewBag.guardado == "S")
{
    <script>
        recargar();
    </script>
}
else
{
    <div id="centro" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 align="center" class="modal-title"> <b>Añadir - Nueva Cuenta</b></h4>
                </div>
                <div class="modal-body">

                    <div class=" panel panel-body">
                        @using (Html.BeginForm("Create", "SeleccionCuentas", new { area = "Nomina" }, FormMethod.Post, new { id = "FormularioSeleccion", autocomplete = "off" }))

                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="Digitar">Codigo De Cuenta</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.CODIGO, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Digitar - Codigo De Cuenta" } })
                                            <span class="input-group-addon" id="nomCuenta"></span>

                                        </div>

                                        @Html.ValidationMessageFor(model => model.CODIGO, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="TipoDeCuenta">Tipo Cuenta</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TIPOCUENTA, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Digitar - Descripcion Cuenta " } })
                                        @Html.ValidationMessageFor(model => model.TIPOCUENTA, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="button" value="Guardar" class="btn btn-default" onclick="Guardar();" />
                                        <button type="button" id="close" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cerrar</button>

                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.Error != null && ViewBag.Error != "")
                        {
                            <div class="text-danger">
                                @ViewBag.Error
                            </div>}
                    </div>
                </div>

            </div>

        </div>
    </div>


    /**/
    <script>
        $(document).ready(function () {
            inicializarFormulario();
            $('#centro').modal('show');
        });
    </script>


    <script>
        $(document).ready(function () {

         $("#CODIGO").change(function () {


                         $.ajax({
                            type: "POST",
                            url: "@Url.Action("ValidacionCuenta", "SeleccionCuentas")",
                            datatype: "Json",
                            data: { Cuenta: $('#CODIGO').val() },
                            success: function (data) {
                                if (data != true) {

                            swal({
                            title: "Alerta",
                                type: "info",
                                text: "Este codigo de cuenta ya se encuentra registrado anteriormente",
                             })
                            $('#CODIGO').val("");
                            }
                            }
                            });
            });
        });

    </script>

}