@model FNTC.Finansoft.Accounting.DTO.Nomina.Discriminacion

@{
    ViewBag.Title = "DESCUENTOS DE NOMINA";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
}

<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Discriminaciones - Descuentos Nomina</h3></div>
<div class="container" style="margin-top:1%; background: rgb(248, 248, 248);">


    @using (Html.BeginForm("Create", "Discriminacions", new { area = "Nomina" }, FormMethod.Post, new { id = "theForm", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()


        <div class="form-horizontal">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="form-group">

                <label class="control-label col-md-2">Seleccione Modelo:</label>
                <div class="col-md-10">


                    @Html.Action("ListaEmpresa", "Discriminacions")
                    @Html.ValidationMessageFor(model => model.EMPRESA, "", new { @class = "text-danger", required = "required" })

                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-md-2">Periodo De Deducción:</label>
                <div class="col-md-10">

                    <select class="form-control" id="PERDEDUCC" name="PERDEDUCC" required>
                        <option value="">Seleccionar</option>
                        <option value="MENSUAL">MENSUAL</option>

                    </select>
                    @Html.ValidationMessageFor(model => model.PERDEDUCC, "", new { @class = "text-danger", required = "required" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Mes de Deducción:</label>
                <div class="col-md-10">
                    <select class="form-control" id="PERIODO" name="PERIODO" required>
                        <option value="">Seleccionar</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>

                    </select>
                    @Html.ValidationMessageFor(model => model.PERIODO, "", new { @class = "text-danger", required = "required" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    <input type="submit" value="Generar Discriminación" class="btn btn-success" id="guardar" />

                    <a class="btn btn-info" href="/Nomina/Discriminacions/ListadoDisNomina">Regresar</a>
                </div>

            </div>


        </div>
    }
</div>


<script src="~/Scripts/chosen.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".chosen-select-single").chosen();
        $(".chosen-select-multiple").chosen();

    });
</script>


<script>
    function Regresar() {
        location.reload();
    }
    $(document).ready(function () {


        $('#centro').modal('show');

    });

    $(document.body).on('hidden.bs.modal', function () {
        $('#centro').removeData('bs.modal');
    });

    $("#theForm").submit(function (event) {
        event.preventDefault();
        var theForm = $(this);
        $.post('/Nomina/Discriminacions/Create', theForm.serialize())
            .done(function (result) {
                event.preventDefault();
                swal({
                    title: "Plano Creado Con Exito!",
                    type: "success",
                    text: "Datos Guardados Correctamente..",
                    confirmButtonText: "Ok!",
                }, function () {

                    $("#close").click();
                });

            });
    });


</script>

