@model Ingenio.BO.AsociadosVetados_Aso

@{
    ViewBag.Title = "Create";
}

@************************************************************@



<div class="form-horizontal panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Asociados Vetados</h3>
    </div>
    <div class="panel-body" id="General">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4></h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-lg-12">

                        @***************************ASOCIADO***************************************@

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Identificacion" class="control-label">Cedula Asociado</label>
                                <input type="text" id="_Nit_CC" required  class="form-control" onkeypress="return valida(event)">
                                <input type="hidden" name="Id_Asociado" id="Id_Asociado" value="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nombre" class="control-label">Asociado:</label>
                                <input type="text" id="_nombre" required  class="form-control" readonly>
                                <input type="hidden" name="nombre" id="nombre" value="" />
                            </div>
                        </div>

                        @*******************************************************************@

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Causa" class="control-label">Causa Veto</label>

                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button" id="add">+</button>
                                    </span>
                                    <input type="text" id="_Id_Razon" required  class="form-control">
                                    <input type="hidden" id="Id_Razon" name="Id_Razon" value="" />

                                </div>


                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Aseguradora" class=" control-label">Nota</label>
                                <input type="text" id="Nota" name="Nota" required  class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/Mascaras")

<script>

    $('#add').on("click", function () {
        swal({
            title: "Agregar razon",
            text: "Escribe la nueva razon:",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            inputPlaceholder: "Descripcion de la razon"
        },
            function (inputValue) {
                if (inputValue === false)
                    return false;
                if (inputValue === "") {
                    swal.showInputError("Necesitas escribir algo!");
                    return false
                }
                $.post("@Url.Action("AddRazon")", { nombre: inputValue }, function (res) {
                    if (res) {
                        swal("Perfecto!", "Tu escribiste: " + inputValue, "success");
                    } else {
                        swal("Falló!", "Tu escribiste: " + inputValue, "error");
                    }
                })

            });
    })
    ////Autocomplete
    function renderItem(ul, item) {

        return $("<li>")
        .append("<span style='display:block'>" + item.value + "</span>")
        .append("<span style='display:block'>" + item.label + "</apan>")
        .appendTo(ul);
    }

    //AUTOCOMPLETE CEDULA

    $("#_Nit_CC").autocomplete({
        source: '@Url.Action("GetCedula", "Beneficiario")',
        minLength: 3,
        select: function (event, ui) {
            $('#_nombre').val(ui.item.label);
            $('#_Nit_CC').val(ui.item.value);
            $('#Id_Asociado').val(ui.item.idaso);
            return false;
        },
        focus: function (event, ui) {
            $('#Nit_CC').val(ui.item.value);
            return false;
        }
    })

    // SOLO NUMEROS
    function valida(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8) {
            return true;
        }
        // Patron de entrada, en este caso solo acepta numeros
        patron = /[0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }


    //AUTOCOMPLETE RAZON VETO

    $("#_Id_Razon").autocomplete({
        source: '@Url.Action("GetRazon")',
            select: function (event, ui) {
                $('#_Id_Razon').val(ui.item.label);
                $('#Id_Razon').val(ui.item.value);
                return false;
            },
            focus: function (event, ui) {
                $('#_Id_Razon').val(ui.item.label);
                return false;
            }
        })

    

    var ban = false;
    $("form").on("submit", function (e) {
        if (!ban) {
            e.preventDefault();
            swal("Error al guardar", "El asociado ya se encuentra vetado", "info");
        } else {
            $("input[data-mask]").unmask();
        }
    })


    $("#_Nit_CC").blur(function () {
        var texto = $(this).val();
        $.post("@Url.Action("CedulaValida")", {id :texto}, function(res){
            if (!res) {
                ban = false;
                swal("Error al guardar", "El asociado ya se encuentra vetado", "info");
            } else {
                ban = true;
            }
        });

    });

</script>