@model IEnumerable<FNTC.Finansoft.Accounting.DTO.MCreditos.ViewModelCostos>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:1%; background: rgb(248, 248, 248);">
    <div class="col-md-12"><h2 style="color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Configuracion</h2></div>
    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:2%;border: none; margin-left: 2%;">

        <li><a href="/Creditos/Lineas" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Lineas</a></li>
        <li><a href="/Creditos/Destinos" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Destinos</a></li>
        <li><a href="/Creditos/Subdestinos" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> SubDestinos</a></li>
        <li><a href="/Creditos/Cuentas" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Cuentas</a></li>
        <li><a href="/Creditos/Forma_Pago" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Forma Pago</a></li>
        <li><a href="/Creditos/Clase_Garantias" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Clase Garantias</a></li>
        <li><a href="/Creditos/Garantias" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Garantias</a></li>
        <li><a href="/Creditos/Tipo_Costo" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Tipo Costo</a></li>
        <li><a href="/Creditos/Tipo_Periodo" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Tipo Periodo</a></li>
        <li class="active"><a href="/Creditos/Costos_Adicionales" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Costos Adici.</a></li>
        <li><a href="/Creditos/Incrementa" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Incrementos </a></li>
        <li><a href="/Creditos/CConsecutivos" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Pagare - Libranza </a></li>
        <li><a href="/Creditos/ReporteSuper" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Reporte </a></li>
        <li><a href="/Creditos/ProcesosAutomaticos/Edit/1" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Procesos Automaticos </a></li>
        <li><a href="/Creditos/Creditos" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Procesos </a></li>

    </ul>
    <div class="tab-content contenedortabs">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Costos Adicionales</h3></div>

            <div class="col-md-12">
              <p>
    @Html.ActionLink("Crear Nuevo Costo", "Create", null, null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lineas_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destino_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Costo.Tipo_Costo_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costos_Adicionales.Cuenta_Cod)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Costos_Adicionales.CA_Nombre)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Costos_Adicionales.CA_Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costos_Adicionales.CA_Porcentaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costos_Adicionales.CA_estado)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lineas_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Costo_Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuenta_Cod)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CA_Nombre)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CA_Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CA_Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CA_estado)
            </td>

            <td>
                @*@<a data-toggle="modal" class="btn btn-success btn-xs glyphicon glyphicon-pencil" onclick="showModal('#editModalContainerID', '#editModalBodyID', @item.CA_Id)">.</a>*@
                @Html.ActionLink(".", "Edit", new { id = item.CA_Id }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-pencil" })
                @Html.ActionLink(".", "Details", new { id = item.CA_Id }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-eye-open" })
                @Html.ActionLink(".", "Delete", new { id = item.CA_Id }, new { @class = "btn btn-danger btn-xs glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>
@*EDITAR*@
<div id="editModalContainerID" class="modal fade" data-url='@Url.Action("_Edit", "Costos_Adicionales")'>
    <div id="editModalBodyID"></div>
</div>
@section Scripts
    {
    <script>
        //EDITAR
        function showModal(modalContainerId, modalBodyId, id) {
            var url = $(modalContainerId).data('url');

            $.get(url, { id: id }, function (data) {
                $(modalBodyId).html(data);
                $(modalContainerId).modal('show');
            });
        }
              
    </script>
}
             
            </div>
        </div><!--MENU-->
    </div><!--CONTENEDOR TABS-->
</div>
