@model IEnumerable<FNTC.Finansoft.Accounting.DTO.MCreditos.Real>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Real_Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagareId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Real_Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagareId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Real_Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Real_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Real_Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
