@model FNTC.Finansoft.Accounting.DTO.OperativaDeCaja.CuadreCajaPorCajero

@{
    ViewBag.Title = "Crear Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    MODIFICACIONES REALIZADAS:
    1. INTERFAZ DE USUARIO:
       - Se reemplazó el dropdown de operaciones por checkboxes individuales
       - Se mejoró el formato y presentación de las etiquetas
       - Se agregaron IDs únicos para cada checkbox
       - Se mejoró el texto de las etiquetas de operaciones
       - Se agregó opción por defecto en español en el dropdown de cuenta

    2. FUNCIONALIDAD:
       - Se implementó selección única de operaciones (solo un checkbox activo)
       - Se actualizó el manejo de habilitación/deshabilitación de checkboxes
       - Se mejoró la validación de selección de cuenta y asociado
       - Se actualizó la obtención de valores seleccionados

    3. MENSAJES Y VALIDACIONES:
       - Se mejoraron los mensajes de error en español
       - Se agregaron mensajes más descriptivos
       - Se estandarizaron los textos de validación
       - Se mejoró la presentación de alertas

    4. CÓDIGO:
       - Se actualizaron los selectores jQuery
       - Se mejoró la estructura del código JavaScript
       - Se agregaron comentarios descriptivos
       - Se optimizó el manejo de eventos

    FECHA DE MODIFICACIÓN: [Fecha actual]
    AUTOR: [Nombre del autor]
    VERSIÓN: 1.0
-->

<link href="~/Content/css/chosen.css" rel="stylesheet" />

<link href="~/Content/styleGeneral.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
<script src="~/Scripts/datatable.js"></script>
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>

@*<script src="~/Scripts/TimerSession/TimerSession.js"></script>*@
<br />
<br />
<div class="alert alert-danger alert-dismissible" id="alertFallecido">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>El usuario seleccionado se encuentra registrado como fallecido</strong>
</div>
<div class="modal-dialog" id="la" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" id="imprimir">
        <div class="modal-content">

            <h4 class="center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N° TRN: @Session["Factura" + User.Identity.Name] Desembolso Crédito
            </h4>
            <h4 class="center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha: @Session["fecha" + User.Identity.Name]
            </h4>


            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="numCuenta" />
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Codigo caja:</b>&nbsp;&nbsp;@Session["cod_caja" + User.Identity.Name]&nbsp;&nbsp;@Session["nombre_caja" + User.Identity.Name]
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Código Cajero:</b>&nbsp;&nbsp;@Session["nit" + User.Identity.Name]
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Documento del Asociado:</b>&nbsp;&nbsp;<label id="idAsociado" />
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>N° Cuenta:</b>&nbsp;&nbsp;<label id="ncuenta" />
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="nombre" />
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Pagaré:</b>&nbsp;&nbsp;&nbsp;&nbsp;<label id="pag" />
            </div>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Valor Desembolsado:</b>&nbsp;&nbsp;&nbsp;&nbsp;<label id="valor" />
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;****POR VERIFIQUE QUE LA INFORMACION<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IMPRESA ES CORRECTA****
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VIGILADO SUPERINTENDENCIA DE ECONOMIA SOLIDARIA
            </div>




        </div>
    </div>
    <p>
        @Html.ActionLink("Regresar", "CuentaOperacion")
        <input type="button" onclick="printDiv('imprimir')" value="Imprimir" />
    </p>
</div>

<div class="col-md-12" style="background: rgb(248, 248, 248)">

    @using (Html.BeginForm("CuentaOperacion", "FactOpcajas", FormMethod.Post, htmlAttributes: new { id = "FormContinuar", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <input id="lblcuenta" type="hidden">



        <div class="form-group col-md-12">
            <div class="caja2">

                <!--..................-->

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Registro Transacciones</h3></div>
                        @*<div class="col-md-2">
                                <a href="/OperativaDeCaja/FactOpcajas/CuentaOperacionEntidadDos" style="margin-top: 20px !important;" class="btn btn-inline btn-small btn-default">OTROS RECAUDOS</a>

                            </div>*@


                        <div class="col m-5">
                            <a href="/OperativaDeCaja/FactOpcajas/CuentaOperacionEntidadDos" style="margin-left: 20px !important;" class="btn btn-default" data-toggle="modal">
                                OTROS RECAUDOS
                            </a>
                            <a href="/OperativaDeCaja/FactOpcajas/CreateConsAporteEx" style="margin-left: 10px !important;" class="btn btn-default" data-toggle="modal">
                                APORTE EXTRAORDINARIO
                            </a>
                        </div>

                    </div>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row contenido">
                    <div class="form-group col-md-4">
                        <label class="control-label">Fecha:</label>
                        @*<label class="form-control" style="color:red">@Session["fecha" + User.Identity.Name]</label>*@
                        <input type="date" class="form-control" style="color:red;" value="@Session["fecha" + User.Identity.Name]">

                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">No Factura: </label>
                        <label class="form-control" style="color:red">@Session["Factura" + User.Identity.Name]</label>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Cuenta:</label>
                        @Html.DropDownList("ListaTerceros", null, "Selecione Asociado", new { @class = "chosen-select-single", @id = "CuentaAsociadoAporte" })
                        <input type="text" id="EnviarCuentaAsociadoAporte" name="cuenta" hidden="hidden">
                        <!--<input type="text" class="form-control" name="cuenta" id="cuenta" value=@Session["Seleccionada" + User.Identity.Name] autocomplete="off" required />-->
                        <p style="color:red">@ViewBag.mensaje</p>
                    </div>
                </div>
                <div class="row contenido">
                    <hr />
                    <div class="form-group col-md-4">
                        <label class="control-label">Código Caja:</label>
                        <label class="form-control">@Session["cod_caja" + User.Identity.Name]</label>
                        <h5 style="color:#274766">@Session["nombre_caja" + User.Identity.Name]</h5>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Nit Cajero:</label>
                        <label class="form-control">@Session["nit" + User.Identity.Name]</label>

                    </div>
                    <div class="form-group col-md-4">
                        <br />
                        <h5 style="color:#274766">@Session["nombre" + User.Identity.Name]</h5>
                    </div>
                </div>
                <div class="row contenido">
                    <!-- MODIFICACIÓN: Sección de checkboxes de operaciones con selección múltiple -->
                    <div class="form-check col-md-6">
                        <label class="control-label">Operación: </label> <br>
                        <!-- MODIFICACIÓN: Checkbox para Consignación de Aportes -->
                        <input class="form-check-input operacion-check" value="Cons" type="checkbox" name="operacion" id="operacion_Cons" />
                        <label class="form-check-label" for="operacion_Cons">Consignación de Aportes</label><br>

                        <!-- MODIFICACIÓN: Checkbox para Consignación de Cuota de Crédito -->
                        <input class="form-check-input operacion-check" value="Cons_Cre" type="checkbox" name="operacion" id="operacion_Cons_Cre" />
                        <label class="form-check-label" for="operacion_Cons_Cre">Consignación de Cuota de Crédito</label><br>

                        <!-- MODIFICACIÓN: Checkbox para Consignación de Ahorro Navideño -->
                        <input class="form-check-input operacion-check" value="ConsAhorroC" type="checkbox" name="operacion" id="operacion_ConsAhorroC" />
                        <label class="form-check-label" for="operacion_ConsAhorroC">Consignación de Ahorro Navideño</label><br>

                        <!-- MODIFICACIÓN: Checkbox para Retiro en Efectivo -->
                        <input class="form-check-input operacion-check" value="Ret" type="checkbox" name="operacion" id="operacion_Ret" />
                        <label class="form-check-label" for="operacion_Ret">Retiro en Efectivo</label><br>

                        <!-- MODIFICACIÓN: Checkbox para Retiro en Cheque -->
                        <input class="form-check-input operacion-check" value="Ret_che" type="checkbox" name="operacion" id="operacion_Ret_che" />
                        <label class="form-check-label" for="operacion_Ret_che">Retiro en Cheque</label><br>

                        <!-- MODIFICACIÓN: Checkbox para Desembolso de Crédito -->
                        <input class="form-check-input operacion-check" value="Des_Cre" type="checkbox" name="operacion" id="operacion_Des_Cre" />
                        <label class="form-check-label" for="operacion_Des_Cre">Desembolso de Crédito</label>
                    </div>
                    <!-- MODIFICACIÓN: Contenedor del dropdown múltiple de cuenta/pagaré -->
                    <div class="form-group col-md-3" id="itemCuenta">
                        <label class="control-label">Cuenta/Pagaré: </label>
                        <select class="form-control chosen-select-multiple" name="cuentaa" id="cuentaa" multiple>
                            <option value="0">Seleccione una opción</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-group col-md-2 col-xs-12">
                        <a href="/OperativaDeCaja/FactOpcajas/facturasCuotasCreditos" class="btn btn-inline btn-small btn-primary">Facturas Cuotas Creditos</a>
                    </div>

                    <div class="form-group col-md-2 col-xs-12">
                        <a href="/OperativaDeCaja/FactOpcajas/facturasDesembolso" class="btn btn-inline btn-small btn-primary">Facturas Desembolso</a>
                    </div>

                    <div class="form-group col-md-2 col-xs-12">
                        <a href="/OperativaDeCaja/FactOpcajas/Index" class="btn btn-inline btn-small btn-primary">Registro de Operaciones</a>
                    </div>
                    <div class="form-group col-md-2 col-xs-12">
                        <a href="/OperativaDeCaja/FactOpcajas/CuentaAportes" class="btn btn-inline btn-small btn-primary">Consulta cuentas de Aportes</a>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-group col-md-2 col-xs-12">
                            <a href="/OperativaDeCaja/FactOpcajas/ProcesosAdministrador" class="btn btn-inline btn-small btn-primary">Procesos De Administración</a>
                        </div>
                    }

                </div>

                <div class="modal-footer">
                    <div class="form-group col-lg-offset-6 col-md-4">
                        <a href="/OperativaDeCaja/FactOpcajas//Logopcaja" class="btn btn-inline btn-small btn-danger">Cancelar</a>
                        <button type="submit" id="BtnFormulario" class="btn btn-inline btn-small btn-success">Continuar</button>
                    </div>
                </div>


            </div>
        </div>
    }
    <h3 style="color:#274766">Cuadre parcial de caja</h3>
    <hr />
    <div class="form-group">

        <div class="row contenido">
            <div class="col-md-4"><label class="control-label">Consignaciones en efectivo</label></div>
            @Html.HiddenFor(model => model.consignacion_efectivo, new { id = "consignacion_efectivo" })
            <div class="col-md-2"><label class="control-label">$ <label id="txtconsignacion_efectivo"></label></label></div>


            <div class="col-md-3"><label class="control-label">Retiros por efectivo</label></div>
            <div class="col-md-3"><label class="control-label">$ @Html.DisplayFor(model => model.retiros_efectivo)</label></div>
        </div>
        <div class="row contenido">
            <div class="col-md-4"><label class="control-label">Consignaciones en Cheque</label></div>
            <div class="col-md-2"><label class="control-label">$ @Html.DisplayFor(model => model.consignacion_cheque)</label></div>
            <div class="col-md-3"><label class="control-label">Retiros por Cheque</label></div>
            <div class="col-md-3"><label class="control-label">$ @Html.DisplayFor(model => model.retiros_cheque)</label></div>
        </div>
        <div class="row contenido">
            <div class="col-md-4"><label class="control-label">Efectivo en Caja</label></div>
            @Html.HiddenFor(model => model.tope, new { id = "tope" })
            <div class="col-md-2"><label class="control-label">$ <label id="efectivoEnCajaSMiles"></label></label></div>
        </div>
    </div>
    <div id="contenido"></div>
</div>



<script>
    function printDiv(imprimir) {
        var contenido = document.getElementById(imprimir).innerHTML;
        var contenidoOriginal = document.body.innerHTML;

        document.body.innerHTML = contenido;

        window.print();

        document.body.innerHTML = contenidoOriginal;
    }</script>

<!--..................-->
<style>
    body {
        background-color: #DDD;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.mensaje != null)
    {
        <script>
            window.onload = function () {
                swal('Error', '@ViewBag.mensaje', 'warning');
            }
        </script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            // MODIFICACIÓN: Deshabilitación inicial de todos los checkboxes
            document.getElementById("operacion_Cons").disabled = true;
            document.getElementById("operacion_Cons_Cre").disabled = true;
            document.getElementById("operacion_ConsAhorroC").disabled = true;
            document.getElementById("operacion_Ret").disabled = true;
            document.getElementById("operacion_Ret_che").disabled = true;
            document.getElementById("operacion_Des_Cre").disabled = true;
            $("#la").hide();

            var tope = $("#tope").val();
            var consignacion_efectivo = $("#consignacion_efectivo").val();
            $("#efectivoEnCajaSMiles").text(formatNumberMiles.new(tope));
            $("#txtconsignacion_efectivo").text(formatNumberMiles.new(consignacion_efectivo));

            // MODIFICACIÓN: Inicialización de los dropdowns con chosen
            $(".chosen-select-single").chosen();
            $(".chosen-select-multiple").chosen({
                width: "100%",
                placeholder_text_multiple: "Seleccione las cuentas",
                no_results_text: "No se encontraron resultados"
            });

            document.getElementById('alertFallecido').style.display = 'none';

            // MODIFICACIÓN: Event listener para actualizar opciones de cuenta cuando cambian los checkboxes
            $('.operacion-check').change(function () {
                var operacionesSeleccionadas = $('.operacion-check:checked').map(function () {
                    return $(this).val();
                }).get();

                if (operacionesSeleccionadas.length > 0) {
                    $("#cuentaa").empty();
                    var nit = $("#CuentaAsociadoAporte").val();

                    // Realizar llamada AJAX para cada operación seleccionada
                    operacionesSeleccionadas.forEach(function (tipo) {
                        $.ajax({
                            url: '/OperativaDeCaja/FactOpcajas/GetCuentasItem',
                            datatype: "Json",
                            data: {
                                tipo: tipo,
                                nit: nit
                            },
                            type: 'post',
                        }).done(function (data) {
                            var select = document.getElementById("cuentaa");
                            $.each(data, function (key, val) {
                                var option = document.createElement("option");
                                option.value = val[0];
                                option.text = val[0];
                                select.appendChild(option);
                            });
                            $("#cuentaa").trigger('chosen:updated');
                        });
                    });
                } else {
                    $("#cuentaa").empty();
                    var option = document.createElement("option");
                    option.value = "0";
                    option.text = "Seleccione una opción";
                    select.appendChild(option);
                }
            });
        });
    </script>

    <script type="text/javascript">
        // MODIFICACIÓN: Manejo del cambio en la selección de cuenta
        $("#CuentaAsociadoAporte").change(function () {
            var dato = $(this).val().toString();

            if (dato == "0") {
                // MODIFICACIÓN: Deshabilitar checkboxes cuando no hay cuenta seleccionada
                document.getElementById("operacion_Cons").disabled = true;
                document.getElementById("operacion_Cons_Cre").disabled = true;
                document.getElementById("operacion_ConsAhorroC").disabled = true;
                document.getElementById("operacion_Ret").disabled = true;
                document.getElementById("operacion_Ret_che").disabled = true;
                document.getElementById("operacion_Des_Cre").disabled = true;
            } else {
                // MODIFICACIÓN: Habilitar checkboxes
                document.getElementById("operacion_Cons").disabled = false;
                document.getElementById("operacion_Cons_Cre").disabled = false;
                document.getElementById("operacion_ConsAhorroC").disabled = false;
                document.getElementById("operacion_Ret").disabled = false;
                document.getElementById("operacion_Ret_che").disabled = false;
                document.getElementById("operacion_Des_Cre").disabled = false;
            }
        });

        // MODIFICACIÓN: Manejo del cambio en la selección de cuenta/pagaré
        $("#cuentaa").change(function () {
            var cuentas = $(this).val();
            if (cuentas && cuentas.length > 0) {
                $("#lblcuenta").val(cuentas.join(','));
            } else {
                $("#lblcuenta").val("");
            }
        });

        // MODIFICACIÓN: Manejo del envío del formulario
        $("#BtnFormulario").on("click", function (e) {
            $("#BtnFormulario").prop("disabled", true);
            e.preventDefault();

            var operacionesSeleccionadas = $('.operacion-check:checked').map(function () {
                return $(this).val();
            }).get();
            var cuentas = $("#cuentaa").val();

            if (operacionesSeleccionadas.length === 0) {
                swal({
                    title: "Error",
                    text: "Por favor seleccione al menos una operación",
                    type: 'warning',
                    confirmButtonText: 'Aceptar'
                });
                $("#BtnFormulario").prop("disabled", false);
                return;
            }

            if (cuentas && cuentas.length > 0) {
                $("#EnviarCuentaAsociadoAporte").val(cuentas.join(','));
                $("#FormContinuar").submit();
            } else {
                swal({
                    title: "Error",
                    text: "Por favor seleccione al menos una cuenta",
                    type: 'warning',
                    confirmButtonText: 'Aceptar'
                });
                $("#BtnFormulario").prop("disabled", false);
            }
        });
    </script>
    <script>
        //FORMATEAR UN NUMERO
        var formatNumberMiles = {
            separador: ".", // separador para los miles
            sepDecimal: ',', // separador para los decimales
            formatear: function (num) {
                num += '';
                var splitStr = num.split('.');
                var splitLeft = splitStr[0];
                var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
                var regx = /(\d+)(\d{3})/;
                while (regx.test(splitLeft)) {
                    splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
                }
                return this.simbol + splitLeft + splitRight;
            },
            new: function (num, simbol) {
                this.simbol = simbol || '';
                return this.formatear(num);
            }
        }
        //FIN FORMATEAR UN NUMERO
        /*
        * FUNCIONALIDAD DE LA 'FUNCION'
        formatNumber.new(123456779.18, "$") // retorna "$123.456.779,18"
        formatNumber.new(123456779.18) // retorna "123.456.779,18"
        formatNumber.new(123456779) // retorna "$123.456.779"
        */
        //formatNumberMiles.new(realValor);//ACCESO A LA VARIABLE
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select-single").chosen();
            $(".chosen-select-multiple").chosen();    //DESPUES DEL FINAL DEL DOCUMENTO AL PRINCIPIO DE LOS SCRIPTS
        });

        $("#CuentaAsociadoAporte").chosen().change(function () { // comienzo

            var Ncuenta = $("#CuentaAsociadoAporte").val();
            $.ajax({
                url: '/Terceros/TercerosFallecidos/VerificaFallecido2',
                datatype: "Json",
                data: { cuenta: Ncuenta },//solo para enviar datos
                type: 'post',
            }).done(function (data) {
                if (data.status == true) {

                    document.getElementById('alertFallecido').style.display = 'block';
                }
                else if (data.status == false) {
                    document.getElementById('alertFallecido').style.display = 'none';
                }

            });
            //$("#lblcuenta").val(String(C));


        }); //fin

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {

                $.ajax({
                    type: "POST",
                    url: "/TimerSession/ValidarSession/KeepActiveSession",
                    data: {
                        nit: @User.Identity.Name,
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: VerifySessionState,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //alert(textStatus + ": " + XMLHttpRequest.responseText);
                    }
                });

            }, 300000);


            var cantValidaciones = 0;

            function VerifySessionState(result) {

                //if (result.d) {
                //    $("#EstadoSession").text("activo");
                //}
                //else
                //    $("#EstadoSession").text("expiro");

                //$("#cantValidaciones").text(cantValidaciones);
                //cantValidaciones++;

            }
        })

    </script>



}


