@model FNTC.Finansoft.Accounting.DTO.OperativaDeCaja.FactOpcaja

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="~/Content/css/chosen.css" rel="stylesheet" />
<link href="~/Content/styleGeneral.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
<link href="~/Styles/Email/Email.css" rel="stylesheet" />
<link href="https://tenor.com/view/loading-waiting-count-down-spinning-gif-14968344" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/Areas/EstadoDeCuenta/EstadoDeCuenta.js"></script>
<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
<link href="~/Content/css/compressed2.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.masknumber.js"></script>
@{
    ViewBag.Title = "Details";
}

<br><div class="modalheadergeneral"><h4><i class="fas fa-edit"></i>&nbsp;&nbsp;Detalles de Factura</h4></div>

<div class="center contenido" id="areaImprimir">
    @Html.HiddenFor(model => model.id)
    <div class="row" style="display:flex;justify-content:center;">
        <h4>
            N° TRN: @Html.DisplayFor(model => model.factura)&nbsp; @Html.DisplayFor(model => model.operacion)
        </h4>
    </div>
    <div class="row" style="display:flex;justify-content:center;margin-top:-15px">
        <h4>
            Fecha: @Html.DisplayFor(model => model.fecha)
        </h4>
    </div>
    <br />
    <div class="row" style="margin-left:2%">
        <p class="col-md-12"><b>Id:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.id)</p>
        @Html.HiddenFor(model => model.id, new { id = "idRecibo" })

        <p class="col-md-12"><b>Código caja:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.codigo_caja)&nbsp;&nbsp;@Html.DisplayFor(model => model.Caja.Nombre_caja)</p>
        <p class="col-md-12"><b>Código Cajero:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.nit_cajero)</p>
        <p class="col-md-12"><b>Documento Del Asociado:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.nit_propietario_cuenta)</p>
        @Html.HiddenFor(model => model.nit_propietario_cuenta, new { id = "Tercero" })
        <p class="col-md-12"><b>N° Cuenta:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.numero_cuenta)</p>
        <p class="col-md-12"><b>Nombre Del Asociado:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.terceroFK.NombreComercial)@Html.DisplayFor(model => model.terceroFK.NOMBRE1)&nbsp;@Html.DisplayFor(model => model.terceroFK.NOMBRE2)&nbsp;@Html.DisplayFor(model => model.terceroFK.APELLIDO1)&nbsp;@Html.DisplayFor(model => model.terceroFK.APELLIDO2)</p>
        <br />
        @Html.HiddenFor(model => model.valor_recibido, new { id = "valor_recibido" })
        @Html.HiddenFor(model => model.valor_efectivo, new { id = "valor_efectivo" })
        @Html.HiddenFor(model => model.vueltas, new { id = "vueltas" })
        <p class="col-md-12"><b>Valor Efectivo Recibido:</b>&nbsp;&nbsp; $<label id="txtvalor_recibido"></label><b><br />Valor Efectivo Consignar:</b>&nbsp;&nbsp;$<label id="txtvalor_efectivo"></label><br /><b>Cambio:</b>&nbsp;&nbsp;$<label id="txtvueltas"></label></p>
        @if (ViewBag.movimientos != null && Model.IdProducto == 1)
        {
            <br />
            foreach (var item in ViewBag.movimientos)
            {
                <p class="col-md-12"><b>@item.cuentaFK.NOMBRE&nbsp;&nbsp;&nbsp;&nbsp;$@item.CREDITO.ToString("N0")</b></p>

            }
        }
        <p class="col-md-12"><b>Cheques:</b>&nbsp;&nbsp;$@Html.DisplayFor(model => model.total_cheques)</p>
        <br />
        @Html.HiddenFor(model => model.total, new { id = "total" })
        <p class="col-md-12"><b>Valor Total Consignado</b>&nbsp;&nbsp;$<label id="txttotal"></label></p>
        <br />

    </div>
    <div class="row" style="display:flex;justify-content:center;">
        <p class="col-md-10 align-center" style="font-size:10px;">****POR FAVOR VERIFIQUE QUE LA INFORMACION IMPRESA ES CORRECTA****</p>
    </div>
    <div class="row" style="display:flex;justify-content:center;">
        <p class="col-md-10 align-center" style="font-size:10px;">VIGILADO SUPERINTENDENCIA DE ECONOMIA SOLIDARIA</p>
    </div>
    <div style=" position: relative; top: 0px;  left: 100px;  background-color: white;  width: 450px;">
        <div class="dl-horizontal">

            @*<div class="row">
                    <table class="col-md-6" style=" position: relative; top: 0px;  left: 30px;  background-color: white;  width: 350px;" border="1">

                        <tr>
                            <td><b>Código</b></td>
                            <td><b>N° cheque</b></td>
                            <td><b>Valor Discriminado</b></td>
                        </tr>
                        @if (Model.valor_cheque != 0)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.nit_consignacion)

                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.numero_cheque)

                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;$@Html.DisplayFor(model => model.valor_cheque)
                                </td>
                            </tr>
                        }
                        @if (Model.valor_cheque1 != 0)
                        {
                            <tr>
                                <td>

                                    @Html.DisplayFor(model => model.nit_consignacion1)
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.numero_cheque1)
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;$@Html.DisplayFor(model => model.valor_cheque1)
                                </td>
                            </tr>
                        }
                        @if (Model.valor_cheque2 != 0)
                        {
                            <tr>
                                <td>

                                    @Html.DisplayFor(model => model.nit_consignacion2)
                                </td>
                                <td>

                                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.numero_cheque2)
                                </td>
                                <td>

                                    &nbsp;&nbsp;&nbsp;&nbsp;$@Html.DisplayFor(model => model.valor_cheque2)
                                </td>
                            </tr>
                        }
                        @if (Model.valor_cheque3 != 0)
                        {
                            <tr>
                                <td>

                                    @Html.DisplayFor(model => model.nit_consignacion3)
                                </td>
                                <td>

                                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.numero_cheque3)
                                </td>
                                <td>

                                    &nbsp;&nbsp;&nbsp;&nbsp;$@Html.DisplayFor(model => model.valor_cheque3)
                                </td>
                            </tr>
                        }
                        @if (Model.valor_cheque4 != 0)
                        {

                            <tr>
                                <td>

                                    @Html.DisplayFor(model => model.nit_consignacion4)
                                </td>
                                <td>

                                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.numero_cheque4)
                                </td>
                                <td>

                                    &nbsp;&nbsp;&nbsp;&nbsp;$@Html.DisplayFor(model => model.valor_cheque4)
                                </td>
                            </tr>
                        }
                        @if (Model.valor_cheque5 != 0)
                        {
                            <tr>
                                <td>

                                    @Html.DisplayFor(model => model.nit_consignacion5)
                                </td>
                                <td>

                                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.numero_cheque5)
                                </td>
                                <td>

                                    &nbsp;&nbsp;&nbsp;&nbsp;$@Html.DisplayFor(model => model.valor_cheque5)
                                </td>
                            </tr>
                        }

                    </table>
                </div>*@

            <div class="row">

            </div>
            @*<div class="row">
                    <p class="col-md-6"><b>&nbsp;&nbsp;&nbsp;&nbsp;Cuota Numero:</b>&nbsp;&nbsp;<label id="aporteNumero"></label></p>
                </div>*@
            <div class="row">

            </div>


        </div>
    </div>


    @* ENVIAR FACTURA POR CORREO *@

    <div id="modalcargar" class="modal fade" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="modal-dialog">
            <div class="modal-content">
                <center>
                    <h3>
                        <b>Enviando factura de Aportes!!</b>
                        <p>Por favor espere...</p>
                    </h3>
                </center>
                <div class="loader">
                    <center>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />

                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#274766">
                    <h5 class="modal-title" id="exampleModalLabel" style="color:white;"><b>Envío por correo</b></h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Asunto:</label>
                            <input type="text" class="form-control" id="txtAsunto" placeholder="FACTURA APORTES ASOPASCUALINA" value="FACTURA APORTES ASOPASCUALINA" readonly>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Mensaje:</label>
                            <textarea class="form-control" id="txtMensaje" readonly>Señor(a) usuario, la asociacion mutual "Asopascualina" le comparte su factura de Aportes.
                                </textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="btnEnviaCorreoAportes">Envíar</button>
                </div>
            </div>
        </div>
    </div>




</div>


<p>
    <button id="btnRegresar" class="btn btn-default">Regresar</button>
    <input type="button" class="btn btn-default" onclick="printDiv('areaImprimir')" value="Imprimir" />
    <button type="button" id="BtnEnviarEmailAportes" class="btn btn-default">Enviar por correo</button>
</p>


<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/Email/EmailAportes.js"></script>
<script src="~/Scripts/datatable.js"></script>
<script src="~/Scripts/sweetalert2@9.js"></script>


@Scripts.Render("~/bundles/jqueryval")
@if (ViewBag.mensaje != null)
{
    <script>

		window.onload = function () {
			swal('Error', '@ViewBag.mensaje', 'warning');
		}
    </script>
}

<script>
    //$("#aporteNumero").text("1");
    //alert($("#nitAsociado").val());
    $("#btnRegresar").click(function () {
        document.getElementById("btnRegresar").disabled = true;
        window.location.href = "/OperativaDeCaja/FactOpcajas/CuentaOperacion";
    });

    @*$(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAporteNumero", "FactOpcajas")",
            datatype: "Json",
            data: {
                nitAsociado: $('#nitAsociado').val(),
                id: $('#id').val()
            },
            success: function (data) {
                $("#aporteNumero").text(data);
            }
        });
    });*@


    $(document).ready(function () {

        var valor_recibido = $("#valor_recibido").val();
        var valor_efectivo = $("#valor_efectivo").val();
        var vueltas = $("#vueltas").val();
        var total = $("#total").val();
        $("#txtvalor_recibido").text(formatNumberMiles.new(valor_recibido));
        $("#txtvalor_efectivo").text(formatNumberMiles.new(valor_efectivo));
        $("#txtvueltas").text(formatNumberMiles.new(vueltas));
        $("#txttotal").text(formatNumberMiles.new(total));

		/*despues probar*/
		$('[name=recibidotxt]').maskNumber({ integer: true });

	});





	function printDiv(areaImprimir) {
		var contenido = document.getElementById(areaImprimir).innerHTML;
		var contenidoOriginal = document.body.innerHTML;

		document.body.innerHTML = contenido;

		window.print();

        document.body.innerHTML = contenidoOriginal;
        window.location.reload();
	}

</script>

<script>
    //FORMATEAR UN NUMERO
    var formatNumberMiles = {
        separador: ".", // separador para los miles
        sepDecimal: ',', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }
    //FIN FORMATEAR UN NUMERO
    /*
    * FUNCIONALIDAD DE LA 'FUNCION'
    formatNumber.new(123456779.18, "$") // retorna "$123.456.779,18"
    formatNumber.new(123456779.18) // retorna "123.456.779,18"
    formatNumber.new(123456779) // retorna "$123.456.779"
    */
    //formatNumberMiles.new(realValor);//ACCESO A LA VARIABLE
</script>