@model FNTC.Finansoft.Accounting.DTO.OperativaDeCaja.factOpCajaConsCuotaCredito
<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
<link href="~/Content/css/compressed2.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.masknumber.js"></script>
@{
    ViewBag.Title = "Details";
}

<div class="modalheadergeneral"><h4><i class="fas fa-edit"></i>&nbsp;&nbsp;Detalles de Factura</h4></div>

<div class="center contenido" id="areaImprimir">
    <div class="row" style="display:flex;justify-content:center;">
        <h4>
            N° TRN: @Html.DisplayFor(model => model.factura)&nbsp; Consignación abono crédito
        </h4>
    </div>
    <div class="row" style="display:flex;justify-content:center;margin-top:-15px">
        <h4>
            Fecha: @Html.DisplayFor(model => model.fecha)
        </h4>
    </div>
    <br />
    <div class="row" style="margin-left:2%">
        <p class="col-md-12"><b>Código caja:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.codigoCaja)
        <p class="col-md-12"><b>Cédula Cajero:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.nitCajero)</p>
        <p class="col-md-12"><b>Documento Del Asociado:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.NIT)</p>
        <p class="col-md-12">@Html.DisplayFor(model => model.Terceros.NOMBRE1)&nbsp;@Html.DisplayFor(model => model.Terceros.NOMBRE2)&nbsp;@Html.DisplayFor(model => model.Terceros.APELLIDO1)&nbsp;@Html.DisplayFor(model => model.Terceros.APELLIDO2)</p>
        <p class="col-md-12"><b>Pagaré:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.pagare)</p>
        <p class="col-md-12"><b>Cuota Numero:</b>&nbsp;&nbsp;@Html.DisplayFor(model => model.numeroCuota)</p>
        <p class="col-md-12"><b>Abono a Capital:</b>&nbsp;&nbsp;<label id="abonoCapital">$ @Html.DisplayFor(model => model.abonoCapital)</label></p>
        <p class="col-md-12"><b>Interes Corriente:</b>&nbsp;&nbsp;<label id="interesCorriente">$ @Html.DisplayFor(model => model.interesCorriente)</label></p>
        <p class="col-md-12"><b>Interes Mora:</b>&nbsp;&nbsp;<label id="interesMora">$ @Html.DisplayFor(model => model.interesMora)</label></p>
        <p class="col-md-12"><b>Valor Seguro:</b>&nbsp;&nbsp;<label id="seguros">$ @Html.DisplayFor(model => model.seguros)</label></p>
        <p class="col-md-12"><b>Valor Administración:</b>&nbsp;&nbsp;<label id="seguros">@Html.DisplayFor(model => model.CtoAdmon)</label></p>
        <p class="col-md-12"><b>Total:</b>&nbsp;&nbsp;<label id="valorConsignado">$ @Html.DisplayFor(model => model.valorConsignado)</label></p>
        <p class="col-md-12"><b>Saldo Capital:</b>&nbsp;&nbsp;<label id="saldoCapital">$ @Html.DisplayFor(model => model.saldoCapital)</label></p>

    </div>
    <div class="row" style="display:flex;justify-content:center;">
        <p class="col-md-10 align-center" style="font-size:10px;">****POR FAVOR VERIFIQUE QUE LA INFORMACION IMPRESA ES CORRECTA****</p>
    </div>
    <div class="row" style="display:flex;justify-content:center;">
        <p class="col-md-10 align-center" style="font-size:10px;">VIGILADO SUPERINTENDENCIA DE ECONOMIA SOLIDARIA</p>
    </div>

</div>

<p>
    <button id="btnRegresar" class="btn btn-default">Regresar</button>
    <input type="button" onclick="printDiv('areaImprimir')" value="Imprimir" />
    <button class="btn btn-default" id="BtnExcel">Excel</button>
</p>

<script>
    $("#btnRegresar").click(function () {
        document.getElementById("btnRegresar").disabled = true;
        window.location.href = "/OperativaDeCaja/FactOpcajas/CuentaOperacion";
    });

    $("#BtnExcel").click(function () {
        var Id = $("#id").val();
        window.location.href = "/Creditos/ProcesosCrediticios/FacturaExcel?id="+Id;
    });

    $(document).ready(function () {
        var abonoCapital = $("#abonoCapital").text();
        var interesCorriente = $("#interesCorriente").text();
        var interesMora = $("#interesMora").text();
        var seguros = $("#seguros").text();

        var saldoCapital = $("#saldoCapital").text();
        //$("#abonoCapital").text(formatNumberMiles.new(abonoCapital));
        //$("#interesCorriente").text(formatNumberMiles.new(interesCorriente));
        //$("#interesMora").text(formatNumberMiles.new(interesMora));
        //$("#seguros").text(formatNumberMiles.new(seguros));
        //$("#valorConsignado").text(formatNumberMiles.new($("#valorConsignado").text()));
        //if (saldoCapital == "") {
        //    $("#saldoCapital").text("0");
        //} else {
        //    $("#saldoCapital").text(formatNumberMiles.new(saldoCapital));
        //}
        
	});

	function printDiv(areaImprimir) {
		var contenido = document.getElementById(areaImprimir).innerHTML;
		var contenidoOriginal = document.body.innerHTML;

		document.body.innerHTML = contenido;

		window.print();

        document.body.innerHTML = contenidoOriginal;
        window.location.reload();
	}

</script>

<script>
    //FORMATEAR UN NUMERO
    var formatNumberMiles = {
        separador: ".", // separador para los miles
        sepDecimal: ',', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }
        //FIN FORMATEAR UN NUMERO
        /*
        * FUNCIONALIDAD DE LA 'FUNCION'
        formatNumber.new(123456779.18, "$") // retorna "$123.456.779,18"
        formatNumber.new(123456779.18) // retorna "123.456.779,18"
        formatNumber.new(123456779) // retorna "$123.456.779"
        */
        //formatNumberMiles.new(realValor);//ACCESO A LA VARIABLE
</script>