@model FNTC.Finansoft.Accounting.DTO.OperativaDeCaja.factOpCajaConsCuotaCredito

@{
    ViewBag.Title = "EditFacturaCredito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="col-md-12" style="background: rgb(248, 248, 248)">

    <div class="form-group">
        <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Editar Número de Factura</h3></div>
    </div>


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.fecha)
    @Html.HiddenFor(model => model.NIT)
    @Html.HiddenFor(model => model.codigoCaja)
    @Html.HiddenFor(model => model.pagare)
    @Html.HiddenFor(model => model.valorConsignado)
    @Html.HiddenFor(model => model.nitCajero)
    @Html.HiddenFor(model => model.abonoCapital)
    @Html.HiddenFor(model => model.numeroCuota)
    @Html.HiddenFor(model => model.interesCorriente)
    @Html.HiddenFor(model => model.interesMora)
    @Html.HiddenFor(model => model.seguros)
    @Html.HiddenFor(model => model.saldoCapital)
    @Html.HiddenFor(model => model.FormaPago)

<div class="row" style="margin-left:5%;margin-right:5%">
    <div class="row">
        <div class="form-group">
            <div class="col-md-6 col-xs-12">
                <label>Número Factura</label>
                @Html.EditorFor(model => model.factura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.factura, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-success" />
            <a href="/OperativaDeCaja/FactOpcajas/facturasCuotasCreditos" class="btn btn-danger">Regresar</a>
        </div>
    </div>
    
</div>

    

    
</div>
}

<div>
    
</div>
