@model FNTC.Finansoft.Accounting.DTO.ViewModels.Creditos.ViewModelInfoCredito

@{
    ViewBag.Title = "Pagos de Crédito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery.masknumber.js"></script>



<link href="~/Content/styleGeneral.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="~/Scripts/datatable.js"></script>
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/Creditos/PagoCredito.js"></script>
<script src="~/Scripts/sweetalert2@10.js"></script>
<script src="~/Scripts/FormatoMiles.js"></script>
<style>
    .sinborde {
        border: 0;
        background-color: #f8f8f8;
        outline: none;
    }

    .input:read-only {
        background-color: #f8f8f8;
    }
</style>

<div class="row" style="background: rgb(248, 248, 248);margin-left:3%;margin-right:3%">
    <div class="row" style="margin-left:1%;margin-right:1%">
        <div class="form-group">
            <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Pago de Crédito</h3></div>
        </div>
    </div>

    <div class="row" style="margin-left:2%;margin-right:2%">
        <div class="row" style="margin-left:0.2%;margin-right:0.2%">
            <div class="card" style="background-color:#f8f8f8">
                <div class="card-header" style="background-color:#f8f8f8;color:black;border-radius:5px;">
                    <b>INFORMACIÓN CAJERO:</b>
                </div>
                <div class="card-body" style="background-color:white;margin-top:1%">
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            <label>Código Caja:</label>
                            @Html.EditorFor(model => model.CodigoCaja, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            <label>Nit Cajero:</label>
                            @Html.EditorFor(model => model.NitCajero, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Nombre Cajero:</label>
                            @Html.EditorFor(model => model.NombreCajero, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left:0.2%;margin-right:0.2%">
            <div class="card" style="background-color:#f8f8f8">
                <div class="card-header" style="background-color:#f8f8f8;color:black;border-radius:5px;">
                    <b>INFORMACIÓN USUARIO:</b>
                </div>
                <div class="card-body" style="background-color:#f8f8f8;margin-top:1%">
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label>Pagaré:</label>
                                @Html.EditorFor(model => model.Pagare, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label>Nit:</label>
                                @Html.EditorFor(model => model.NitUsuario, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>Nombre:</label>
                                @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Saldo Capital:</label>
                                @Html.EditorFor(model => model.SaldoCapital, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Capital en Mora:</label>
                                @Html.EditorFor(model => model.CapitalMora, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Interés Pendiente:</label>
                                @Html.EditorFor(model => model.ICPendiente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Interés Mora Pendiente:</label>
                                @Html.EditorFor(model => model.IMPendiente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Valor Seguro Pendiente:</label>
                                @Html.EditorFor(model => model.SeguroPendiente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Cuota Administración Pendiente:</label>
                                @Html.EditorFor(model => model.CtoAdmonPendiente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Estado:</label>
                                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Valor Total Crédito al Dia:</label>
                                @Html.EditorFor(model => model.TotalCreditoPendiente, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label>Valor Total Liquidar Crédito:</label>
                                @Html.EditorFor(model => model.TotalCreditoLiquidar, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control sinborde" } })
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left:0.2%;margin-right:0.2%">
            <div class="card" style="background-color:#f8f8f8">
                <div class="card-header" style="background-color:#f8f8f8;color:black;border-radius:5px;">
                    <b>CUOTAS POR PAGAR:</b>
                </div>
                <div class="card-body" style="background-color:#f8f8f8;margin-top:1%">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><b>#</b></th>
                                    <th><b>N° CUOTA</b></th>
                                    <th><b>ESTADO</b></th>
                                    <th><b>CAPITAL</b></th>
                                    <th><b>INTERÉS CORRIENTE</b></th>
                                    <th><b>INTERÉS MORA</b></th>
                                    <th><b>SEGURO</b></th>
                                    <th><b>ADMINISTRACIÓN</b></th>
                                    <th><b>DIAS EN MORA</b></th>
                                    <th><b>FECHA PAGO OPORTUNO</b></th>
                                    <th><b>TOTAL CUOTA</b></th>
                                    <th><b>Seleccionar</b></th>
                                </tr>
                            </thead>
                            <tbody id="tbCuotasPagar">
                                @foreach (var item in Model.Cuotas)
                                {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.NumCuota</td>
                                    @if (item.EstadoEnCredito != "EM")
                                    {
                                        <td>AL DIA</td>
                                    }
                                    else { <td>EN MORA</td>}
                                    <td>@item.Capital.ToString("N0")</td>
                                    <td>@item.InteresCorriente.ToString("N0")</td>
                                    <td>@item.InteresMora.ToString("N0")</td>
                                    <td>@item.Seguro.ToString("N0")</td>
                                    <td>@item.CtoAdmon.ToString("N0")</td>
                                    <td>@item.DiasMora</td>
                                    <td>@item.FechaPago.ToString("dd-MM-yyyy")</td>
                                    <td>@item.ValorCuota.ToString("N0")</td>
                                    <td><input type="checkbox" class="form-control-sm chkcalcular" name="@item.Id" id="@item.Id" /></td>
                                </tr>
                                
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left:0.2%;margin-right:0.2%">
            <div class="card" style="background-color:#f8f8f8">
                <div class="card-header" style="background-color:#f8f8f8;color:black;border-radius:5px;">
                    <b>OPERACIÓN:</b>
                </div>
                <div class="card-body" style="background-color:#f8f8f8;margin-top:1%">
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label>Forma de Pago:</label>
                                <select class="form-control" id="SelectFormaPago">
                                    <option value="EFE">Efectivo</option>
                                    <option value="CON">Consignación</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label>Fecha de Pago:</label>
                                <input class="form-control" type="date" id="FechaPago" />
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label>Número Factura:</label>
                                <input class="form-control" type="text" id="NumFactura" placeholder="Opcional" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label>Opción:</label>
                                <select class="form-control" id="SelectPago">
                                    <option value="PA">Pago cuota actual/más antigua</option>
                                    <option value="AB">Abono</option>
                                    <option value="PC">Poner crédito al dia</option>
                                    <option value="LC">Liquidar crédito</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label>Valor a Pagar:</label>
                                <input class="form-control miles" type="text" id="ValorPagar" value="@Model.CuotaActual" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Valor Recibido:</label>
                                <input class="form-control miles" type="text" id="ValorRecibido" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Cambio:</label>
                                <input class="form-control" type="text" id="Cambio" readonly />
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left:0.2%;margin-right:0.2%">
            <button class="btn btn-primary" id="RealizarPago">Realizar Pago</button>
            <button class="btn btn-danger" id="Cancelar">Cancelar</button>
        </div>
        <br />
    </div>


</div>

<style>
    body {
        background-color: #DDD;
    }
</style>




