@model FNTC.Finansoft.Accounting.DTO.MCreditos.Tipo_Periodo

@{
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
}

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta Seguro de Eliminar Este Registro??</h3>
<div>
    <h4>Tipo_Periodo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Periodo_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Periodo_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Periodo_Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Periodo_Valor)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
