@model FNTC.Finansoft.Accounting.DTO.FabricaCreditos.FCDependencias

@{
    ViewBag.Title = "Fábrica de Crédito";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
}

<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<div class="container" style="margin-top:2%; background: rgb(248, 248, 248);">
    <!--<div class="col-md-1">
        <a class="" href="/Aportes/Aportes/Index" title="Atras">
            <i class="fa fa-arrow-circle-o-left fa-2x " aria-hidden="true">Volver</i>
        </a>
    </div>-->

    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:0%;border: none; margin-left: 2%;">
        <li><a href="/FabricaCreditos/CrearConfiguracion/Vista" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Configuración </a></li>
        <li><a href="/FabricaCreditos/ActividadesAsociados" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Actividades </a></li>
        <li class="active"><a href="/FabricaCreditos/Dependencias" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Dependencias </a></li>
        <li><a href="/FabricaCreditos/MotivosDevolucion" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Devolución </a></li>
        <li><a href="/FabricaCreditos/Documentos" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Documentos </a></li>
        <li><a href="/FabricaCreditos/DocumentosActividad" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Documentos Por Actividad </a></li>
        <li><a href="/FabricaCreditos/EntesAprobacion" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Entidades </a></li>
        <li><a href="/FabricaCreditos/CentralRiesgo" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Centrales</a></li>
        <li><a href="/FabricaCreditos/RolesUsuario" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Roles Usuario</a></li>
    </ul>

</div>
<div class="tab-content contenedortabs">
    <div id="menu1" class="tab-pane fade in active">
        <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Dependencias - Editar</h3></div>
        <div class="col-md-12">
            <div class="col m-5">
                <a href="/FabricaCreditos/Dependencias/Index" class="btn btn-primary" data-toggle="modal">
                    Regresar
                </a>
            </div></br>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Dependencias", new { area = "FabricaCreditos" }, FormMethod.Post, new { id = "theForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.idDependencia)

                    <div class="form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input id="modo" name="modo" hidden readonly />
                        <input id="idConfiguracion" name="idConfiguracion" hidden readonly />
                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.nombreDependencia, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nombreDependencia, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })
                                @Html.ValidationMessageFor(model => model.nombreDependencia, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.montoMinimo, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.montoMinimo, new { htmlAttributes = new { @class = "form-control", oninput = "this.value = this.value.replace(/[^0-9]/g,'')" } })
                                @Html.ValidationMessageFor(model => model.montoMinimo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.montoMaximo, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.montoMaximo, new { htmlAttributes = new { @class = "form-control", oninput = "this.value = this.value.replace(/[^0-9]/g,'')" } })
                                @Html.ValidationMessageFor(model => model.montoMaximo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="modal-footer">

                                <button id="" type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

