@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/sweetalert.min.js"></script>

<script src="~/Scripts/sweetalert2@10.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/FormularioApertura/NuevoFormulario.js"></script>


<a href="/FormularioApertura/FormularioApertura/Index">
    <i id="arrowLeft" class="fa fa-arrow-circle-o-left fa-3x navArrows" aria-hidden="true" alt="left arrow" style="margin-left:-30px; margin-top: 30px;
     margin-block-start:10px;   opacity: 0.5; display: block; color: rgb(17, 82, 143); "></i>
</a>


<div class="container" style="margin-top: 1%; background: rgb(248, 248, 248); width: 1200px; left: 100px;">

    @{
        if (TempData["exito"] != null)
        {
            <br />
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Información!</strong> @TempData["exito"]
            </div>
        }
    }
    @{
        if (TempData["error"] != null)
        {
            <br />
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Advertencia!!</strong> @TempData["error"]
            </div>
        }
    }

    <div class="row" style="background: rgb(248, 248, 248); margin-block-start:30px">
        <form action="@Url.Action("EditarFormulario", "FormularioApertura")" method="post" id="idForm" enctype="multipart/form-data">
            <br />
            <div class="row" style="width:95%;margin-left:2%">
                <div class="card">
                    <div class="card-header cardHead" style="background-color:#f7f7f7;border:solid 1px;border-color:#dfdfdf;border-start-end-radius:5px;border-start-start-radius:5px">
                        <h4>&nbsp;<b style=" margin-left:43%; color: #2B7785">Editar Formulario</b></h4>
                    </div>
                    <div class="card-body cardBody" style="background-color: #ffffff; border: solid 1px; border-color: #dfdfdf; border-end-end-radius: 5px; border-end-start-radius: 5px;">
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="centrado">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="form-group">
                                            <label for="documento">Número de Identificación</label>
                                            <input type="text" style="margin-left:10px" class="placeholder" id="documento" name="documento" readonly="readonly" value=@TempData["documento"]>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="centrado">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="form-group">
                                            <label for="nombre"> Nombre: @TempData["nombre"]</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="centrado">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="form-group">
                                            <label for="fechaAf">Fecha de Apertura</label>
                                            <input class="form-control" id="fechaAf" type="date" name="fechaAf" value="@ViewBag.Fecha" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="centrado">
                                    <div class="col-md-10 col-xs-12">
                                        <div class="form-group">
                                            <label for="archivo">Cargue el nuevo formulario (PFD o WORD)</label>
                                            <input type="file" name="archivo" id="archivo" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row" style="margin-left:3%">
                            <a href="/FormularioApertura/FormularioApertura/Index" class="btn btn-sm btn-danger" id="regresar"><i class="fa fa-arrow-left"></i>&nbsp;Cancelar</a>
                            <button type="button" class="btn btn-sm btn-success" id="btnGuardarCambios"><i class="fa fa-archive"></i>&nbsp;Guardar Cambios</button>
                        </div>
                        <br />
                    </div>

                </div>
            </div>

        </form>

    </div>
</div>

