@model FNTC.Finansoft.Accounting.DTO.ActivosFijos.UbicacionFisica

@{
    Layout = "~/Views/Shared/_LayoutActivosFijos.cshtml";
}

@{
    ViewBag.Title = "Eliminar";
}

<h4>Seguro desea eliminar este elemento?</h4>

<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.codigo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.codigo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.nombre)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.nombre)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Regresar a la Lista", "Index")
    </div>
}
