@model FNTC.Finansoft.Accounting.DTO.FabricaCreditos.FCSolicitudes

@{

    ViewBag.Title = "Analisis Financiero";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
    var idSolicitud = ViewBag.idSolicitud;

}



@using (Html.BeginForm("AnalisisFinancieroIE", "ModificarInf", new { area = "FabricaCreditos" }, FormMethod.Post, new { id = "theForm" }))
{
    @Html.AntiForgeryToken()

<div class="form">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idSolicitud)


    <div class="form" align='center'><h3><span class="label label-primary">Informacion Financiera</span></h3></div>

    <div class="form"><h3><span class="label label-info">Ingresos Empresa Mes</span></h3></div>
    <div class="row">

        <div class="form-group col-md-6">
            <label>+ Ventas Mensuales (Ingresos negocio):</label>
            <input type="text" name="Ventas" id="Ventas" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-6">
            <label>- Compras Mensuales (Compras negocio):</label>
            <input type="text" name="Compras" id="Compras" placeholder="" class="form-control miles" autocomplete="off" />

        </div>

    </div>
    <div class="row">


        <div class="form-group col-md-6">
            <label>+ Otros Ingresos :</label>
            <input type="text" name="IngresosNegocio" id="IngresosNegocio" placeholder="" class="form-control miles" autocomplete="off" />

        </div>

    </div>

    <div class="form"><h3><span class="label label-info">Egresos Empresa Mes</span></h3></div>
    <div class="row">

        <div class="form-group col-md-6">
            <label>+ Préstamos (Capital e interés):</label>
            <input type="text" name="PrestamosCI" id="PrestamosCI" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-6">
            <label>+ Arriendo:</label>
            <input type="text" name="Arriendo" id="Arriendo" placeholder="" class="form-control miles" autocomplete="off" />

        </div>


    </div>

    <div class="row">

        <div class="form-group col-md-6">
            <label>+ Sueldos y Prestaciones sociales:</label>
            <input type="text" name="SueldoPS" id="SueldoPS" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-6">
            <label>+ Servicios Publicos:</label>
            <input type="text" name="ServiciosPublicos" id="ServiciosPublicos" placeholder="" class="form-control miles" autocomplete="off" />

        </div>


    </div>

    <div class="row">

        <div class="form-group col-md-6">
            <label>+ Otros Egresos:</label>
            <input type="text" name="OtrosEgresos" id="OtrosEgresos" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-6">
            <label>+ Descripción de Otros Egresos:</label>

            @Html.EditorFor(model => model.DescripcionEgresos, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })

        </div>


    </div>

    <div class="form"><h3><span class="label label-info">Activos</span></h3></div>
    <div class="row">

        <div class="form-group col-md-4">
            <label>+ Caja y Bancos:</label>
            <input type="text" name="CajaBancos" id="CajaBancos" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Inversiones (Titulos valor):</label>
            <input type="text" name="Inversiones" id="Inversiones" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Cuentas por Cobrar (Deudores):</label>
            <input type="text" name="CuentasPorCobrar" id="CuentasPorCobrar" placeholder="" class="form-control miles" autocomplete="off" />

        </div>

    </div>
    <div class="row">

        <div class="form-group col-md-4">
            <label>+ Mercancías (En proceso, terminados):</label>
            <input type="text" name="Mercancias" id="Mercancias" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Muebles y Enseres (Incluye los del negocio):</label>
            <input type="text" name="MueblesYEnseres" id="MueblesYEnseres" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Vehículos:</label>
            <input type="text" name="Vehiculos" id="Vehiculos" placeholder="" class="form-control miles" autocomplete="off" />

        </div>

    </div>
    <div class="row">

        <div class="form-group col-md-4">
            <label>+ Terrenos y Edificios:</label>
            <input type="text" name="TerrenosYEdificios" id="TerrenosYEdificios" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Otros Activos:</label>
            <input type="text" name="OtrosActivos" id="OtrosActivos" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Descripcion Activos:</label>

            @Html.EditorFor(model => model.DescripcionActivos, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })

        </div>

    </div>
    <div class="form"><h3><span class="label label-info">Pasivos</span></h3></div>
    <div class="row">

        <div class="form-group col-md-4">
            <label>+ Proveedores (Cuentas por pagar):</label>
            <input type="text" name="Proveedores" id="Proveedores" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Obligaciones Financieras:</label>
            <input type="text" name="Obligaciones" id="Obligaciones" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Otros Pasivos:</label>
            <input type="text" name="OtrosPasivos" id="OtrosPasivos" placeholder="" class="form-control miles" autocomplete="off" />

        </div>

    </div>
    <div class="form"><h3><span class="label label-info">Ingresos Personales Mes</span></h3></div>
    <div class="row">

        <div class="form-group col-md-4">
            <label>+ Salario/Pension:</label>
            <input type="text" name="Salario" id="Salario" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Otros Ingresos:</label>
            <input type="text" name="OtrosIngresos" id="OtrosIngresos" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Descripcion:</label>

            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })

        </div>

    </div>
    <div class="form"><h3><span class="label label-info">Egresos Personales Mes</span></h3></div>
    <div class="row">

        <div class="form-group col-md-4">
            <label>+ Gastos Asociados a Renta de Inmuebles:</label>
            <input type="text" name="Renta" id="Renta" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Gastos Asociados a Prestamos Financieros:</label>
            <input type="text" name="Prestamo" id="Prestamo" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Gastos por Trasporte:</label>
            <input type="text" name="Transporte" id="Transporte" placeholder="" class="form-control miles" autocomplete="off" />

        </div>

    </div>
    <div class="row">

        <div class="form-group col-md-4">
            <label>+ Alimentacion:</label>
            <input type="text" name="Alimentacion" id="Alimentacion" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Ropa - Deportes - Ocio:</label>
            <input type="text" name="RDO" id="RDO" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Servicios Publicos:</label>
            <input type="text" name="Servicios" id="Servicios" placeholder="" class="form-control miles" autocomplete="off" />

        </div>

    </div>
    <div class="row">

        <div class="form-group col-md-4">
            <label>+ Pago Internet - Planes Moviles:</label>
            <input type="text" name="IntPM" id="IntPM" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Otros Gastos:</label>
            <input type="text" name="OtrosGastos" id="OtrosGastos" placeholder="" class="form-control miles" autocomplete="off" />

        </div>
        <div class="form-group col-md-4">
            <label>+ Descripcion Descriminada de Otros Gastos:</label>

            @Html.EditorFor(model => model.DescripcionG, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })

        </div>

    </div>



</div>
}

<div class="form-group col-md-3">
    <button id="guardarConfig" type="button" class="btn btn-primary btnAction">Guardar</button>

</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


    $("#guardarConfig").click(function () {
        var mSalario = $("#Salario").val();
        if (mSalario != "") {
            mSalario = mSalario.split('.').join(""); $("#Salario").val(mSalario);
        }
        var mOtrosIngresos = $("#OtrosIngresos").val();
        if (mOtrosIngresos != "") {
            mOtrosIngresos = mOtrosIngresos.split('.').join(""); $("#OtrosIngresos").val(mOtrosIngresos);
        }
        var mCompras = $("#Compras").val();
        if (mCompras != "") {
            mCompras = mCompras.split('.').join(""); $("#Compras").val(mCompras);
        }
        var mRenta = $("#Renta").val();
        if (mRenta != "") {
            mRenta = mRenta.split('.').join(""); $("#Renta").val(mRenta);
        }
        var mPrestamo = $("#Prestamo").val();
        if (mPrestamo != "") {
            mPrestamo = mPrestamo.split('.').join(""); $("#Prestamo").val(mPrestamo);
        }
        var mTransporte = $("#Transporte").val();
        if (mTransporte != "") {
            mTransporte = mTransporte.split('.').join(""); $("#Transporte").val(mTransporte);
        }
        var mAlimentacion = $("#Alimentacion").val();
        if (mAlimentacion != "") {
            mAlimentacion = mAlimentacion.split('.').join(""); $("#Alimentacion").val(mAlimentacion);
        }
        var mRDO = $("#RDO").val();
        if (mRDO != "") {
            mRDO = mRDO.split('.').join(""); $("#RDO").val(mRDO);
        }
        var mServicios = $("#Servicios").val();
        if (mServicios != "") {
            mServicios = mServicios.split('.').join(""); $("#Servicios").val(mServicios);
        }
        var mIntPM = $("#IntPM").val();
        if (mIntPM != "") {
            mIntPM = mIntPM.split('.').join(""); $("#IntPM").val(mIntPM);
        }
        var mOtrosGastos = $("#OtrosGastos").val();
        if (mOtrosGastos != "") {
            mOtrosGastos = mOtrosGastos.split('.').join(""); $("#OtrosGastos").val(mOtrosGastos);
        }

        var mVentas = $("#Ventas").val();
        if (mVentas != "") {
            mVentas = mVentas.split('.').join(""); $("#Ventas").val(mVentas);
        }
        var mIngresosNegocio = $("#IngresosNegocio").val();
        if (mIngresosNegocio != "") {
            mIngresosNegocio = mIngresosNegocio.split('.').join(""); $("#IngresosNegocio").val(mIngresosNegocio);
        }
        var mPrestamosCI = $("#PrestamosCI").val();
        if (mPrestamosCI != "") {
            mPrestamosCI = mPrestamosCI.split('.').join(""); $("#PrestamosCI").val(mPrestamosCI);
        }
        var mArriendo = $("#Arriendo").val();
        if (mArriendo != "") {
            mArriendo = mArriendo.split('.').join(""); $("#Arriendo").val(mArriendo);
        }
        var mSueldoPS = $("#SueldoPS").val();
        if (mSueldoPS != "") {
            mSueldoPS = mSueldoPS.split('.').join(""); $("#SueldoPS").val(mSueldoPS);
        }
        var mServiciosPublicos = $("#ServiciosPublicos").val();
        if (mServiciosPublicos != "") {
            mServiciosPublicos = mServiciosPublicos.split('.').join(""); $("#ServiciosPublicos").val(mServiciosPublicos);
        }
        var mOtrosEgresos = $("#OtrosEgresos").val();
        if (mOtrosEgresos != "") {
            mOtrosEgresos = mOtrosEgresos.split('.').join(""); $("#OtrosEgresos").val(mOtrosEgresos);
        }
        var mCajaBancos = $("#CajaBancos").val();
        if (mCajaBancos != "") {
            mCajaBancos = mCajaBancos.split('.').join(""); $("#CajaBancos").val(mCajaBancos);
        }
        var mInversiones = $("#Inversiones").val();
        if (mInversiones != "") {
            mInversiones = mInversiones.split('.').join(""); $("#Inversiones").val(mInversiones);
        }
        var mCuentasPorCobrar = $("#CuentasPorCobrar").val();
        if (mCuentasPorCobrar != "") {
            mCuentasPorCobrar = mCuentasPorCobrar.split('.').join(""); $("#CuentasPorCobrar").val(mCuentasPorCobrar);
        }
        var mMercancias = $("#Mercancias").val();
        if (mMercancias != "") {
            mMercancias = mMercancias.split('.').join(""); $("#Mercancias").val(mMercancias);
        }
        var mMueblesYEnseres = $("#MueblesYEnseres").val();
        if (mMueblesYEnseres != "") {
            mMueblesYEnseres = mMueblesYEnseres.split('.').join(""); $("#MueblesYEnseres").val(mMueblesYEnseres);
        }
        var mVehiculos = $("#Vehiculos").val();
        if (mVehiculos != "") {
            mVehiculos = mVehiculos.split('.').join(""); $("#Vehiculos").val(mVehiculos);
        }
        var mTerrenosYEdificios = $("#TerrenosYEdificios").val();
        if (mTerrenosYEdificios != "") {
            mTerrenosYEdificios = mTerrenosYEdificios.split('.').join(""); $("#TerrenosYEdificios").val(mTerrenosYEdificios);
        }
        var mOtrosActivos = $("#OtrosActivos").val();
        if (mOtrosActivos != "") {
            mOtrosActivos = mOtrosActivos.split('.').join(""); $("#OtrosActivos").val(mOtrosActivos);
        }
        var mProveedores = $("#Proveedores").val();
        if (mProveedores != "") {
            mProveedores = mProveedores.split('.').join(""); $("#Proveedores").val(mProveedores);
        }
        var mObligaciones = $("#Obligaciones").val();
        if (mObligaciones != "") {
            mObligaciones = mObligaciones.split('.').join(""); $("#Obligaciones").val(mObligaciones);
        }
        var mOtrosPasivos = $("#OtrosPasivos").val();
        if (mOtrosPasivos != "") {
            mOtrosPasivos = mOtrosPasivos.split('.').join(""); $("#OtrosPasivos").val(mOtrosPasivos);
        }
        $(function () {
            var VSalario, VOtrosIngresos, VCompras, VDescripcion, VRenta, VPrestamo, VTransporte, VAlimentacion,
                VRDO, VServicios, VIntPM, VOtrosGastos, VDescripcionG, VVentas, VIngresosNegocio,
                VPrestamosCI, VArriendo, VSueldoPS, VServiciosPublicos, VOtrosEgresos, VDescripcionEgresos,
                VCajaBancos, VInversiones, VCuentasPorCobrar, VMercancias, VMueblesYEnseres,
                VVehiculos, VTerrenosYEdificios, VOtrosActivos, VDescripcionActivos, VProveedores,
                VObligaciones, VOtrosPasivos;
       /*     $("#guardarConfig").on('click', function () {*/
                VSalario = $("#Salario").val();
                VOtrosIngresos = $("#OtrosIngresos").val();
                VCompras = $("#Compras").val();
                VDescripcion = $("#Descripcion").val();
                VRenta = $("#Renta").val();
                VPrestamo = $("#Prestamo").val();
                VTransporte = $("#Transporte").val();
                VAlimentacion = $("#Alimentacion").val();
                VRDO = $("#RDO").val();
                VServicios = $("#Servicios").val();
                VIntPM = $("#IntPM").val();
                VOtrosGastos = $("#OtrosGastos").val();
                VDescripcionG = $("#DescripcionG").val();
                VVentas = $("#Ventas").val();
                VIngresosNegocio = $("#IngresosNegocio").val();
                VPrestamosCI = $("#PrestamosCI").val();
                VArriendo = $("#Arriendo").val();
                VSueldoPS = $("#SueldoPS").val();
                VServiciosPublicos = $("#ServiciosPublicos").val();
                VOtrosEgresos = $("#OtrosEgresos").val();
                VDescripcionEgresos = $("#DescripcionEgresos").val();
                VCajaBancos = $("#CajaBancos").val();
                VInversiones = $("#Inversiones").val();
                VCuentasPorCobrar = $("#CuentasPorCobrar").val();
                VMercancias = $("#Mercancias").val();
                VMueblesYEnseres = $("#MueblesYEnseres").val();
                VVehiculos = $("#Vehiculos").val();
                VTerrenosYEdificios = $("#TerrenosYEdificios").val();
                VOtrosActivos = $("#OtrosActivos").val();
                VDescripcionActivos = $("#DescripcionActivos").val();
                VProveedores = $("#Proveedores").val();
                VObligaciones = $("#Obligaciones").val();
                VOtrosPasivos = $("#OtrosPasivos").val();



            if (VSalario.length == 0 || VOtrosIngresos.length == 0 || VCompras.length == 0 || VDescripcion.length == 0
                    ||
                    VRenta.length == 0 || VPrestamo.length == 0 || VTransporte.length == 0
                    ||
                    VAlimentacion.length == 0 || VRDO.length == 0 || VServicios.length == 0
                    ||
                    VIntPM.length == 0 || VOtrosGastos.length == 0 || VDescripcionG.length == 0
                    ||
                    VVentas.length == 0 || VIngresosNegocio.length == 0 || VPrestamosCI.length == 0
                    ||
                    VArriendo.length == 0 || VSueldoPS.length == 0 || VServiciosPublicos.length == 0
                    ||
                    VOtrosEgresos.length == 0 || VDescripcionEgresos.length == 0 || VCajaBancos.length == 0
                    ||
                    VInversiones.length == 0 || VCuentasPorCobrar.length == 0 || VMercancias.length == 0
                    ||
                    VMueblesYEnseres.length == 0 || VVehiculos.length == 0 || VTerrenosYEdificios.length == 0
                    ||
                    VOtrosActivos.length == 0 || VDescripcionActivos.length == 0 || VProveedores.length == 0
                    ||
                    VObligaciones.length == 0 || VOtrosPasivos.length == 0) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error...',
                        text: 'Diligenciar Todos los Campos'
                    });
                } else {
                    $("#theForm").submit();
                }
            /*});*/

        });
    });

    $(".miles").on({
        "focus": function (event) {
            $(event.target).select();
        },
        "keyup": function (event) {
            $(event.target).val(function (index, value) {
                return value.replace(/\D/g, "")
                    .replace(/([0-9])([0-9]{3})$/, '$1.$2')
                    .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
            });
        }
    });
</script>

<script>
    $("#Salario").val("@Model.Salario");
    $("#OtrosIngresos").val("@Model.OtrosIngresos");

    $("#Renta").val("@Model.Renta");
    $("#Prestamo").val("@Model.Prestamo");
    $("#Transporte").val("@Model.Transporte");
    $("#Alimentacion").val("@Model.Alimentacion");
    $("#RDO").val("@Model.RDO");
    $("#Servicios").val("@Model.Servicios");
    $("#IntPM").val("@Model.IntPM");
    $("#OtrosGastos").val("@Model.OtrosGastos");

    $("#Ventas").val("@Model.Ventas");
    $("#IngresosNegocio").val("@Model.IngresosNegocio");
    $("#Compras").val("@Model.Compras");
    $("#PrestamosCI").val("@Model.PrestamosCI");
    $("#Arriendo").val("@Model.Arriendo");
    $("#SueldoPS").val("@Model.SueldoPS");
    $("#ServiciosPublicos").val("@Model.ServiciosPublicos");
    $("#OtrosEgresos").val("@Model.OtrosEgresos");

    $("#CajaBancos").val("@Model.CajaBancos");
    $("#Inversiones").val("@Model.Inversiones");
    $("#CuentasPorCobrar").val("@Model.CuentasPorCobrar");
    $("#Mercancias").val("@Model.Mercancias");
    $("#MueblesYEnseres").val("@Model.MueblesYEnseres");
    $("#Vehiculos").val("@Model.Vehiculos");
    $("#TerrenosYEdificios").val("@Model.TerrenosYEdificios");
    $("#OtrosActivos").val("@Model.OtrosActivos");

    $("#Proveedores").val("@Model.Proveedores");
    $("#Obligaciones").val("@Model.Obligaciones");
    $("#OtrosPasivos").val("@Model.OtrosPasivos");

</script>