@model FNTC.Finansoft.Accounting.DTO.FabricaCreditos.FCDocumentosAsociados


@{
    ViewBag.Title = "Agregar Documento";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
    var idSolicitud = ViewBag.idSolicitud;
    var idAsociado = ViewBag.idAsociado;

}

@using (Html.BeginForm("CrearDocu", "ModificarInf", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input id="modo" name="modo" hidden readonly />
    <div class="row">

        <div class="form-group col-md-4">
            <label class="control-label">ID Asociando:</label>
            <input type="text" name="idAsociado" id="idAsociado" class="form-control" value="@idAsociado" readonly />
        </div>

       
            
            <input type="hidden" name="idSolicitud" id="idSolicitud" class="form-control" value="@idSolicitud" readonly />
       
        <div class="form-group col-md-4">
            <label class="control-label">Seleccione Documento a Cargar:</label>

            @Html.Action("ListaDocumento", "CrearSolicitud")
            @Html.ValidationMessageFor(model => model.idDocumento, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-4">
            <label class="control-label">Nombre Documento :</label>

            @Html.EditorFor(model => model.NombreDocumento, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.NombreDocumento, "", new { @class = "text-danger" })

        </div>

        <div class="form-group col-md-4">

            <label class="control-label">Cargar Documento:</label>
            <input type="file" name="file" id="file" />
            @ViewBag.Message

        </div>

        <div class="form-group col-md-4">
            <label class="control-label"> Seleccione el tipo de Extencion:</label>
            <select class="form-control" id="Extencion" name="Extencion">
                <option value="">Seleccionar</option>
                <option value=".jpg">JPG</option>
                <option value=".png">PNG</option>
                <option value=".pdf">PDF</option>
            </select>
            @Html.ValidationMessageFor(model => model.Extencion, "", new { @class = "text-danger" })
        </div>


    </div>
    <div class="row">
        <div class="modal-footer">

            <button id="guardarConfig" type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>





}