@model FNTC.Finansoft.Accounting.DTO.FormularioVinculacion.formatoVinculacion


@{
    Layout = "~/Views/Shared/_Layoutahorros.cshtml";
    List<SelectListItem> PersonasCargo = (List<SelectListItem>)ViewBag.PersonasCargo;
    List<SelectListItem> sexo = (List<SelectListItem>)ViewBag.sexo;
    List<SelectListItem> estrato = (List<SelectListItem>)ViewBag.estrato;
    List<SelectListItem> edad = (List<SelectListItem>)ViewBag.edad;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vinculacion</title>

    <script src="~/Scripts/jquery2-1-4.min.js"></script>
    <script src="~/Scripts/sweetalert2@10.js"></script>
    <script src="~/Scripts/FormularioVinculacion/Edit.js"></script>
</head>
<body>
    @using (Html.BeginForm(Html.BeginForm("Edit", "formatoVinculacions", new { area = "formularioVinculacion" }, FormMethod.Post, new { id = "theForm" })))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal ">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            @Html.EditorFor(model => model.fechasolicitud, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center;", @readonly = "readonly", @type = "hidden" } })
            @*@Html.HiddenFor(model => model.fechasolicitud);*@
            <div style="border:2px solid grey; border-radius:22px; background-color:white; width:1200px;">

                <table width="100%" height="124.8" border="0">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <img src="~/Areas/formularioVinculacion/Imagenes/LOGOASOPASCUALINOS.png" width="100%" height="100" alt="" />
                            </td>
                            <td width="60%" align="center"><h3>SOLICITUD DE VINCULACIÓN PERSONA NATURAL</h3></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td width="40%"><i>Unidos somos más</i><br><b>COOPERATIVA MULTIACTIVA DE INTEGRACIÓN SOCIAL <br />NIT. 901022853-9 </b></td>

                            <td width="20%">
                                <table width="200" style="border-radius:14px;" border="1">
                                    <tbody>
                                        <tr>
                                            <th scope="col" style="text-align:center; background-color: antiquewhite"><b>ASESOR COMERCIAL</b></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.EditorFor(model => model.asesorcomercial, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center;", @readonly = "true" } })
                                                @Html.ValidationMessageFor(model => model.asesorcomercial, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                </table>
                            </td>

                            <td width="20%">
                                <table width="200" style="border-radius:14px;" border="1">
                                    <tbody>
                                        <tr>
                                            <th scope="col" style="text-align:center; background-color: antiquewhite"><b>CIUDAD</b></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.EditorFor(model => model.ciudadsolicitud, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center;" } })
                                                @Html.ValidationMessageFor(model => model.ciudadsolicitud, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                </table>
                            </td>

                            <td width="20%">

                                <table width="200" style="border-radius:14px;" border="1">
                                    <tbody>
                                        <tr>
                                            <th scope="col" style="text-align:center; background-color: antiquewhite"><b>N° REGISTRO</b></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Html.EditorFor(model => model.registrosolicitud, new { htmlAttributes = new { @class = "form-control", @style = "text-align:center;", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.registrosolicitud, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td width="40%">
                                @Html.RadioButtonFor(model => model.tipo, "Empleado", htmlAttributes: new { @checked = "checked" }) @Html.Label("Empleado:")
                                @Html.RadioButtonFor(model => model.tipo, "Pensionado") @Html.Label("Pensionado:")
                                @Html.RadioButtonFor(model => model.tipo, "Independiente") @Html.Label("Independiente:")
                            </td>
                            <td>Diligenciar en letra imprenta, sin tachones, borrones o enmendadras.Anexar fotocopia de la cédula</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: red; color:white;"><b>1. DATOS PERSONALES</b></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <b>Nombre:</b>
                                <input type="text" name="nombre_tercero" id="nombre_tercero" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.nombreaso, new { htmlAttributes = new { @class = "form-control", @id = "nombre_tercero", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.nombreaso, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="30%">
                                <strong>Primer apellido:</strong>
                                <input type="text" name="apellido1" id="apellido1" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.apellidoaso1, new { htmlAttributes = new { @class = "form-control", @id = "apellido1", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.apellidoaso1, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="30%">
                                <b>Segundo apellido:</b>
                                <input type="text" name="apellido2" id="apellido2" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.apellidoaso2, new { htmlAttributes = new { @class = "form-control", @id = "apellido2", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.apellidoaso2, "", new { @class = "text-danger" })*@
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>Cédula N°:</b>
                                @Html.EditorFor(model => model.cedulaaso, new { htmlAttributes = new { @class = "form-control", @id = "Nit_Tercero", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.cedulaaso, "", new { @class = "text-danger" })
                            </td>
                            <td width="50%">
                                <strong>Lugar y fecha de expediciòn:</strong>
                                <input type="text" name="lugarfechaexp" id="lugarfechaexp" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.lugarfechaexpaso, new { htmlAttributes = new { @class = "form-control", @id = "lugarfechaexp", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.lugarfechaexpaso, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="20%">
                                <b>Sexo:</b>
                                <br />
                                <input type="text" name="sexo" id="sexo" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.sexo, new { htmlAttributes = new { @class = "form-control", @id = "sexo", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })*@
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr style="background-color: antiquewhite">
                            <th width="25%" scope="col">Fecha nacimiento</th>
                            <th width="25%" scope="col">Lugar de Nacimiento</th>
                            <th width="25%" scope="col">Estado civil</th>
                            <th width="25%" scope="col">N° hijos -personas a cargo</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="fechanac" id="fechanac" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.fechanacimiento, new { htmlAttributes = new { @class = "form-control", @id = "fechanac", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.fechanacimiento, "", new { @class = "text-danger" })*@
                            </td>
                            <td>
                                <input type="text" name="lugarnac" id="lugarnac" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.lugarnacimiento, new { htmlAttributes = new { @class = "form-control", @id = "lugarnac", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.lugarnacimiento, "", new { @class = "text-danger" })*@
                            </td>
                            <td>
                                <input type="text" name="civil" id="civil" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.estadocivil, new { htmlAttributes = new { @class = "form-control", @id = "civil", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.estadocivil, "", new { @class = "text-danger" })*@
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.personascargo, PersonasCargo, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.personascargo, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tr>
                        <td>
                            <b>Nivel de Estudios</b>
                            @Html.EditorFor(model => model.nivelestudio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nivelestudio, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="background-color:red;color:white; "><b>2. INFORMACIÓN RESIDENCIA</b></td>
                    </tr>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr style="background-color: antiquewhite">
                            <th width="20%" scope="col">Dirección de residencia</th>
                            <th width="20%" scope="col">Barrio/Vereda</th>
                            <th width="20%" scope="col">Ciudad/Municipio</th>
                            <th width="20%" scope="col">Departamento</th>
                            <th width="20%" scope="col">Estrato</th>

                        </tr>
                        <tr>
                            <td width="20%">
                                <input type="text" name="direccion" id="direccion" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.direccionresidencia, new { htmlAttributes = new { @class = "form-control", @id = "direccion", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.direccionresidencia, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="20%">
                                <input type="text" name="barrio" id="barrio" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.barrioresidencia, new { htmlAttributes = new { @class = "form-control", @id = "barrio", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.barrioresidencia, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="20%">
                                <input type="text" name="municipio" id="municipio" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.ciudadresidencia, new { htmlAttributes = new { @class = "form-control", id = "municipio", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.ciudadresidencia, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="20%">
                                <input type="text" name="departamentoresidencia" id="departamentoresidencia" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.departamentoresidencia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.departamentoresidencia, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="20%">
                                @Html.DropDownListFor(model => model.estratoresidencia, estrato, null, new { @class = "form-control" })
                                @*@Html.EditorFor(model => model.estratoresidencia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.estratoresidencia, "", new { @class = "text-danger" })*@
                            </td>



                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr style="background-color: antiquewhite">
                            <th width="25%" scope="col">Teléfono</th>
                            <th width="25%" scope="col">Celular</th>
                            <th width="25%" scope="col">Correo</th>
                            <th width="25%" scope="col">Tipo de vivienda</th>
                        </tr>
                        <tr>
                            <td width="25%">
                                <input type="text" name="telefono" id="telefono" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.telefonoresidencia, new { htmlAttributes = new { @class = "form-control", @id = "telefono", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.telefonoresidencia, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="25%">
                                <input type="text" name="celular" id="celular" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.celularresidencia, new { htmlAttributes = new { @class = "form-control", @id = "celular", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.celularresidencia, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="25%">
                                <input type="text" name="correo" id="correo" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @id = "correo", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })*@
                            </td>
                            <td width="25%">
                                <input type="text" name="vivienda" id="vivienda" value="" class="form-control" readonly />
                                @*@Html.EditorFor(model => model.tipovivienda, new { htmlAttributes = new { @class = "form-control", @id = "vivienda", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.tipovivienda, "", new { @class = "text-danger" })*@
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: red;color:white;"><b>3. INFORMACIÓN DE CONYUGE</b></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="50%">
                                <b>Nombres y Apellidos</b> @Html.EditorFor(model => model.nombreconyugue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombreconyugue, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                Cédula N°: @Html.EditorFor(model => model.cedulaconyuge, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cedulaconyuge, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                Celular: @Html.EditorFor(model => model.celularconyugue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.celularconyugue, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="33.3%">
                                <b>Ocupación/Cargo</b> @Html.EditorFor(model => model.ocupacionconyugue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ocupacionconyugue, "", new { @class = "text-danger" })
                            </td>
                            <td width="33.3%">
                                Empresa:  @Html.EditorFor(model => model.empresaconyugue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.empresaconyugue, "", new { @class = "text-danger" })
                            </td>
                            <td width="33.3%">
                                Teléfono empresa:  @Html.EditorFor(model => model.telefonoconyugue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telefonoconyugue, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table border="1" width="100%">
                    <tr style="background-color: red;color:white;">
                        <td align="center"><b>4. INFORMACIÓN BENEFICIARIOS</b></td>
                    </tr>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <b>1.Nombres y Apellidos</b> @Html.EditorFor(model => model.nombre1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre1, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Documeto N°:</b> @Html.EditorFor(model => model.documento1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.documento1, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Parentesco</b> @Html.EditorFor(model => model.parentesco1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.parentesco1, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                <b>Sexo:</b>
                                <br />
                                @Html.DropDownListFor(model => model.sexo1, sexo, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.sexo1 , "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>Fecha Nacimiento</b>    @Html.EditorFor(model => model.fechanacimiento1, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechanacimiento1, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Porcentaje:</b> @Html.EditorFor(model => model.porcentaje1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.porcentaje1, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Edad:(años)</b>
                                @Html.DropDownListFor(model => model.edad1, edad, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.edad1, "", new { @class = "text-danger" })
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <b>2.Nombres y Apellidos</b> @Html.EditorFor(model => model.nombre2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre2, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Documeto N°:</b> @Html.EditorFor(model => model.documento2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.documento2, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Parentesco</b> @Html.EditorFor(model => model.parentesco2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.parentesco2, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                <b>Sexo:</b>
                                <br />
                                @Html.DropDownListFor(model => model.sexo2, sexo, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.sexo2, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>Fecha Nacimiento</b> @Html.EditorFor(model => model.fechanacimiento2, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechanacimiento2, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Porcentaje:</b> @Html.EditorFor(model => model.porcentaje2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.porcentaje2, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Edad:(años)</b>
                                @Html.DropDownListFor(model => model.edad2, edad, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.edad2, "", new { @class = "text-danger" })
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <b>3.Nombres y Apellidos</b>  @Html.EditorFor(model => model.nombre3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre3, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Documeto N°:</b> @Html.EditorFor(model => model.documento3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.documento3, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Parentesco</b> @Html.EditorFor(model => model.parentesco3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.parentesco3, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                <b>Sexo:</b>
                                <br />
                                @Html.DropDownListFor(model => model.sexo3, sexo, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.sexo3, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>Fecha Nacimiento</b> @Html.EditorFor(model => model.fechanacimiento3, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechanacimiento3, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Porcentaje:</b> @Html.EditorFor(model => model.porcentaje3, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.porcentaje3, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Edad:(años)</b>
                                @Html.DropDownListFor(model => model.edad3, edad, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.edad3, "", new { @class = "text-danger" })
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <b>4.Nombres y Apellidos</b>  @Html.EditorFor(model => model.nombre4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre4, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Documeto N°:</b> @Html.EditorFor(model => model.documento4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.documento4, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Parentesco</b> @Html.EditorFor(model => model.parentesco4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.parentesco4, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                <b>Sexo:</b>
                                <br />
                                @Html.DropDownListFor(model => model.sexo4, sexo, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.sexo4, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>Fecha Nacimiento</b> @Html.EditorFor(model => model.fechanacimiento4, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechanacimiento4, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Porcentaje:</b> @Html.EditorFor(model => model.porcentaje4, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.porcentaje4, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Edad:(años)</b>
                                @Html.DropDownListFor(model => model.edad4, edad, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.edad4, "", new { @class = "text-danger" })
                            </td>

                        </tr>
                    </tbody>
                </table>

                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <b>5.Nombres y Apellidos</b>@Html.EditorFor(model => model.nombre5, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre5, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Documeto N°:</b> @Html.EditorFor(model => model.documento5, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.documento5, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Parentesco</b> @Html.EditorFor(model => model.parentesco5, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.parentesco5, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                <b>Sexo:</b>
                                <br />
                                @Html.DropDownListFor(model => model.sexo5, sexo, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.sexo5, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>Fecha Nacimiento</b>  @Html.EditorFor(model => model.fechanacimiento5, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechanacimiento5, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Porcentaje:</b>@Html.EditorFor(model => model.porcentaje5, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.porcentaje5, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Edad:(años)</b>
                                @Html.DropDownListFor(model => model.edad5, edad, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.edad5, "", new { @class = "text-danger" })
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <b>6.Nombres y Apellidos</b> @Html.EditorFor(model => model.nombre6, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre6, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Documeto N°:</b>@Html.EditorFor(model => model.documento6, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.documento6, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Parentesco</b> @Html.EditorFor(model => model.parentesco6, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.parentesco6, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                <b>Sexo:</b>
                                <br />
                                @Html.DropDownListFor(model => model.sexo6, sexo, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.sexo6, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>Fecha Nacimiento</b> @Html.EditorFor(model => model.fechanacimiento6, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechanacimiento6, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                <b>Porcentaje:</b>  @Html.EditorFor(model => model.porcentaje6, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.porcentaje6, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                <b>Edad:(años)</b>
                                @Html.DropDownListFor(model => model.edad6, edad, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.edad6, "", new { @class = "text-danger" })
                            </td>

                        </tr>
                    </tbody>
                </table>

                <table border="1" width="100%">
                    <tr style="background-color: red;color:white;">
                        <td align="center"><b>5. INFORMACIÓN LABORAL</b></td>
                    </tr>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr style="background-color: antiquewhite">
                            <th width="20%" scope="col">Entidad donde labora:</th>
                            <th width="20%" scope="col">Fecha de Vinculación:</th>
                            <th width="20%" scope="col">Tipo de Contrato:</th>
                            <th width="20%" scope="col">Oficina y/o Dependencia:</th>
                            <th width="20%" scope="col">Código:</th>
                        </tr>
                        <tr>
                            <td width="20%">
                                @Html.EditorFor(model => model.entidadlabora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.entidadlabora, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                @Html.EditorFor(model => model.fechavinculacion, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.fechavinculacion, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                @Html.EditorFor(model => model.tipocontrato, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tipocontrato, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                @Html.EditorFor(model => model.oficina, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.oficina, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr style="background-color: antiquewhite">
                            <th whidth="30%" scope="col">Dirección:</th>
                            <th whidth="20%" scope="col">Teléfono</th>
                            <th whidth="10%" scope="col">Extensión:</th>
                            <th whidth="25%" scope="col">Cargo Actual</th>
                            <th whidth="10%" scope="col">Actividad Económica</th>
                            <th whidth="5%" scope="col">CIIU</th>
                        </tr>
                        <tr>
                            <td width="30%">
                                @Html.EditorFor(model => model.direccionabora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.direccionabora, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                @Html.EditorFor(model => model.telefonolabora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telefonolabora, "", new { @class = "text-danger" })
                            </td>
                            <td width="10%">
                                @Html.EditorFor(model => model.extencionlabora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.extencionlabora, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%">
                                @Html.EditorFor(model => model.cargolabora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cargolabora, "", new { @class = "text-danger" })
                            </td>
                            <td width="10%">
                                @Html.EditorFor(model => model.actividadeconomica, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.actividadeconomica, "", new { @class = "text-danger" })
                            </td>
                            <td width="5%">
                                @Html.EditorFor(model => model.CIIU, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CIIU, "", new { @class = "text-danger" });
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr style="background-color: antiquewhite">
                            <th width="20%" scope="col">Sueldo Básico</th>
                            <th width="30%" scope="col">Correo Entidad:</th>
                            <th width="30%" scope="col">Sus cesantias estan depositadas en:</th>
                            <th width="20%" scope="col">Administra recursos publicos</th>
                        </tr>
                        <tr>
                            <td width="20%">
                                @Html.EditorFor(model => model.sueldobasico, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.sueldobasico, "", new { @class = "text-danger" })
                            </td>
                            <td width="30%">
                                @Html.EditorFor(model => model.correolabora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.correolabora, "", new { @class = "text-danger" })
                            </td>
                            <td width="30%">
                                @Html.EditorFor(model => model.cesantiaslabora, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cesantiaslabora, "", new { @class = "text-danger" })
                            </td>
                            <td width="20%">
                                @Html.EditorFor(model => model.adminrecursospublicos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.adminrecursospublicos, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" width="100%">
                    <tr style="background-color: red;color:white;">
                        <td align="center"><b>6. INFORMACIÓN ECONOMICA</b></td>
                    </tr>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr style="background-color: antiquewhite">
                            <th width="40%" scope="col">Ingresos</th>
                            <th width="60%" scope="col">Egresos</th>
                        </tr>
                        <tr>
                            <td width="40%">

                                Ingreso Basico:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.ingresobasico, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.ingresobasico, "", new { @class = "text-danger" })<br>
                                Otros Ingresos:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.otrosingresos, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.otrosingresos, "", new { @class = "text-danger" })<br>
                                Total Ingresos :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.totalingresos, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.totalingresos, "", new { @class = "text-danger" })<br>
                                Gastos Mensuales:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.gastosmensuales, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                @Html.ValidationMessageFor(model => model.gastosmensuales, "", new { @class = "text-danger" })<br>
                                Descripcion otros ingresos:&nbsp;&nbsp;&nbsp;@Html.EditorFor(model => model.descotrosingresos, new { htmlAttributes = new { @class = "form-control", @style = "width:300px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.descotrosingresos, "", new { @class = "text-danger" })<br>
                            </td>
                            <td width="60%">

                                <table width="100%" border="0">
                                    <tr>
                                        <td width="35%">
                                            Total activos: $ @Html.EditorFor(model => model.totalactivos, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                            @Html.ValidationMessageFor(model => model.totalactivos, "", new { @class = "text-danger" })
                                        </td>
                                        <td width="15%"></td>
                                        <td width="25%">Saldo a la fecha</td>
                                        <td width="25%">Cuota mensual</td>
                                    </tr>
                                    <tr>
                                        <td width="35%"></td>
                                        <td width="15%" align="right">Bancarias:</td>
                                        <td width="25%">
                                            $@Html.EditorFor(model => model.bancarias, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                            @Html.ValidationMessageFor(model => model.bancarias, "", new { @class = "text-danger" })
                                        </td>
                                        <td width="25%">
                                            $@Html.EditorFor(model => model.bancarias1, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                            @Html.ValidationMessageFor(model => model.bancarias1, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="35%">
                                            Total Pasivos:$@Html.EditorFor(model => model.totalpasivos, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                            @Html.ValidationMessageFor(model => model.totalpasivos, "", new { @class = "text-danger" })
                                        </td>
                                        <td align="right" width="15%">Con entidades financieras:</td>
                                        <td width="25%">
                                            $ @Html.EditorFor(model => model.entidadesfinancieras, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                            @Html.ValidationMessageFor(model => model.entidadesfinancieras, "", new { @class = "text-danger" })
                                        </td>
                                        <td width="25%">
                                            $@Html.EditorFor(model => model.entidadesfinancieras1, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                            @Html.ValidationMessageFor(model => model.entidadesfinancieras1, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="35%"></td>
                                        <td align="right" width="15%">Otros</td>
                                        <td width="25%">
                                            $@Html.EditorFor(model => model.otrosegresos, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                            @Html.ValidationMessageFor(model => model.otrosegresos, "", new { @class = "text-danger" })
                                        </td>
                                        <td width="25%">
                                            $@Html.EditorFor(model => model.otrosegresos1, new { htmlAttributes = new { @class = "form-control", @style = "width:150px; display:inline; ", onkeypress = "return valida(event)" } })
                                            @Html.ValidationMessageFor(model => model.otrosegresos1, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                </table>
                                <p>
                                    Descripción otros egresos: @Html.EditorFor(model => model.descotrosegresos, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.descotrosegresos, "", new { @class = "text-danger" })
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" width="100%">
                    <tr style="background-color: red;color:white;">
                        <td align="center"><b>7. OPERACIÓN EN MONEDA EXTRANJERA</b></td>
                    </tr>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <th width="15%" scope="col">Posee cuentas en el exterior?</th>
                            <th width="25%" style="background-color: antiquewhite" scope="col">Entidad</th>
                            <th width="15%" style="background-color: antiquewhite" scope="col">Tipo de Moneda</th>
                            <th width="15%" style="background-color: antiquewhite" scope="col">N° Cuenta</th>
                            <th width="15%" style="background-color: antiquewhite" scope="col">Ciudad</th>
                            <th width="15%" style="background-color: antiquewhite" scope="col">País</th>
                        </tr>
                        <tr>
                            <td width="15%">
                                @Html.RadioButtonFor(model => model.cuentasexterior, "NO", htmlAttributes: new { @checked = "checked" }) @Html.Label("NO:")
                                @Html.RadioButtonFor(model => model.cuentasexterior, "SI") @Html.Label("SI:")
                            </td>
                            <td width="25%">
                                @Html.EditorFor(model => model.entidadexterior, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.entidadexterior, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                @Html.EditorFor(model => model.tipomoneda, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tipomoneda, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                @Html.EditorFor(model => model.cuentaexterior, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.cuentaexterior, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                @Html.EditorFor(model => model.ciudadexterior, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ciudadexterior, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                @Html.EditorFor(model => model.paisexterior, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.paisexterior, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th width="15%" scope="col">Realiza operaciones en moneda extranjera?</th>
                            <th width="25%" style="background-color: antiquewhite" scope="col">Importaciónes</th>
                            <th width="15%" style="background-color: antiquewhite" scope="col">Exportaciónes</th>
                            <th width="15%" style="background-color: antiquewhite" scope="col">Inversiónes</th>
                            <th width="15%" style="background-color: antiquewhite" scope="col">Prestamos</th>
                            <th width="15%" style="background-color: antiquewhite" scope="col">Otros</th>
                        </tr>
                        <tr>
                            <td width="15%">
                                @Html.RadioButtonFor(model => model.monedaextranjera, "NO", htmlAttributes: new { @checked = "checked" }) @Html.Label("NO:")
                                @Html.RadioButtonFor(model => model.monedaextranjera, "SI") @Html.Label("SI:")
                            </td>
                            <td width="25%">
                                @Html.EditorFor(model => model.importacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.importacion, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                @Html.EditorFor(model => model.exportacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.exportacion, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                @Html.EditorFor(model => model.inversiones, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.inversiones, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                @Html.EditorFor(model => model.prestamos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.prestamos, "", new { @class = "text-danger" })
                            </td>
                            <td width="15%">
                                @Html.EditorFor(model => model.otroextranjera, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.otroextranjera, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" width="100%">
                    <tr style="background-color: red;color:white;">
                        <td align="center"><b>8.DECLARACIÓN DE ORIGEN DE FONDOS Y AUTORIZACIÓN DE CONSULTA A CENTRALES DE RIESGO</b></td>
                    </tr>
                    <tr>
                        <td><p>Yo,_______________________________________________________identificado(a) con cédula  de ciudadanía N° ____________________ expedida en ______________________ y obrando en nombre propio de manera voluntaria y dando certeza de que todo lo aquí consignado es cierto, realizo la siguiente declaración de    origen de mis fondos a ASOPASCUALINOS. con el propósito de dar cumplimiento a lo señalado en la Circular Básica Jurídica 007 de 2008 expedida por la Superintendencia de la    Economía Solidaría, el Estatuto Orgánico del Sistema Financiero (decreto 663 de 1993), ley 190 de 1995, estatuto anticorrupción y demás normas legales. 1. Los recursos que entrego    para aportes, provienen de mi relación laboral con la actividad económica, y por lo tanto no provienen de ninguna actividad ilícita,  2.  Manifiesto que no admitiré que    terceros efectúen depósitos a la cuenta de ASOPASCUALINOS. Con fondos provenientes de actividades ilícitas, ni efectuaré transacciónes destinadas a tales actividades o a favor de    personas relaciónadas con las mismas y 3. Autorizo a ASOPASCUALINOS., para que cancele mi vinculación en el caso de que infrinja cualquiera de las obligaciónes señaladas en los    numerales anteriores o si suministro información errónea, falsa o inexacta. Así mismo autorizo expresamente a ASOPASCUALINOS, para que con fines estadísticos, de control, supervisión y de    información comercial reporte y/o solicite a cualquier entidad que maneje base de datos con los mismos fines y en general mi comportamiento como asociado en el entendido que esta    autorización comprende no sólo la facultad de reportar, procesar y divulgar, sino también la de solicitar información sobre mis relaciónes comerciales con cualquier Entidad</p></td>
                    </tr>
                </table>

                <table border="1" width="100%">
                    <tr style="background-color: red;;color:white;">
                        <td align="center"><b>9.DERECHO DE LIBRE ASOCIACIÓN</b></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                El derecho de asociación conlleva un aspecto negativo, que es el derecho a retirarse, el cual se fundamenta en una de las características propias de las organizaciónes de economía solidaria que es que “tanto el ingreso como el retiro debe ser voluntario”, característica ésta contemplada en la Ley 454 de 1998, artículo 4º. numeral 4º<br>
                                “Son principios de la Economía Solidaria:<br>
                                “4. Adhesión voluntaria, responsable y abierta” <br>
                                “El derecho de libre asociación “incluye también un aspecto negativo, nadie puede ser obligado directa o indirectamente a formar parte de una asociación determinada.  Para ASOPASCUALINOS por norma estatutaria una vez realizada la respectiva solicitud de retiro, en un lapso no mayor a 6 meses se realizará la devolución de sus aportes correspondiente y después del cruce respectivo en el caso de tener créditos con la Cooperativa.
                            </p>
                        </td>
                    </tr>
                </table>
                <table border="1" width="100%">
                    <tr style="background-color: red;color:white;">
                        <td align="center"><b>10.AUTORIZACIÓN DE DESCUENTOS</b></td>
                    </tr>
                </table>
                <table border="1" width="100%">

                    <tr>
                        <td width="90%">
                            <b></b><br>
                            <p>
                                <b>
                                    Aporte mensual de :&nbsp;&nbsp;&nbsp;&nbsp;$
                                </b> @Html.EditorFor(model => model.aportemensual, new { htmlAttributes = new { @class = "form-control", @style = "width:300px;display:inline; " } })
                                @Html.ValidationMessageFor(model => model.aportemensual, "", new { @class = "text-danger" })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <b>Solicito variar mis aportes a:&nbsp;&nbsp;&nbsp;$ </b> @Html.EditorFor(model => model.variaraporte, new { htmlAttributes = new { @class = "form-control", @style = "width:300px;display:inline; " } })
                                @Html.ValidationMessageFor(model => model.variaraporte, "", new { @class = "text-danger" })
                            </p>
                        </td>
                    </tr>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="90%">
                                <p align="justify">
                                    Certifico que la información suministrada para efectos de mi vinculación a ASOPASCUALINOS., y para acceder a sus servicios es verídica y autorizo a la cooperativa para que la verifique; que reconozco la obligación legal que tengo de actualizar esta información como mínimo una vez al año o cuando la cooperativa lo requiera; igualmente declaro que mis ingresos provienen del desarrollo de mi actividad económica principal. Firmo esta solicitud de vinculación en constancia de haber leído y aceptado las autorizaciónes sugeridas en forma libre y para uso exclusivo de ASOPASCUALINOS.
                                    <br><br><br>

                                    FIRMA DEL SOLICITANTE:________________________________________________

                                </p>
                            </td>
                            <td width="10%" align="center">
                                <div style="border:2px solid grey; border-radius:22px; width:100px; height:140px">
                                    <table width="100%">
                                        <tr>
                                            <td width="50%" align="center" style="font-size: 10px;">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br><br>
                                                <br>
                                                <br><br>


                                                Huella dactilar
                                                <br>
                                                <br>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="90%">
                                <p align="justify">
                                    Ciudad y/o municipio ______________________________&nbsp;&nbsp;&nbsp;&nbsp; Día  @Html.EditorFor(model => model.dia, new { htmlAttributes = new { @class = "form-control", @style = "width:70px;display:inline; " } })@*JACZ*@
                                    @Html.ValidationMessageFor(model => model.dia, "", new { @class = "text-danger" })Mes  @Html.EditorFor(model => model.mes, new { htmlAttributes = new { @class = "form-control", @style = "width:70px;display:inline; " } })
                                    @Html.ValidationMessageFor(model => model.mes, "", new { @class = "text-danger" })  Año @Html.EditorFor(model => model.ano, new { htmlAttributes = new { @class = "form-control", @style = "width:70px;display:inline; " } })
                                    @Html.ValidationMessageFor(model => model.ano, "", new { @class = "text-danger" }) <br><br>

                                    Yo, identificado (a) como aparece al pie de mí firma, autorizo al señor pagador de la entidad donde laboro descontar de mi sueldo mensualmente el valor correspondiente y ponerlos a disposición de ASOPASCUALINOS. Igualmente retener de mi sueldo y prestaciones sociales los valores que la cooperativa le reporte en un futuro por compromisos adquiridos con ella por concepto de cuotas por obligaciónes crediticias, intereses, etc., todo con el propósito de cumplir satisfactoriamente con todas y cada una de las obligaciónes contraídas con  ASOPASCUALINOS<br>

                                    FIRMA DEL SOLICITANTE:__________________________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cédula de Ciudadania N°:________________________________.

                                </p>
                            </td>
                            <td width="10%" align="center">
                                <div style="border:2px solid grey; border-radius:22px; width:100px; height:140px">
                                    <table width="100%">
                                        <tr>
                                            <td width="50%" align="center" style="font-size: 10px;">
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br><br>
                                                <br><br>



                                                Huella dactilar

                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />
                <br />

                <div class="form-group">
                    <div class="col-md-9">

                    </div>
                    <div class="col-md-1">

                    </div>

                </div>

            </div>

        </div>

    }
<div class="col-md-2">
    <a href="/formularioVinculacion/formatoVinculacions/Index" class="btn btn-inline btn-small btn-danger">Cancelar</a>
    <input type="button" value="Guardar" id="btnGuardar" class="btn btn-inline btn-small btn-success" />
</div>
    


    <script src="~/Scripts/jquery.masknumber.js"></script>
    <script>
            //$(document).on('keyup', '[name=cedulaaso]', function () {

            //    var cedulaaso = $('[name = cedulaaso]').val();
            //    $('[name = registrosolicitud]').val(cedulaaso);

            //});

            $(document).on('keyup', '#ingresobasico', function () {
                sumatotalingresos();
            });

            $(document).on('keyup', '#otrosingresos', function () {
                sumatotalingresos();
            });

            function sumatotalingresos() {
                var total = 0;
                var ingresobasico = $("#ingresobasico").val();
                var otrosingresos = $("#otrosingresos").val();
                
                if (ingresobasico != "") {
                    var ingresobasico = ingresobasico.replace(",", "");
                    var ingresobasico = ingresobasico.replace(",", "");
                    var ingresobasico = ingresobasico.replace(",", "");
                    total += parseInt(ingresobasico);
                } else {
                    var ingresobasico = 0;
                }

                if (otrosingresos != "") {
                    var otrosingresos = otrosingresos.replace(",", "");
                    var otrosingresos = otrosingresos.replace(",", "");
                    var otrosingresos = otrosingresos.replace(",", "");
                    total += parseInt(otrosingresos);
                } else {
                    var otrosingresos = 0;
                }
                
                $('#totalingresos').val(total);

                var totalingresos = $('#totalingresos').val();
                var num = totalingresos.replace(/\./g, "");
                if (!isNaN(num)) {
                    num = num.toString().split("").reverse().join("").replace(/(?=\d*\.?)(\d{3})/g, "$1,");
                    num = num.split("").reverse().join("").replace(/^[\,]/, "");
                    totalingresos = num;
                } else {
                    num = num.replace(/[^\d\.]*/g, "");
                }
                $('#totalingresos').val(totalingresos);
            }
        </script>
        <script>

            $("#ingresobasico").maskNumber();
            $("#otrosingresos").maskNumber();
            $("#totalingresos").maskNumber();
            $("#gastosmensuales").maskNumber();
            $("#totalactivos").maskNumber();
            $("#totalpasivos").maskNumber();
            $("#bancarias").maskNumber();
            $("#bancarias1").maskNumber();
            $("#entidadesfinancieras").maskNumber();
            $("#entidadesfinancieras1").maskNumber();
            $("#otrosegresos").maskNumber();
            $("#otrosegresos1").maskNumber();
            $("#sueldobasico").maskNumber();


        </script>

</body>
</html>
