@model FNTC.Finansoft.Accounting.DTO.FormulariosSolicitud.solicitudCredito


@{ 
    List<SelectListItem> list = new List<SelectListItem>();
    for(int i = 1; i<7 ; i++)
    {
        SelectListItem estrato = new SelectListItem() { Text = i.ToString(), Value = i.ToString() };
        list.Add(estrato);
    }


    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Soltero(a)",
        Value = "S"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Casado(a)",
        Value = "C"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Unión Libre",
        Value = "U"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Separado(a)",
        Value = "P"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Madre Cabeza de Familia",
        Value = "MC"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Viudo(a)",
        Value = "V"
    });
    var TipoDato = @ViewBag.dato;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulario</title>
    <script src="~/Scripts/jquery2-1-4.min.js"></script>
</head>

<body>
    <div id="contenidoImprimir">
        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div style="border:2px solid grey; border-radius:22px; background-color:white; width:1200px;">
                <table width="100%" height="124.8" border="0">
                    <tbody>
                        <tr>
                            <td width="40%">
                                <!--logocoopenpng89--><img src="~/Areas/formularioVinculacion/Imagenes/LOGOASOPASCUALINOS.png" width="100%" height="100" alt="" />
                            </td>
                            <td width="60%" align="center"><h3>SOLICITUD DE CRÉDITO</h3></td>
                        </tr>
                    </tbody>
                </table>

                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td width="40%"><i>Unidos somos más</i><br><b>COOPERATIVA MULTIACTIVA DE INTEGRACIÓN SOCIAL <br />NIT. 901022853-9 </b></td>



                            <td width="15%">
                                <table width="200" border="1">
                                    <tbody>
                                        <tr>
                                            <th scope="col" style="text-align:center; background-color: antiquewhite"><b>CIUDAD</b></th>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <label type="text" id="ciudad" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" style=text-align:center />
                                            </td>

                                        </tr>
                                </table>
                            </td>

                            <td width="15%">

                                <table width="200" border="1">
                                    <tbody>
                                        <tr>
                                            <th scope="col" style="text-align:center; background-color: antiquewhite"><b>FECHA</b></th>

                                        </tr>
                                        <tr>
                                            <td align="center">

                                                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                </table>
                            </td>



                            <td width="15%">

                                <table width="200" border="1">
                                    <tbody>
                                        <tr>
                                            <th scope="col" style="text-align:center; background-color: antiquewhite"><b>ASESOR COMERCIAL</b></th>

                                        </tr>
                                        <tr>
                                            <td align="center">

                                                @Html.EditorFor(model => model.asesorcomercial, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                                @Html.ValidationMessageFor(model => model.asesorcomercial, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                </table>
                            </td>

                            <td width="15%">

                                <table width="200" border="1">
                                    <tbody>
                                        <tr>
                                            <th scope="col" style="text-align:center; background-color: antiquewhite"><b>N° REGISTRO</b></th>

                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <label type="text" id="NIT" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" style=text-align:center />
                                            </td>
                                        </tr>
                                </table>
                            </td>

                        </tr>
                    </tbody>
                </table>

                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td>Diligenciar en letra imprenta, sin tachones, borrones o enmendaduras.Anexar fotocopia de la cédula</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: red; color:white;"><b>1. INFORMACIÓN GENERAL DEL SOLICITANTE</b></td>
                        </tr>
                    </tbody>
                </table>

                <table width="100%" border="1px">
                    <tbody>
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="20%" scope="col">DOCUMENTO</th>
                            <th width="25%" scope="col">PRIMER APELLIDO</th>
                            <th width="25%" scope="col">SEGUNDO APELLIDO</th>
                            <th width="30%" scope="col">NOMBRES</th>
                        </tr>
                        <tr>
                            <td width="20%" align="center">
                                @Html.EditorFor(model => model.id_persona, new { htmlAttributes = new { @id = "id_persona", @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.id_persona, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%" align="center">
                                <label type="text" id="ape1" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="25%" align="center">
                                <label type="text" id="ape2" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="30%" align="center">
                                <label type="text" id="nom" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">

                            <th width="15%" scope="col">CIUDAD Y FECHA DE EXPEDICIÓN</th>
                            <th width="15%" scope="col">CIUDAD/RESIDENCIA</th>
                            <th width="20%" scope="col">BARRIO</th>
                            <th width="13%" scope="col">TELÉFONO</th>
                            <th width="15%" scope="col">CELULAR</th>
                        </tr>
                        <tr>

                            <td align="center">
                                <label type="text" id="lugFecExp" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>
                            </td>
                            <td align="center">
                                <label type="text" id="ciudad_residencia" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>

                            </td>
                            <td align="center">
                                <label type="text" id="barrio" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>

                            </td>
                            <td align="center">
                                <label type="text" id="telefono" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>

                            </td>
                            <td align="center">
                                <label type="text" id="celular" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>

                            </td>
                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="15%" scope="col">LUGAR Y FECHA DE NACIMIENTO</th>
                            <th width="15%" scope="col">ESTADO CIVIL</th>
                            <th width="15%" scope="col">ESTRATO</th>
                            <th width="15%" scope="col">DIRECCIÓN RESIDENCIA</th>
                            <th width="30%" scope="col">CORREO ELECTRÓNICO</th>
                        </tr>
                        <tr>
                            <td align="center">
                                <label type="text" id="lugFecNac" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" style="width:300px;display:inline; " }>
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.estCivil, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.estCivil, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.estrato, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.estrato, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                <label type="text" id="dirRes" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>

                            </td>
                            <td align="center">
                                <label type="text" id="correo" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>
                            </td>

                        </tr>

                    </tbody>
                </table>









                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="15%" scope="col">PERSONAS A CARGO</th>
                            <th width="15%" scope="col">TIEMPO DE RESIDENCIA (años)</th>
                            <th width="15%" scope="col">¿TIENE VIVIENDA PROPIA?</th>
                            <th width="15%" scope="col">¿ES FAMILIAR?</th>
                            <th width="15%" scope="col">¿ES HIPOTECADA?</th>
                            <th width="15%" scope="col">VALOR COMERCIAL</th>
                        </tr>
                        <tr>
                            <td align="center">
                                @Html.EditorFor(model => model.perCargo, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.perCargo, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.timeResidencia, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.timeResidencia, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.RadioButtonFor(model => model.tieneViviendaPropia, "NO", htmlAttributes: new { Checked = "checked", disabled = true }) @Html.Label("NO")
                                @Html.RadioButtonFor(model => model.tieneViviendaPropia, "SI", htmlAttributes: new { disabled = true }) @Html.Label("SI")

                            </td>
                            <td align="center">
                                @Html.RadioButtonFor(model => model.viviendaFamiliar, "NO", htmlAttributes: new { @id = "VF", @name = "VF", Checked = "checked", disabled = true }) @Html.Label("NO")
                                @Html.RadioButtonFor(model => model.viviendaFamiliar, "SI", htmlAttributes: new { disabled = true }) @Html.Label("SI")
                            </td>
                            <td align="center">
                                @Html.RadioButtonFor(model => model.viviendaHipotecada, "NO", htmlAttributes: new { Checked = "checked", disabled = true }) @Html.Label("NO")
                                @Html.RadioButtonFor(model => model.viviendaHipotecada, "SI", htmlAttributes: new { disabled = true }) @Html.Label("SI")
                            </td>

                            <td align="center">
                                @Html.EditorFor(model => model.valComercial, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;", @id = "valor_comercial", @placeholder = "$" } })
                                @Html.ValidationMessageFor(model => model.valComercial, "", new { @class = "text-danger" })
                            </td>

                        </tr>

                    </tbody>
                </table>

                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="15%" scope="col">NOMBRES DE CÓNYUGE</th>
                            <th width="15%" scope="col">APELLIDOS DE CÓNYUGE</th>
                            <th width="15%" scope="col">CÉDULA</th>
                            <th width="15%" scope="col">EMPRESA ACTUAL CÓNYUGE</th>
                            <th width="15%" scope="col">CELULAR</th>
                        </tr>

                        <tr>
                            <td align="center">
                                @Html.EditorFor(model => model.nomConyu, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.nomConyu, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.apeConyu, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.apeConyu, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.cedConyu, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.cedConyu, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.empConyu, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.empConyu, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.celConyu, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.celConyu, "", new { @class = "text-danger" })
                            </td>

                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: #E2B70A; color:white;"><b>2.INFORMACIÓN FINANCIERA</b></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="20%" scope="col">EMPRESA</th>
                            <th width="20%" scope="col">SALARIO</th>
                            <th width="20%" scope="col">FECHA INGRESO</th>
                            <th width="20%" scope="col">VENCIMIENTO CONTRATO</th>
                            <th width="20%" scope="col">TIEMPO LABORADO (años)</th>

                        </tr>

                        <tr>
                            <td align="center">
                                @Html.EditorFor(model => model.empresa, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.empresa, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.salarioEmpresa, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;", @placeholder = "$" } })
                                @Html.ValidationMessageFor(model => model.salarioEmpresa, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.fechaIngresoEmpresa, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.fechaIngresoEmpresa, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.fechVenCon, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.fechVenCon, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.tiemLaborado, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.tiemLaborado, "", new { @class = "text-danger" })
                            </td>


                        </tr>

                    </tbody>
                </table>

                <table width="100%" border="1">
                    <tbody>

                        <tr style="background-color: #0A2DE2; color:white;">
                            <th width="25%" scope="col">INGRESOS MENSUALES PERMANENTES CERTIFICADOS</th>
                            <th width="25%" scope="col">GASTOS MENSUALES</th>
                            <td width="50%" align="center">
                                <strong>RELACIÓN DE BIENES DE SU PROPIEDAD</strong>

                            </td>

                        </tr>
                        <tr>

                            <td width="27%">

                                Salario Principal:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.salPri, new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " })
                                <br><br>
                                Otros Ingresos:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.otrIng, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                <br><br>
                                Comisiones:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.comision, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                <br><br>
                                Otros ingresos conyugue:$@Html.EditorFor(model => model.otrIngCon, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                <br><br>
                                Total Ingresos :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.TotalIngresos, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                <br><br>
                                Descripción origen ingresos:@Html.EditorFor(model => model.detOrig, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:300px; display:inline; " } })
                                <br><br>
                            </td>
                            <td width="28%">



                                Arriendo/cuota vivienda:$@Html.EditorFor(model => model.valArriendo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.valArriendo, "", new { @class = "text-danger" })<br><br>
                                Gastos de sostenimiento:$@Html.EditorFor(model => model.valSoste, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.valSoste, "", new { @class = "text-danger" })<br><br>
                                Gastos financieros:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.valFin, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.valFin, "", new { @class = "text-danger" })<br><br>
                                Otros gastos:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.otrGasto, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.otrGasto, "", new { @class = "text-danger" })<br><br>
                                Total Gastos :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.TotalGastos, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.TotalGastos, "", new { @class = "text-danger" })<br><br>
                            </td>
                            <td width="48%">
                                @Html.CheckBoxFor(model => model.casa, htmlAttributes: new { disabled = true }) @Html.Label("Casa")
                                @Html.CheckBoxFor(model => model.apto, htmlAttributes: new { disabled = true }) @Html.Label("Apto")
                                @Html.CheckBoxFor(model => model.finca, htmlAttributes: new { disabled = true }) @Html.Label("Finca")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.CheckBoxFor(model => model.otro, htmlAttributes: new { disabled = true })
                                @Html.Label("Otro, cual?: ")
                                @Html.EditorFor(model => model.cual, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:150px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.cual, "", new { @class = "text-danger" })<br><br>





                                Dirección:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(model => model.dirProp, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:380px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.dirProp, "", new { @class = "text-danger" })<br><br>
                                Ciudad:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(model => model.ciuProp, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.ciuProp, "", new { @class = "text-danger" })
                                Vr. Hipoteca:&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.valHipProp, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })            <br>                                                                                                                 <br>
                                @Html.ValidationMessageFor(model => model.valHipProp, "", new { @class = "text-danger" })
                                Escritura Número:&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(model => model.escritura, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.escritura, "", new { @class = "text-danger" })
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Vehículos</strong>
                                <br><br>
                                Notaría Fecha:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.EditorFor(model => model.notFec, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.notFec, "", new { @class = "text-danger" })
                                Marca/Modelo:&nbsp;@Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })<br><br>


                                N° Mat. inmobiliaria:@Html.EditorFor(model => model.nMatInm, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.nMatInm, "", new { @class = "text-danger" })
                                Vr. Comercial:$@Html.EditorFor(model => model.valComProp, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.valComProp, "", new { @class = "text-danger" })<br><br>


                                Vr. Comercial:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.valVehiculo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.valVehiculo, "", new { @class = "text-danger" })
                                Vr. Deuda:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$@Html.EditorFor(model => model.valDeuVehiculo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width:133px; display:inline; " } })
                                @Html.ValidationMessageFor(model => model.valDeuVehiculo, "", new { @class = "text-danger" })<br><br>


                            </td>

                        </tr>


                    </tbody>
                </table>





                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: #E2B70A; color:white;"><b>3. ENDEUDAMIENTO CON OTRAS ENTIDADES FINANCIERAS-COOPERATIVAS Y/O FONDOS DE EMPLEADOS DIFERENTES A ASOPASCUALINOS</b></td><!--nombrecoopsimplic89-->
                        </tr>
                    </tbody>
                </table>

                <table width="70%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="40%" scope="col">ENTIDAD</th>
                            <th width="30%" scope="col">SALDO DEUDA</th>
                            <th width="30%" scope="col">CUOTA MENSUAL</th>
                        </tr>
                        <tr>
                            <td align="center">
                                @Html.DisplayFor(model => model.ENDentidad1)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(model => model.ENDsaldoDeuda1)

                            </td>
                            <td align="center">
                                @Html.DisplayFor(model => model.ENDcuotaMensual1)
                            </td>

                        </tr>

                    </tbody>
                </table>
                <table width="70%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="40%" scope="col">ENTIDAD</th>
                            <th width="30%" scope="col">SALDO DEUDA</th>
                            <th width="30%" scope="col">CUOTA MENSUAL</th>
                        </tr>
                        <tr>
                            <td align="center">
                                @Html.DisplayFor(model => model.ENDentidad2)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(model => model.ENDsaldoDeuda2)

                            </td>
                            <td align="center">
                                @Html.DisplayFor(model => model.ENDcuotaMensual2)
                            </td>

                        </tr>

                    </tbody>
                </table>

                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: #0A2DE2; color:white;"><b>4. MONTO SOLICITADO</b></td>
                        </tr>
                    </tbody>
                </table>

                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="10%" scope="col">DESTINO</th>
                            <th width="10%" scope="col">LÍNEA DE CRÉDITO</th>
                            <th width="10%" scope="col">VALOR SOLICITADO</th>
                            <th width="10%" scope="col">PLAZO(MESES)</th>
                            <th width="10%" scope="col">CUOTA</th>
                            <th width="10%" scope="col">¿CANCELA CRÉDITO ANTERIOR?</th>
                            <th width="10%" scope="col">¿CUÁL?</th>
                        </tr>
                        <tr>


                            <td align="center">
                                @Html.EditorFor(model => model.id_destino, new { htmlAttributes = new { @readonly = "readonly", @type = "hidden" } })
                                @Html.ValidationMessageFor(model => model.id_destino, "", new { @class = "text-danger" })

                                <label type="text" id="nombre_destino" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.id_linea, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @type = "hidden" } })
                                @Html.ValidationMessageFor(model => model.id_linea, "", new { @class = "text-danger" })

                                <label type="text" id="nombre_linea" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.val_solicitud, new { htmlAttributes = new { @readonly = "readonly", @id = "valSol", @placeholder = "$", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.val_solicitud, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.plazo, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.plazo, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.cuota, new { htmlAttributes = new { @readonly = "readonly", @placeholder = "$", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.cuota, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.RadioButtonFor(model => model.cancelaCredito, "NO", htmlAttributes: new { disabled = true }) @Html.Label("NO")
                                @Html.RadioButtonFor(model => model.cancelaCredito, "SI", htmlAttributes: new { disabled = true }) @Html.Label("SI")
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.pagare, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.pagare, "", new { @class = "text-danger" })
                            </td>

                        </tr>

                    </tbody>
                </table>

                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: red; color:white;"><b>5. INFORMACIÓN CODEUDORES</b></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="20%" scope="col">DOCUMENTO</th>
                            <th width="25%" scope="col">PRIMER APELLIDO</th>
                            <th width="25%" scope="col">SEGUNDO APELLIDO</th>
                            <th width="30%" scope="col">NOMBRES</th>
                        </tr>
                        <tr>
                            <td width="20%" align="center">
                                @Html.EditorFor(model => model.id_codeudor, new { htmlAttributes = new { @id = "id_codeudor", @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.id_codeudor, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%" align="center">
                                <label id="cod1ape1" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="25%" align="center">
                                <label id="cod1ape2" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="30%" align="center">
                                <label id="cod1nom" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="15%" scope="col">LUGAR Y FECHA DE NACIMIENTO</th>
                            <th width="15%" scope="col">ESTADO CIVIL</th>
                            <th width="20%" scope="col">EMPRESA</th>
                            <th width="15%" scope="col">FECHA INGRESO</th>

                        </tr>
                        <tr>
                            <td align="center">
                                <label type="text" id="lugFecNacCodeudor" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" style="width:300px;display:inline; " }>
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.EstadoCivilCod1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.EstadoCivilCod1, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.cod1empresa, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.cod1empresa, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.cod1fechaIngresoEmpresa, new { htmlAttributes = new { @type = "text", @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.cod1fechaIngresoEmpresa, "", new { @class = "text-danger" })

                            </td>

                        </tr>

                    </tbody>
                </table>



                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">

                            <th width="15%" scope="col">CIUDAD/RESIDENCIA</th>
                            <th width="20%" scope="col">BARRIO</th>
                            <th width="13%" scope="col">TELÉFONO</th>
                            <th width="15%" scope="col">CELULAR</th>
                        </tr>
                        <tr>

                            <td width="15%" align="center">
                                <label id="cod1ciudad_residencia" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="20%" align="center">
                                <label id="cod1barrio" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="13%" align="center">
                                <label id="cod1telefono" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="15%" align="center">
                                <label id="cod1celular" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="15%" scope="col">SALARIO</th>
                            <th width="15%" scope="col">DIRECCIÓN RESIDENCIA</th>
                            <th width="15%" scope="col">CORREO ELECTRÓNICO</th>
                        </tr>
                        <tr>
                            <td align="center">
                                <label id="cod1salario" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>
                            </td>
                            <td align="center">
                                <label id="cod1dirRes" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>

                            </td>
                            <td align="center">
                                <label id="cod1correo" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" }>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td>¿TIENE ENDEUDAMIENTO CON ENTIDADES FINANCIERAS_COOPERATIVAS Y/O FONDOS DE EMPLEADOS?</td>
                        </tr>
                    </tbody>
                </table>
                <table width="70%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="40%" scope="col">ENTIDAD</th>
                            <th width="30%" scope="col">SALDO DEUDA</th>
                            <th width="30%" scope="col">CUOTA MENSUAL</th>
                        </tr>
                        <tr>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" />
                            </td>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="$" />

                            </td>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="$" />
                            </td>

                        </tr>

                    </tbody>
                </table>
                <table width="70%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="40%" scope="col">ENTIDAD</th>
                            <th width="30%" scope="col">SALDO DEUDA</th>
                            <th width="30%" scope="col">CUOTA MENSUAL</th>
                        </tr>
                        <tr>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" />
                            </td>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="$" />

                            </td>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="$" />
                            </td>

                        </tr>

                    </tbody>
                </table>
                <div style="page-break-before:always;"></div>  <!--salto de pagina para imprimir-->
                <table width="100%" border="1px">
                    <tbody>
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="20%" scope="col">DOCUMENTO</th>
                            <th width="25%" scope="col">PRIMER APELLIDO</th>
                            <th width="25%" scope="col">SEGUNDO APELLIDO</th>
                            <th width="30%" scope="col">NOMBRES</th>
                        </tr>
                        <tr>
                            <td width="20%" align="center">
                                @Html.EditorFor(model => model.id_codeudor2, new { htmlAttributes = new { @id = "id_codeudor2", @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.id_codeudor2, "", new { @class = "text-danger" })
                            </td>
                            <td width="25%" align="center">
                                <label id="cod2ape1" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="25%" align="center">
                                <label id="cod2ape2" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="30%" align="center">
                                <label id="cod2nom" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="15%" scope="col">LUGAR Y FECHA DE NACIMIENTO</th>
                            <th width="15%" scope="col">ESTADO CIVIL</th>
                            <th width="20%" scope="col">EMPRESA</th>
                            <th width="15%" scope="col">FECHA INGRESO</th>

                        </tr>
                        <tr>
                            <td align="center">
                                <label type="text" id="lugFecNacCodeudor2" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" style="width:300px;display:inline; " }>
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.EstadoCivilCod2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.EstadoCivilCod2, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.cod2empresa, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.cod2empresa, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.cod2fechaIngresoEmpresa, new { htmlAttributes = new { @type = "text", @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.cod2fechaIngresoEmpresa, "", new { @class = "text-danger" })

                            </td>

                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">

                            <th width="15%" scope="col">CIUDAD/RESIDENCIA</th>
                            <th width="20%" scope="col">BARRIO</th>
                            <th width="13%" scope="col">TELÉFONO</th>
                            <th width="15%" scope="col">CELULAR</th>
                        </tr>
                        <tr>

                            <td width="15%" align="center">
                                <label id="cod2ciudad_residencia" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="20%" align="center">
                                <label id="cod2barrio" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="13%" align="center">
                                <label id="cod2telefono" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td width="15%" align="center">
                                <label id="cod2celular" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="15%" scope="col">SALARIO</th>
                            <th width="15%" scope="col">DIRECCIÓN RESIDENCIA</th>
                            <th width="15%" scope="col">CORREO ELECTRÓNICO</th>
                        </tr>
                        <tr>
                            <td align="center">

                                <label id="cod2salario" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />
                            </td>
                            <td align="center">
                                <label id="cod2dirRes" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />

                            </td>
                            <td align="center">
                                <label id="cod2correo" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly="readonly" />
                            </td>

                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td>¿TIENE ENDEUDAMIENTO CON ENTIDADES FINANCIERAS_COOPERATIVAS Y/O FONDOS DE EMPLEADOS?</td>
                        </tr>
                    </tbody>
                </table>
                <table width="70%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="40%" scope="col">ENTIDAD</th>
                            <th width="30%" scope="col">SALDO DEUDA</th>
                            <th width="30%" scope="col">CUOTA MENSUAL</th>
                        </tr>
                        <tr>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" />
                            </td>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="$" />

                            </td>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="$" />
                            </td>

                        </tr>

                    </tbody>
                </table>
                <table width="70%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <th width="40%" scope="col">ENTIDAD</th>
                            <th width="30%" scope="col">SALDO DEUDA</th>
                            <th width="30%" scope="col">CUOTA MENSUAL</th>
                        </tr>
                        <tr>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" />
                            </td>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="$" />

                            </td>
                            <td align="center">
                                <label type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="$" />
                            </td>

                        </tr>

                    </tbody>
                </table>

                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: #E2B70A; color:white;"><b>6. REFERENCIAS FAMILIARES</b></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td>REFERENCIA FAMILIAR 1</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <!--<th width="15%" scope="col">DOCUMENTO</th>-->
                            <th width="25%" scope="col">NOMBRE COMPLETO</th>
                            <th width="10%" scope="col">PARENTESCO</th>
                            <th width="10%" scope="col">CIUDAD</th>
                            <th width="20%" scope="col">OCUPACIÓN</th>
                            <th width="20%" scope="col">DIRECCIÓN</th>
                            <th width="20%" scope="col">CELULAR</th>
                        </tr>
                        <tr>
                            @*<td align="center">
                                    @Html.EditorFor(model => model.cedFam1, new { htmlAttributes = new {  @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                    @Html.ValidationMessageFor(model => model.cedFam2, "", new { @class = "text-danger" })
                                </td>*@
                            <td align="center">
                                @Html.EditorFor(model => model.nomFam1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.nomFam1, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.ParentescoFam1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.ParentescoFam1, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.CiudadFam1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.CiudadFam1, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.ocuFam1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.ocuFam1, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.dirFam1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.dirFam1, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.celFam1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.celFam1, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td>REFERENCIA FAMILIAR 2</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <!--<th width="15%" scope="col">DOCUMENTO</th>-->
                            <th width="25%" scope="col">NOMBRE COMPLETO</th>
                            <th width="10%" scope="col">PARENTESCO</th>
                            <th width="10%" scope="col">CIUDAD</th>
                            <th width="20%" scope="col">OCUPACIÓN</th>
                            <th width="20%" scope="col">DIRECCIÓN</th>
                            <th width="20%" scope="col">CELULAR</th>
                        </tr>
                        <tr>
                            @* <td align="center">
                                    @Html.EditorFor(model => model.cedFam2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                    @Html.ValidationMessageFor(model => model.cedFam2, "", new { @class = "text-danger" })
                                </td>*@
                            <td align="center">
                                @Html.EditorFor(model => model.nomFam2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.nomFam2, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.ParentescoFam2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.ParentescoFam2, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.CiudadFam2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.CiudadFam2, "", new { @class = "text-danger" })

                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.ocuFam2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.ocuFam2, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.dirFam2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.dirFam2, "", new { @class = "text-danger" })
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.celFam2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                                @Html.ValidationMessageFor(model => model.celFam2, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: #E2B70A; color:white;"><b>7. REFERENCIAS PERSONALES</b></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td>REFERENCIA PERSONAL 1</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <!--<th width="15%" scope="col">DOCUMENTO</th>-->
                            <th width="25%" scope="col">NOMBRE COMPLETO</th>
                            <th width="10%" scope="col">PARENTESCO</th>
                            <th width="10%" scope="col">CIUDAD</th>
                            <th width="20%" scope="col">OCUPACIÓN</th>
                            <th width="20%" scope="col">DIRECCIÓN</th>
                            <th width="20%" scope="col">CELULAR</th>
                        </tr>
                        @*<tr>
                            <td align="center">
                                @Html.EditorFor(model => model.cedPer1, new { htmlAttributes = new {  @readonly = "readonly", @style = "text-align:center; border:none;"  } })
                                @Html.ValidationMessageFor(model => model.cedPer2, "", new { @class = "text-danger" })
                            </td>*@
                    <td align="center">
                        @Html.EditorFor(model => model.nomPer1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.nomPer1, "", new { @class = "text-danger" })

                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.ParentescoPer1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.ParentescoPer1, "", new { @class = "text-danger" })

                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.CiudadPer1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.CiudadPer1, "", new { @class = "text-danger" })

                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.ocuPer1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.ocuPer1, "", new { @class = "text-danger" })
                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.dirPer1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.dirPer1, "", new { @class = "text-danger" })
                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.celPer1, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.celPer1, "", new { @class = "text-danger" })
                    </td>
                    </tr>

                    </tbody>
                </table>
                <table width="100%" border="0">
                    <tbody>
                        <tr>
                            <td>REFERENCIA PERSONAL 2</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <!--<th width="15%" scope="col">DOCUMENTO</th>-->
                            <th width="25%" scope="col">NOMBRE COMPLETO</th>
                            <th width="10%" scope="col">PARENTESCO</th>
                            <th width="10%" scope="col">CIUDAD</th>
                            <th width="20%" scope="col">OCUPACIÓN</th>
                            <th width="20%" scope="col">DIRECCIÓN</th>
                            <th width="20%" scope="col">CELULAR</th>
                        </tr>
                        @* <tr>
                            <td align="center">
                                @Html.EditorFor(model => model.cedPer2, new { htmlAttributes = new {  @readonly = "readonly", @style = "text-align:center; border:none;"  } })
                                @Html.ValidationMessageFor(model => model.cedPer2, "", new { @class = "text-danger" })
                            </td>*@
                    <td align="center">
                        @Html.EditorFor(model => model.nomPer2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.nomPer2, "", new { @class = "text-danger" })

                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.ParentescoPer2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.ParentescoPer2, "", new { @class = "text-danger" })

                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.CiudadPer2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.CiudadPer2, "", new { @class = "text-danger" })

                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.ocuPer2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.ocuPer2, "", new { @class = "text-danger" })
                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.dirPer2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.dirPer2, "", new { @class = "text-danger" })
                    </td>
                    <td align="center">
                        @Html.EditorFor(model => model.celPer2, new { htmlAttributes = new { @readonly = "readonly", @style = "text-align:center; border:none;" } })
                        @Html.ValidationMessageFor(model => model.celPer2, "", new { @class = "text-danger" })
                    </td>
                    </tr>

                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td width="100%">
                                <p align="justify">
                                    En mi condición de asociado certifico que la información suministrada en este documento es verdadera.
                                    <br>
                                    Acepto las modificaciones que a esta solicitud determine hacerle la Cooperativa con el propósito de ajustarla a las normas que en materia de crédito tiene establecida. Adjunto las colillas de mis últimos dos descuentos si mi crédito es por <b>DESCUENTO DE NOMINA</b>
                                    y fotocopia de cedula e igual de mis codeudores.
                                    <br>
                                    Autorizo a <!--nombrecoopsimplic89-->ASOPASCUALINOS a reportar, procesar, solicitar y divulgar a las centrales de riesgo toda la información referente a mi comportamiento financiero.


                                </p>
                            </td>

                        </tr>

                        <table style="margin-left: 13%">
                         
                            <tr>
                                <td width="70%">
                                    <p align="justify">

                                        <br><br>

                                        FIRMA  DEL DEUDOR:__________________________________________________&nbsp;

                                        <br><br>
                                    </p>
                                </td>
                                <td width="30%" align="center">
                                    <div style="border:2px solid grey; border-radius:22px; width:140px; height:180px">
                                        <table width="100%">
                                            <tr>
                                                <td width="50%" align="center" style="font-size: 10px;">
                                                    
                                                    <br>
                                                    <br>
                                                    <br><br>
                                                    <br>
                                                    <br><br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    Huella dactilar
                                                    <br>
                                                    <br>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table style="margin-left: 13%">
                            <tr>
                                <td width="70%">
                                    <p align="justify">

                                        <br><br>

                                        FIRMA DEL CODEUDOR:________________________________________________

                                        <br><br>
                                    </p>
                                </td>
                                <td width="30%" align="center">
                                    <div style="border:2px solid grey; border-radius:22px; width:140px; height:180px">
                                        <table width="100%">
                                            <tr>
                                                <td width="50%" align="center" style="font-size: 10px;">
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br><br>
                                                    <br>
                                                    <br><br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>


                                                    Huella dactilar
                                                    <br>
                                                    <br>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table style="margin-left: 13%">
                            <tr>
                                <td width="70%">
                                    <p align="justify">

                                        <br><br>

                                        FIRMA DEL CODEUDOR:________________________________________________

                                        <br><br>
                                    </p>
                                </td>
                                <td width="30%" align="center">
                                    <div style="border:2px solid grey; border-radius:22px; width:140px; height:180px">
                                        <table width="100%">
                                            <tr>
                                                <td width="50%" align="center" style="font-size: 10px;">
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br><br>
                                                    <br>
                                                    <br><br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>


                                                    Huella dactilar
                                                    <br>
                                                    <br>
                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </tbody>
                </table>
                <table width="100%" border="1">
                    <tbody>
                        <tr>
                            <td align="center" style="background-color: #E2B70A; color:white;"><b>CAMPO EXCLUSIVO PARA ASESOR</b></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="1px">
                    <tbody>
                        <tr style="background-color: #AED6F1">
                            <!--<th width="15%" scope="col">DOCUMENTO</th>-->


                        </tr>
                        <tr>
                            <td width="50%">
                                1. Revisión de los documentos soporte del crédito&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="Si" /> &nbsp; &nbsp;&nbsp; <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="No" />
                                <br>
                                2. Confrontación de huellas y firmas del cliente&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="Si" /> &nbsp; &nbsp;&nbsp; <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="No" /><br>
                                3. Realización de la entrevista al cliente&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="Si" /> &nbsp; &nbsp;&nbsp; <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="No" /><br>
                                4. Confirmación de datos de la solicitud de crédito&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="Si" /> &nbsp; &nbsp;&nbsp; <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="No" /><br>
                                5. Búsqueda del cliente en la Lista Clinton &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="Si" /> &nbsp; &nbsp;&nbsp; <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" value="No" /><br>
                                6. Tipo de referenciación realizada  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   <input type="text" class="form-control" readonly="readonly" style="width:20px; display:inline; text-align:center;" /> <br>

                            </td>
                            <td width="50%">
                                Observaciónes: ____________________________________________________________<br>
                                _________________________________________________________________________
                                _________________________________________________________________________
                                <br>
                                <br>
                                <br>

                                ______________________________ &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  ______________________________
                                <br>
                                <center>
                                    Nombre asesor o funcionario&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Firma asesor o funcionario

                                    <br />
                                    @TipoDato
                                </center>


                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <p>

        @Html.ActionLink("Regresar a Listado", "Index")

    </p>





</body>
</html>

<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Scripts/printThis.js"></script>
<script src="~/Scripts/jquery.masknumber.js"></script>

<script>
    $('#BtnImprimir').click(function () {
        $('#contenidoImprimir').printThis();
    });
</script>

<script>
   

    $(document).ready(function () {
        var ciu = "IPIALES";
        $('#ciudad').text(ciu);
 
        var monto1 = $("#salarioEmpresa").val();
        monto1 = formatNumberMiles.new(monto1);
        $("#salarioEmpresa").val(monto1);
        var monto2 = $("#valor_comercial").val();
        monto2 = formatNumberMiles.new(monto2);
        $("#valor_comercial").val(monto2);
        var monto3 = $("#salPri").val();
        monto3 = formatNumberMiles.new(monto3);
        $("#salPri").val(monto3);
        var monto4 = $("#otrIng").val();
        monto4 = formatNumberMiles.new(monto4);
        $("#otrIng").val(monto4);
    
        var monto5 = $("#otrIngCon").val();
        monto5 = formatNumberMiles.new(monto5);
        $("#otrIngCon").val(monto5);
        var monto6 = $("#TotalIngresos").val();
        monto6 = formatNumberMiles.new(monto6);
        $("#TotalIngresos").val(monto6);
        var monto7 = $("#valArriendo").val();
        monto7 = formatNumberMiles.new(monto7);
        $("#valArriendo").val(monto7);
        var monto8 = $("#valSoste").val();
        monto8 = formatNumberMiles.new(monto8);
        $("#valSoste").val(monto8);
        var monto9 = $("#valFin").val();
        monto9 = formatNumberMiles.new(monto9);
        $("#valFin").val(monto9);
        var monto10 = $("#otrGasto").val();
        monto10 = formatNumberMiles.new(monto10);
        $("#otrGasto").val(monto10);
        var monto11 = $("#TotalGastos").val();
        monto11 = formatNumberMiles.new(monto11);
        $("#TotalGastos").val(monto11);
        var monto12 = $("#valHipProp").val();
        monto12 = formatNumberMiles.new(monto12);
        $("#valHipProp").val(monto12);
        var monto13 = $("#valComProp").val();
        monto13 = formatNumberMiles.new(monto13);
        $("#valComProp").val(monto13);
        var monto14 = $("#valVehiculo").val();
        monto14 = formatNumberMiles.new(monto14);
        $("#valVehiculo").val(monto14);
        var monto15 = $("#valDeuVehiculo").val();
        monto15 = formatNumberMiles.new(monto15);
        $("#valDeuVehiculo").val(monto15);
        var monto16 = $("#valSol").val();
        monto16 = formatNumberMiles.new(monto16);
        $("#valSol").val(monto16);
        var monto17 = $("#cuota").val();
        monto17 = formatNumberMiles.new(monto17);
        $("#cuota").val(monto17);

        var monto18 = $("#comision").val();
        monto18 = formatNumberMiles.new(monto18);
        $("#comision").val(monto18);
        

        });

    $(function () {
    	        $("#id_persona").ready(function () {

	                var url = "@Url.Action("GetPrestamoInfo", "solicitudCreditos")";
	                var terceroId = $("#id_persona").val();
	                var data = {
	                terceroId: terceroId
	            };
	        $.post(url, data).done(function (data) {

                $("#nombre_destino").text(String(data[0].nombre_destino));
                $("#nombre_linea").text(String(data[0].nombre_linea));
                $("#valSol").text(String(formatNumberMiles.new(data[0].valorSolicitado)));





            }).fail(manejarErrorAjax).always(function () {
                //esta funcion siempreseejecuta
            });


                });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
    });


    $(function () {
    	        $("#id_persona").ready(function () {

	                var url = "@Url.Action("GetTerceroInfo", "solicitudCreditos")";
	                var terceroId = $("#id_persona").val();
	                var data = {
	                terceroId: terceroId
	            };
	        $.post(url, data).done(function (data) {
                $("#ape1").text(String(data[0].ape1));
                $("#ape2").text(String(data[0].ape2));
                $("#nom").text(String(data[0].nom));
                $("#ciudad_residencia").text(String(data[0].ciudad));
                $("#barrio").text(String(data[0].barrio));
                $("#telefono").text(String(data[0].telefono));
                $("#celular").text(String(data[0].celular));
                $("#salario").text(String(formatNumberMiles.new(data[0].salario)));
                $("#dirRes").text(String(data[0].dirRes));
                $("#correo").text(String(data[0].correo));
                $("#NIT").text(String(data[0].NIT));
                $("#lugFecExp").text(String(data[0].lugFecExp));
                $("#lugFecNac").text(String(data[0].lugFecNac));

            }).fail(manejarErrorAjax).always(function () {
                //esta funcion siempreseejecuta
            });


                });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
    });

    $(function () {
        $("#id_codeudor").ready(function () {

	                var url = "@Url.Action("GetTerceroInfo1", "solicitudCreditos")";
	                var terceroId = $("#id_codeudor").val();
	                var data = {
	                terceroId: terceroId
	            };
            $.post(url, data).done(function (data) {
                if (data != "NO") {
                    $("#cod1ape1").text(String(data[0].ape1));
                    $("#cod1ape2").text(String(data[0].ape2));
                    $("#cod1nom").text(String(data[0].nom));
                    $("#cod1ciudad_residencia").text(String(data[0].ciudad));
                    $("#cod1barrio").text(String(data[0].barrio));
                    $("#cod1telefono").text(String(data[0].telefono));
                    $("#cod1celular").text(String(data[0].celular));
                    $("#cod1salario").text(String(formatNumberMiles.new(data[0].salario)));
                    $("#cod1dirRes").text(String(data[0].dirRes));
                    $("#cod1correo").text(String(data[0].correo));
                    $("#lugFecNacCodeudor").text(String(data[0].lugFecNac));
                } else {

                }

            }).fail(manejarErrorAjax).always(function () {
                //esta funcion siempreseejecuta
            });


                });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
    });


    $(function () {
        $("#id_codeudor2").ready(function () {

	                var url = "@Url.Action("GetTerceroInfo1", "solicitudCreditos")";
	                var terceroId = $("#id_codeudor2").val();
	                var data = {
	                terceroId: terceroId
	            };
            $.post(url, data).done(function (data) {
                if (data != "NO") {
                    $("#cod2ape1").text(String(data[0].ape1));
                    $("#cod2ape2").text(String(data[0].ape2));
                    $("#cod2nom").text(String(data[0].nom));
                    $("#cod2ciudad_residencia").text(String(data[0].ciudad));
                    $("#cod2barrio").text(String(data[0].barrio));
                    $("#cod2telefono").text(String(data[0].telefono));
                    $("#cod2celular").text(String(data[0].celular));
                    $("#cod2salario").text(String(formatNumberMiles.new(data[0].salario)));
                    $("#cod2dirRes").text(String(data[0].dirRes));
                    $("#cod2correo").text(String(data[0].correo));
                    $("#lugFecNac").text(String(data[0].lugFecNac));
                    $("#lugFecNacCodeudor2").text(String(data[0].lugFecNac));
                } else {

                }

            }).fail(manejarErrorAjax).always(function () {
                //esta funcion siempreseejecuta
            });


                });
            function manejarErrorAjax(err) {
                console.log(err.responseText);
            }
	});


</script>

<script>
     var formatNumberMiles = {
        separador: ".", // separador para los miles
        sepDecimal: ',', // separador para los decimales
        formatear: function (num) {
            num += '';
            var splitStr = num.split('.');
            var splitLeft = splitStr[0];
            var splitRight = splitStr.length > 1 ? this.sepDecimal + splitStr[1] : '';
            var regx = /(\d+)(\d{3})/;
            while (regx.test(splitLeft)) {
                splitLeft = splitLeft.replace(regx, '$1' + this.separador + '$2');
            }
            return this.simbol + splitLeft + splitRight;
        },
        new: function (num, simbol) {
            this.simbol = simbol || '';
            return this.formatear(num);
        }
    }

    $(document).ready(function () {
        var valor = $("#val_solicitud").text();
        var forma = formatNumberMiles.new(valor);
        $("#val_solicitud").text(forma);


        
    });



    
</script>
