@model FNTC.Finansoft.Accounting.DTO.MCreditos.Destinos

@{
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
}

@{
    ViewBag.Title = "Editar";
}

<link href="~/Content/css/checkbox_radio.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    EDITAR DESTINO
                </div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.HiddenFor(model => model.Destino_Id)
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Lineas_Id, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("Lineas_Id", null, null, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Lineas_Id)
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Codigo, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.Destino_Codigo, new { @id = "DCod", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Destino_Codigo)
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Descripcion, new { @class = "control-label col-md-10" })
                                        <div class="col-md-11">
                                            @Html.TextBoxFor(model => model.Destino_Descripcion, new { @id = "Descripcion", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Destino_Descripcion)
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>@*hasta aqui*@

                        <br />

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Valor_Minimo, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            <div class="input-group col-lg-12">
                                                <label class="input-group-addon">$</label>
                                                <input type="text" id="ValorMin" required class="form-control">
                                            </div>
                                            @Html.TextBoxFor(model => model.Destino_Valor_Minimo, new { @id = "Vmin", @class = "form-control", @style = "display: none;" })
                                            @Html.ValidationMessageFor(model => model.Destino_Valor_Minimo)
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Valor_Maximo, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            <div class="input-group col-lg-12">
                                                <label class="input-group-addon">$</label>
                                                <input type="text" id="ValorMax" required class="form-control" value="">
                                            </div>
                                            @Html.TextBoxFor(model => model.Destino_Valor_Maximo, new { @id = "Vmax", @class = "form-control", @style = "display: none;" })
                                            @Html.ValidationMessageFor(model => model.Destino_Valor_Maximo)
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Tasa_Minima, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            <div class="input-group col-lg-12">
                                                @Html.TextBoxFor(model => model.Destino_Tasa_Minima, new { @id = "Tmin", @class = "form-control" })
                                                <label class="input-group-addon">%</label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Destino_Tasa_Minima)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Tasa_Maxima, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            <div class="input-group col-lg-12">
                                                @Html.TextBoxFor(model => model.Destino_Tasa_Maxima, new { @id = "Tmax", @class = "form-control" })
                                                <label class="input-group-addon">%</label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Destino_Tasa_Maxima)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>@*hasta aqui*@
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Periodo_Minimo, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            <div class="input-group col-lg-12">
                                                @Html.TextBoxFor(model => model.Destino_Periodo_Minimo, new { @id = "Pmin", @class = "form-control" })
                                                <label class="input-group-addon">Meses</label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Destino_Periodo_Minimo)
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Periodo_Maximo, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            <div class="input-group col-lg-12">
                                                @Html.TextBoxFor(model => model.Destino_Periodo_Maximo, new { @id = "Pmax", @class = "form-control" })
                                                <label class="input-group-addon">Meses</label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Destino_Periodo_Maximo)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Tasa_Mora, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            <div class="input-group col-lg-12">
                                                @Html.TextBoxFor(model => model.Destino_Tasa_Mora, new { @id = "Tmora", @class = "form-control" })
                                                <label class="input-group-addon">%</label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Destino_Tasa_Mora)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Dias_Periodo_Gracia, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10">
                                            <div class="input-group col-lg-12">
                                                @Html.TextBoxFor(model => model.Destino_Dias_Periodo_Gracia, new { @id = "Dgracia", @class = "form-control" })
                                                <label class="input-group-addon">Días</label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Destino_Dias_Periodo_Gracia)
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>@*hsta aqui*@
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Activo, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10 checkbox">
                                            @Html.CheckBoxFor(model => model.Destino_Activo, new { @id = "Dactivo", @class = "checkbox" })
                                            <label for="Dactivo">Activo</label>
                                            @Html.ValidationMessageFor(model => model.Destino_Activo)
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Financia_Interes_Corriente, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10 checkbox">
                                            @Html.CheckBoxFor(model => model.Destino_Financia_Interes_Corriente, new { @id = "Dinteres", @type = "checkbox" })
                                            <label for="Dinteres">Activo</label>
                                            @Html.ValidationMessageFor(model => model.Destino_Financia_Interes_Corriente)
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Causal_Interes_Anticipado, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10 checkbox">
                                            @Html.CheckBoxFor(model => model.Destino_Causal_Interes_Anticipado, new { @id = "Dcausal", @type = "checkbox" })
                                            <label for="Dcausal">Activo</label>
                                            @Html.ValidationMessageFor(model => model.Destino_Causal_Interes_Anticipado)
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>@*hasta aqui*@
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Pagare_Automatico, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10 checkbox">
                                            @Html.CheckBoxFor(model => model.Destino_Pagare_Automatico, new { @id = "Dauto", @type = "checkbox" })
                                            <label for="Dauto">Activo</label>
                                            @Html.ValidationMessageFor(model => model.Destino_Pagare_Automatico)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Fecha_Automatica, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10 checkbox">
                                            @Html.CheckBoxFor(model => model.Destino_Fecha_Automatica, new { @id = "Dfecha", @type = "checkbox" })
                                            <label for="Dfecha">Activo</label>
                                            @Html.ValidationMessageFor(model => model.Destino_Fecha_Automatica)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Cobra_Festivos, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10 checkbox">
                                            @Html.CheckBoxFor(model => model.Destino_Cobra_Festivos, new { @id = "Dfestivos", @type = "checkbox" })
                                            <label for="Dfestivos">Activo</label>
                                            @Html.ValidationMessageFor(model => model.Destino_Cobra_Festivos)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Interes_Abono_Extra_Dias, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10 checkbox">
                                            @Html.CheckBoxFor(model => model.Destino_Interes_Abono_Extra_Dias, new { @id = "Dextra", @type = "checkbox" })
                                            <label for="Dextra">Activo</label>
                                            @Html.ValidationMessageFor(model => model.Destino_Interes_Abono_Extra_Dias)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Destino_Interes_Igual_Plan_Pagos, new { @class = "control-label col-md-10" })
                                        <div class="col-md-10 checkbox">
                                            @Html.CheckBoxFor(model => model.Destino_Interes_Igual_Plan_Pagos, new { @id = "Dplan", @type = "checkbox" })
                                            <label for="Dplan">Activo</label>
                                            @Html.ValidationMessageFor(model => model.Destino_Interes_Igual_Plan_Pagos)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        @*HASTA AQUI*@
                        <div class="row">
                            <div class="col-lg-1">
                                <div class="form-group">
                                    <div class="col-md-offset-0 col-md-8">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Guardar" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@



    <script>
        $(document).ready(function () {
            //ASIGNA EL CONTENIDO DEL CAMPO REAL AL CAMPO TEMPORAL DE VALOR MAXIMO Y VR MINIMO
            //================================================================================
            var m = $('#Vmin').val();
            var min = m.toString();
            $("#ValorMin").val(min);

            var Max = $('#Vmax').val();
            var VMax = Max.toString();
            $("#ValorMax").val(VMax);
            //FIN
            //====

            $("#ValorMax").blur(function () {

                var Capmin = $("#Vmin").val();
                var CapMax = $("#Vmax").val();
                x = parseFloat(Capmin);
                y = parseFloat(CapMax);
                if (x > y) {
                    $("#ValorMin").focus();
                    swal({
                        title: "Error",
                        text:
                            'Capital Mínimo: ' + " " + "$" + Capmin + ' Es Mayor Que Capital Máximo:' + " " + "$" + CapMax,
                        type: 'error',
                        confirmButtonText: 'Aceptar'

                    })

                    $("#ValorMin").val('');
                    $("#Vmin").val('');
                    $("#ValorMin").focus();
                    $("#Vmax").val('');
                    $("#ValorMax").val('');
                    $('#ValorMax').prop('disabled', true);

                    $(":focus").css("background-color", "#F5A9A9");


                }
                $("#ValorMin").keyup(function () {
                    $('#ValorMax').prop('disabled', false);
                    $('#Vmax').prop('disabled', false);
                })
            })

            $("#Tmax").blur(function () {

                var Tasamin = $("#Tmin").val();
                var TasaMax = $("#Tmax").val();
                x = parseFloat(Tasamin);
                y = parseFloat(TasaMax);
                if (x > y) {
                    $("#Tmin").focus();
                    swal({
                        title: "Error",
                        text:
                            'Tasa Mínima: ' + " " + Tasamin + "%" + ' Es Mayor Que Tasa Máxima:' + " " + TasaMax + "%",
                        type: 'error',
                        confirmButtonText: 'Aceptar'

                    })

                    $("#Tmin").val('');
                    $("#Tmin").focus();
                    $("#Tmax").val('');
                    $('#Tmax').prop('disabled', true);
                    $(":focus").css("background-color", "#F5A9A9");


                }
                $("#Tmin").keyup(function () {
                    $('#Tmax').prop('disabled', false);
                })
            })
            $("#Pmax").blur(function () {

                var Plazomin = $("#Pmin").val();
                var PlazoMax = $("#Pmax").val();
                x = parseFloat(Plazomin);
                y = parseFloat(PlazoMax);
                if (x > y) {
                    $("#Pmin").focus();
                    swal({
                        title: "Error",
                        text:
                            'Plazo Mínimo: ' + " " + Plazomin + " Meses" + ' Es Mayor Que Plazo Máximo:' + " " + PlazoMax + " Meses",
                        type: 'error',
                        confirmButtonText: 'Aceptar'

                    })

                    $("#Pmin").val('');
                    $("#Pmin").focus();
                    $("#Pmax").val('');
                    $('#Pmax').prop('disabled', true);
                    $(":focus").css("background-color", "#F5A9A9");




                }
                $("#Pmin").keyup(function () {
                    $('#Pmax').prop('disabled', false);
                })
            })
        })

    </script>


    <script>
        // SEPARADOR DE MILES
        // ==================

        $("#ValorMin").keyup(function () {
            var entrada = $("#ValorMin").val().split('.').join('');
            entrada = entrada.split('').reverse();
            var salida = [];
            var aux = '';

            var paginador = Math.ceil(entrada.length / 3);

            for (let i = 0; i < paginador; i++) {
                for (let j = 0; j < 3; j++) {

                    if (entrada[j + (i * 3)] != undefined) {
                        aux += entrada[j + (i * 3)];
                    }
                }
                salida.push(aux);
                aux = '';
            }
            var string = salida.join('.').split("").reverse().join('');
            var double = parseFloat(string);
            $("#ValorMin").val(string);


        })

        $(document).ready(function () {



            $('#ValorMin').keyup(function () {
                var value = $(this).val();

                var entrada = $("#ValorMin").val();
                var punto = entrada.split('.').join("");
                var valor = parseFloat(punto);
                $('#Vmin').val(valor);
            });
        });
        //MAXIMO
        //======
        $("#ValorMax").keyup(function () {
            var entrada = $("#ValorMax").val().split('.').join('');
            entrada = entrada.split('').reverse();
            var salida = [];
            var aux = '';

            var paginador = Math.ceil(entrada.length / 3);

            for (let i = 0; i < paginador; i++) {
                for (let j = 0; j < 3; j++) {

                    if (entrada[j + (i * 3)] != undefined) {
                        aux += entrada[j + (i * 3)];
                    }
                }
                salida.push(aux);
                aux = '';
            }
            var string = salida.join('.').split("").reverse().join('');
            var double = parseFloat(string);
            $("#ValorMax").val(string);


        })

        $(document).ready(function () {

            $('#ValorMax').keyup(function () {
                var value = $(this).val();

                var entrada = $("#ValorMax").val();
                var punto = entrada.split('.').join("");
                var valor = parseFloat(punto);
                $('#Vmax').val(valor);
            });
        });
    </script>
}
