@using FNTC.Finansoft.Accounting.DTO.FabricaCreditos
@model FCConfiguracion
@using FNTC.Finansoft.Accounting.DTO.OperativaDeCaja

@{
    ViewBag.Title = "Fábrica de Crédito";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
    var sedes = (List<FCSedes>)ViewBag.Sedes;
    var agencias = (List<agencias>)ViewBag.Agencias;
    var centralesRiesgo = (List<CentralRiesgo>)ViewBag.CentralesRiesgo;
}

<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<div class="container" style="margin-top:2%; background: rgb(248, 248, 248);">

    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:0%;border: none; margin-left: 2%;">
        <li class="active"><a href="#" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Configuración </a></li>
        <li><a href="/FabricaCreditos/ActividadesAsociados" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Actividades </a></li>
        <li><a href="/FabricaCreditos/Dependencias" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Dependencias </a></li>
        <li><a href="/FabricaCreditos/MotivosDevolucion" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Devolución </a></li>
        <li><a href="/FabricaCreditos/Documentos" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Documentos </a></li>
        <li><a href="/FabricaCreditos/DocumentosActividad" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Documentos Por Actividad </a></li>
        <li><a href="/FabricaCreditos/EntesAprobacion" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Entidades </a></li>
        <li><a href="/FabricaCreditos/CentralRiesgo" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Centrales</a></li>
    </ul>
    <div class="tab-content contenedortabs">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Configuración General - Adicionar</h3></div>
            <div class="col-md-12">
                <div class="col m-5">
                    <a href="/FabricaCreditos/FabricaCreditos" class="btn btn-primary" data-toggle="modal">
                        Regresar
                    </a>
                </div>
                <br />

                <div class="modal-body">
                    @using (Html.BeginForm("Create", "FabricaCreditos", new { area = "FabricaCreditos" }, FormMethod.Post, new { id = "theForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input id="modo" name="modo" hidden readonly />
                            <input id="idConfiguracion" name="idConfiguracion" hidden readonly />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.tiempoRespuestaSolMin, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.tiempoRespuestaSolMin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tiempoRespuestaSolMin, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.tiempoRespuestaSolMax, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.tiempoRespuestaSolMax, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tiempoRespuestaSolMax, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.tiempoMaxOtorgarCredito, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.tiempoMaxOtorgarCredito, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tiempoMaxOtorgarCredito, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.edadMinCredito, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.edadMinCredito, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.edadMinCredito, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.edadMaxCredito, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.edadMaxCredito, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.edadMaxCredito, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.idSedeApruebaCreditos, htmlAttributes: new { @class = "control-label" })
                                    <select id="idSedeApruebaCreditos" name="idSedeApruebaCreditos" class="form-control">
                                        @foreach (var item in sedes)
                                        {
                                            var nomSede = item.idSede;

                                            <option value="item.idSede">@nomSede</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.idCentralRiesgo, htmlAttributes: new { @class = "control-label" })
                                    <select id="idCentralRiesgo" name="idCentralRiesgo" class="form-control">
                                        @foreach (var item in centralesRiesgo)
                                        {
                                            var nomCentral = @item.nombreCentral + "(valor Consulta: $" + @item.costoConsulta + ")";
                                            <option value="@item.idCentralRiesgo">@nomCentral</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.activa, htmlAttributes: new { @class = "control-label" })
                                    <select id="activa" name="activa" class="form-control">
                                        <option value="No">No</option>
                                        <option value="Si">Si</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="modal-footer">
                                    <button id="cancelarModConfig" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button id="guardarConfig" type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

