@using FNTC.Finansoft.DTO.Respuestas
@using FNTC.Finansoft.DTO.Aportes

@model FNTC.Finansoft.Accounting.DTO.Fichas.Configuracion2Ex

@{
    ViewBag.Title = "Configuración - Aporte Extraordinario";
    Layout = "~/Views/Shared/_Layoutahorros.cshtml";
    var fecha = DateTime.Now.ToString("yyyy-MM-dd");
    var useractual = ViewBag.useractual;

}

@section Styles{
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
}

<div class="container" style="margin-top:2%; background: rgb(248, 248, 248);">
    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:2%;border: none; margin-left: 118px;">

        <li><a href="/Aportes/AportesExtra/AportesExtra" class="tabsnota"><i class="fa fa-calculator" aria-hidden="true"></i> Fichas - Aporte Extraordinario</a></li>
        <li class="active"><a data-toggle="tab" href="#menu1" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Configuracion Aportes Extra</a></li>

    </ul>
    <div class="tab-content contenedortabs">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;"> Configuración - Aporte Extraordinario</h3></div>
            <div class="col-md-12">
                @using (Html.BeginForm("ConfiguracionAportesExtra", "AportesExtra", new { area = "Aportes" }, FormMethod.Post, new { id = "theForm" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdConfiguracionAportesEx)
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label">Codigo de Cuenta :</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.idCuenta, new { htmlAttributes = new { @class = "form-control cuenta", type = "text", placeholder = "Seleccion - Cuenta Contable" } })
                                <span class="input-group-addon" id="nomCuenta"></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.idCuenta, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label">Nombre Abreviado :</label>
                            @Html.EditorFor(model => model.nombreAbreviatura, new { htmlAttributes = new { @class = "form-control", id = "nombreAbreviado", placeholder = "Abreviatura", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.nombreAbreviatura, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Fecha de Configuracion:</label>
                            <input type="text" class="form-control" value="@fecha" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Actualizado Por:</label>
                            <input type="text" class="form-control" value="@useractual" readonly />
                        </div>
                    </div>

                    <div class="row">
                        <div class="modal-footer">
                            <a href="/Aportes/AportesExtra/AportesExtra" class="btn btn-primary" data-toggle="modal">
                                Regresar
                            </a>
                            <input id="guardarConfig" type="button" value="Guardar" class="btn btn-success" />
                        </div>
                    </div>
                }
            </div><!--CONTENIDO TAB-->
        </div><!--MENU-->
    </div><!--CONTENEDOR TABS-->
</div>




@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/DinamismoCliente/formatMilesDec.js"></script>
    <script src="~/Scripts/DinamismoCliente/Dinamismos.js"></script>
    <script src="~/Scripts/Aportes/Validaciones.js"></script>

    <script>
    @*dinamismo del cliente*@
        //tipo calculo
        $("#idTipoCuotaCalculo").on("change", function () {
            $("#porcentaje").val("");
            $("#porcentajeCuota").val("");
            $("#valor").val("");
            $("#valorCuota").val("");
            if ($(this).val() == "1" || $(this).val() == "2") {
                $("#porcentajeCuota").removeProp("disabled");
                $("#porcentaje").removeProp("disabled");
                $("#valor").prop("disabled", true);
            } else {
                if ($(this).val() == "3") {
                    $("#porcentaje").removeProp("disabled");
                    $("#porcentajeCuota").prop("disabled", true);
                    $("#valor").removeProp("disabled");
                } else {
                    if ($(this).val() == "4") {
                        $("#porcentajeCuota").prop("disabled", true);
                        $("#porcentaje").prop("disabled", true);
                        $("#valor").removeProp("disabled");
                    } else {
                        $("#porcentajeCuota").prop("disabled", true);
                        $("#porcentaje").prop("disabled", true);
                        $("#valor").prop("disabled", true);
                    }
                }
            }
        });//tipo calculo
    </script>
    <script>AportesConfiguracion();</script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>


        $("#guardarConfig").click(function () {
            
            
            $(function () {
                var VIdCuenta, VnombreAbreviado;
                /*  $("#guardarConfig").on('click', function () {*/
                VIdCuenta = $(".cuenta").val();
                VnombreAbreviado = $("#nombreAbreviado").val();
                
                if (VIdCuenta.length == 0 || VnombreAbreviado.length == 0) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error...',
                        text: 'Diligenciar Todos los Campos'
                    });
                } else {
                    $("#theForm").submit();
                }
                /* });*/

            });
        });

        
    </script>
    @*dinamismo del cliente*@


}



