@using FNTC.Finansoft.DTO.Respuestas
@using FNTC.Finansoft.DTO.Aportes

@model FNTC.Finansoft.Accounting.DTO.Aportes.FichaAfiliadosAporteEx

@{
    ViewBag.Title = "Nuevo Afiliado - Aporte Extraordinario";
    Layout = "~/Views/Shared/_Layoutahorros.cshtml";
    var fecha = DateTime.Now.ToString("yyyy-MM-dd");
    var useractual = ViewBag.useractual;

}

@section Styles{
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
}

<div class="container" style="margin-top:2%; background: rgb(248, 248, 248);">
    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:2%;border: none; margin-left: 118px;">
    </ul>
    <div class="alert alert-@ViewBag.alerta"> - -/ <b> @ViewBag.res</b> /- - </div>
    @if (ViewBag.alerta == "success")
    {


        <input id="Respuesta" value="1" type="hidden" /> }
    else
    {
        <input id="Respuesta" value="0" type="hidden" />
    }
    <div class="tab-content contenedortabs">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;"> Nuevo Afiliado - Aporte Extraordinario</h3></div>
            <div class="col-md-12">
                @using (Html.BeginForm("NuevoAfiliado", "AportesExtra", new { area = "Aportes" }, FormMethod.Post, new { id = "theForm" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">

                        <div class="form-group col-md-6">

                            <label class="control-label">Asociado:</label>
                            @Html.TextBoxFor(model => Model.idPersona, new { @id = "NIT", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idPersona, "", new { @style = "color:red" })

                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label">Estado:</label>

                            <select class="form-control" id="Estado" name="Estado">
                                <option value=true>Activo</option>
                                <option value=false>Inactivo</option>
                            </select>

                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })


                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Asesor:</label>
                            <input id="User" type="text" class="form-control" value="@useractual" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Fecha de Afiliacion:</label>
                            <input type="text" class="form-control" value="@fecha" readonly />
                        </div>

                    </div>

                    <div class="row">
                        <div class="modal-footer">
                            <a href="/Aportes/AportesExtra/AportesExtra" class="btn btn-primary" data-toggle="modal">
                                Regresar
                            </a>
                            <input type="submit" id="guardarConfig" value="Guardar" class="btn btn-success" />

                        </div>


                    </div>
                }
            </div><!--CONTENIDO TAB-->
        </div><!--MENU-->
    </div><!--CONTENEDOR TABS-->
</div>




@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/DinamismoCliente/formatMilesDec.js"></script>
    <script src="~/Scripts/DinamismoCliente/Dinamismos.js"></script>
    <script src="~/Scripts/Aportes/Validaciones.js"></script>

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script></script>
    <script>
        $("#DataCredito").click(function () {

            location.href = '@Url.Action("Imagen", "Prestamos")';
    });

    </script>

    <script>
        $("#DataCredito").click(function () {

            location.href = '@Url.Action("Imagen", "Prestamos")';
    });

    </script>

    <script>
        $(document).ready(function () {
            var Resp = $("#Respuesta").val();
            if (Resp == "1") {
                $("#NIT").val("");
            }
            $.ajax({

                url: '@Url.Action("GetFechaActual","Prestamos")',
                method: 'GET',
            }).done(function (data) {

                var FechaConvertida = moment(data).format("DD/MM/YYYY");
                $('#Fecha_Prestamo').val(FechaConvertida);

            });
        });
    </script><!--Get Fecha Actual-->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select-single").chosen();
            $(".chosen-select-multiple").chosen();

        });
    </script><!--Script Libreria chosen-->

    <script>
        $(function () {
            $("#gar").click(function () {
                var auxGarantia = $('#Garantia_Id').val();
                $('#Real_Valor').attr('readonly', false);
                $("#Real_Valor").val("");
                $.ajax({
                    url: this.href,
                    type: 'POST',
                    data: { input: $('#Garantia_Id').val() },
                    success: function (result) {
                        var x = result.name;
                        if (x == 0) {
                            $("#myModal2").modal("toggle");
                            $("#codeudorovalor").val("cod");
                        }
                        else {
                            if (auxGarantia == "4") {
                                $("#Real_Valor").val("1");
                                $('#Real_Valor').attr('readonly', true);
                                $("#btnSubmit").click(function () {

                                    $("#loaderDiv").show();

                                    var myformdata = $("#myForm").serialize();
                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("_Real", "Real")",
                                        data: myformdata,
                                        success: function () {
                                            $("#loaderDiv").hide();
                                            $("#myModal").modal("hide");
                                        }
                                    })
                                })

                            }

                            $("#myModal").modal("toggle");
                            $("#codeudorovalor").val("val");
                        }

                    },
                    error: function () {

                        swal('Oops..', 'Debe Seleccionar Una Garantia..!', 'info')

                    }
                });
                return false;
            });
        });
    </script><!--¨Parte de garantias-->

    <script>
        $('#gar').click(function () {
            $("#Real_Valor").val("");
            var valorPag = $('#Pagare').val();

            if (valorPag == null || valorPag == 0) {
                $('#Real_Valor').attr('readonly', true);
                $('#btnSubmit').attr("disabled", true);
                swal("Debe Ingresar Un Valor de Pagaré");

            }
            else if (valorPag != null || valorPag != 0) {
                $('#PagareId').val(valorPag);
                $("#btnSubmit").click(function () {

                    $("#loaderDiv").show();

                    var myformdata = $("#myForm").serialize();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("_Real", "Real")",
                        data: myformdata,
                        success: function () {
                            $("#loaderDiv").hide();
                            $("#myModal").modal("hide");
                        }
                    })
                })
            }
        })
        //Personal

        $('#gar').click(function () {
            var valorPag = $('#Pagare').val();

            if (valorPag == null || valorPag == 0) {
                $('#NIT').attr('readonly', true);
                $('#btnSubmit2').attr("disabled", true);
                swal("Debe Ingresar Un Valor de Pagare");

            }
            else if (valorPag != null || valorPag != 0) {
                $('#PagarePer').val(valorPag);
                $("#btnSubmit2").click(function () {

                    $("#loaderDiv2").show();

                    var myformdata = $("#myForm2").serialize();
                    //var myformdata = $("#NIT, #Prestamos_id").serialize();

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Create","Personal")",
                        data: myformdata,
                        success: function () {
                            $("#loaderDiv2").hide();
                            $("#myModal2").modal("hide");

                        }

                    })
                })
            }
        })
    </script><!--Garantias-->

    <script>
        $(document).ready(function () {
            $('#Lineas_Id').change(function ()
            {
                $('#Destino_Id').empty();
                $.ajax({
                    type: "POST",
                    //url: "/Costos_Adicionales/GetStatesByCountryId",
                    url: "@Url.Action("GetStatesByCountryId", "Costos_Adicionales")",
                    datatype: "Json",
                    data: { countryId: $('#Lineas_Id').val() },
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $('#Destino_Id').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                        });

                    }
                });
            });

            //subdestinos
            $('#Destino_Id').change(function () {
                //Traer el pagare de forma automatica
                $.ajax({
                    type: "POST",
                    //url: "/Costos_Adicionales/GetStatesByCountryId",
                    url: "@Url.Action("GetPagare", "CConsecutivos")",
                    datatype: "Json",
                    data: { paramIdDestino: $('#Destino_Id').val() },
                    success: function (data) {
                        if (data.cod == "Pagare no Configurado") {
                            swal({
                                title: "Alerta",
                                type: "info",
                                text: "El destino seleccionado no tiene un pagaré configurado",
                            })
                            $('#Pagare').val("");
                        } else {
                            $('#Pagare').val(data.cod + data.actual + "(" + data.prestamo + ")");
                            if (data.esaut == 1) {
                                $('#Pagare').attr("readonly", "readonly");
                            }
                        }
                        if (data.interesminimo == 1) {
                            /*$("#Interes").attr("readonly", "readonly");*/
                        } else {
                            $("#Interes").removeAttr("readonly", "readonly");
                        }
                        $("#Interes").val(data.tminima);
                    }
                });

                $('#Capital').attr("disabled", false);
                //$('#Interes').attr("disabled", false);
                $('#Plazo').attr("disabled", false);

                $('#Subdestino_Id').empty();
                $.ajax({
                    type: "POST",
                    //url: "/Costos_Adicionales/GetStatesByCountryId",
                    url: "@Url.Action("GetStatesBysubdestinoId", "Costos_Adicionales")",
                    datatype: "Json",
                    data: { SubId: $('#Destino_Id').val() },
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $('#Subdestino_Id').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                        });

                    }
                });
            });



        });
    </script><!--Llamar Lineas-Destino-Subdestinos-->

    <script>
        $(document).ready(function ()
        {
            $('#Destino_Id').change(function () {
                $('#bodyCostosAdicionales').empty();
                $.ajax({
                    type: "POST",
                    //url: "/Costos_Adicionales/GetStatesByCountryId",
                    url: "@Url.Action("GetCostosAdicionales", "Prestamos")",
                    datatype: "Json",
                    data: { Costos: $('#Destino_Id').val() },
                    success: function (data) {
                        data = JSON.parse(data);
                        $.each(data, function (key, val) {
                            var tr = '<tr>';
                            tr += '<td>' + (key + 1) + '</td>';
                            tr += '<td>' + val.Cuenta_Cod + '</td>';
                            tr += '<td>' + val.CA_Nombre + '</td>';
                            tr += '<td>' + val.CA_Porcentaje + '</td>';
                            tr += '<td>' + val.CA_Valor + '</td>';
                            tr += '<td class="hide"> ' + val.CA_Id + '</td>';
                            //tr += '<td><a class="delete btn btn-danger btn-xs" data-key="' + (key + 1) + '">Eliminar</a></td>';
                            tr += '<td><a class="agregar btn btn-success btn-xs" data-key="' + (key + 1) + '">Seleccionar</a></td>';
                            if (val.CA_Valor == 0) {
                                tr += '<td><select id="sel"" class="form-control"><option value="5">COSTO ADICIONAL ANTICIPADO</option><option value="6">COSTO ADICIONAL EN EL TIEMPO</option><option value="7">COSTO ADICIONAL EN CADA CUOTA</option></select></td>';
                            } else {
                                tr += '<td><select id="sel"" class="form-control"><option value="1">COSTO ADICIONAL EN CADA CUOTA</option><option value="2">COSTO ADICIONAL DIVIDIDO EN EL TIEMPO</option><option value="3">COSTO ADICIONAL PRIMERA CUOTA</option><option value="4">COSTO ADICIONAL ANTICIPADO</option></select></td>';
                            }
                            tr += '</tr>';
                            $('#bodyCostosAdicionales').append(tr);
                        });
                        var porc = 0;
                        var costoAdicionalEnEltiempo = 0;
                        var costoAdicionalAnticipado = 0;
                        var costoAdicionalPrimeraCuota = 0;
                        var costoAdicionalDividoEnElTiempo = 0;
                        var ValorPorcentajeCostoAnticipado = 0;
                        var ValorPorcentajeCostoEnCadaCuota = 0;
                        $('a.agregar').on('click', function ()
                        {
                            var cRow = $(this).parents('tr'); //datos en json
                            var cId = $('td:nth-child(2)', cRow).text(); //cid= numero de columna este caso ID
                            var nombre = $('td:nth-child(3)', cRow).text();
                            var Porcentaje = $('td:nth-child(4)', cRow).text();
                            var Valor = $('td:nth-child(5)', cRow).text();
                            var CA_Id = $('td:nth-child(6)', cRow).text();
                            var secobracomo = cRow.find("#sel").val();
                            var secobracomoTexto = "";
                            $('#CA_Id').val(CA_Id);

                            var valorPag = $('#Pagare').val();
                            if (valorPag == null || valorPag == 0) {
                                swal("Debe Ingresar Un Valor de Pagaré!!!...");
                            }
                            else if (valorPag != null || valorPag != 0) {
                                swal({
                                    title: "Agregar Costo Adicional?..\n" + nombre + "",
                                    type: "success",
                                    confirmButtonClass: "btn-success",
                                    confirmButtonText: "Aceptar",
                                    showCancelButton: true,
                                },
                                function ()
                                {
                                    if (secobracomo == 1) {
                                        costoAdicionalEnEltiempo = costoAdicionalEnEltiempo + parseFloat(Valor);
                                        alert(costoAdicionalEnEltiempo);
                                        $('#costoAdicionalEnEltiempo').val(costoAdicionalEnEltiempo);
                                        secobracomoTexto = "COSTO ADICIONAL EN CADA CUOTA";
                                    } else if (secobracomo == 4) {
                                        costoAdicionalAnticipado = costoAdicionalAnticipado + parseFloat(Valor);
                                        $('#costoAdicionalAnticipado').val(costoAdicionalAnticipado);
                                        secobracomoTexto = "COSTO ADICIONAL ANTICIPADO";
                                    } else if (secobracomo == 3) {
                                        costoAdicionalPrimeraCuota = costoAdicionalPrimeraCuota + parseFloat(Valor);
                                        $('#costoAdicionalPrimeraCuota').val(costoAdicionalPrimeraCuota);
                                        secobracomoTexto = "COSTO ADICIONAL PRIMERA CUOTA";
                                    } else if (secobracomo == 2) {
                                        costoAdicionalDividoEnElTiempo = costoAdicionalDividoEnElTiempo + parseFloat(Valor);
                                        $('#costoAdicionalDividoEnElTiempo').val(costoAdicionalDividoEnElTiempo);
                                        secobracomoTexto = "COSTO ADICIONAL DIVIDIDO EN EL TIEMPO";
                                    } else if (secobracomo == 5) {
                                        ValorPorcentajeCostoAnticipado = ValorPorcentajeCostoAnticipado + parseFloat(Porcentaje);
                                        $('#ValorPorcentajeCostoAnticipado').val(ValorPorcentajeCostoAnticipado);
                                        secobracomoTexto = "COSTO ADICIONAL ANTICIPADO";
                                    } else if (secobracomo == 6) {
                                        porc = porc + parseFloat(Porcentaje);
                                        $('#ValorSeguroPorcentaje').val(porc);
                                        secobracomoTexto = "COSTO ADICIONAL EN EL TIEMPO";
                                    } else if (secobracomo == 7) {
                                        ValorPorcentajeCostoEnCadaCuota = ValorPorcentajeCostoEnCadaCuota + parseFloat(Porcentaje);
                                        $('#ValorPorcentajeCostoEnCadaCuota').val(ValorPorcentajeCostoEnCadaCuota);
                                        secobracomoTexto = "COSTO ADICIONAL EN CADA CUOTA";
                                    }

                                    var data = {
                                        CA_Id: $('#CA_Id').val().trim(),
                                        Pagare: $('#Pagare').val().trim(),
                                        seCobraComo: secobracomo
                                    }
                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("AddCostos","Prestamos")",
                                        data: JSON.stringify(data),
                                        contentType: 'application/json',

                                        success: function () {0
                                            $.ajax({
                                                type: "POST",
                                                url: "@Url.Action("qDeleteCA", "Prestamos")",
                                                datatype: "Json",
                                                data: { pagare: $('#Pagare').val(), CA_Id: CA_Id },
                                                success: function (data) {
                                                   data = JSON.parse(data);
                                                    $.each(data, function (key, val) {
                                                        var tr = '<tr>';
                                                        tr += '<td>' + (key + 1) + '</td>';
                                                        tr += '<td>' + val.Cuenta_Cod + '</td>';
                                                        tr += '<td>' + val.CA_Nombre + '</td>';
                                                        tr += '<td>' + val.CA_Porcentaje + '</td>';
                                                        tr += '<td>' + val.CA_Valor + '</td>';
                                                        tr += '<td class="hide"> ' + val.CA_Id + '</td>';
                                                        tr += '<td class="hide"> ' + val.Id_CostoPretamo + '</td>';
                                                        tr += '<td> ' + secobracomoTexto + '</td>';
                                                        //tr += '<td><a class="delete btn btn-danger btn-xs" data-key="' + (key + 1) + '">Eliminar</a></td>'; //DESABILITADA HASTA TERMINAR VALIDACIONES
                                                        tr += '</tr>';
                                                        $('#CostosSeleccionados').append(tr);
                                                    });

                                                    $('a.delete').on('click', function ()
                                                    {
                                                        var cRow = $(this).parents('tr'); //datos en json
                                                        var cId = $('td:nth-child(7)', cRow).text(); //cid= numero de columna este caso ID
                                                        var IDC = parseInt(cId);
                                                        GetValorDecreciente(IDC);
                                                        swal({
                                                                title: "Eliminar Costo?",
                                                                text: "Esta Seguro de Eliminar El Costo Adicional?",
                                                                type: "warning",
                                                                showCancelButton: true,
                                                                closeOnConfirm: false,
                                                                confirmButtonText: "Eliminar",
                                                                confirmButtonColor: "#ec6c62"
                                                            },
                                                            function ()
                                                            {
                                                                $.ajax({
                                                                    url: "/Prestamos/DeleteCA/",
                                                                    data: { id: cId },
                                                                    type: "POST"
                                                                })
                                                                .done(function (data) {
                                                                    sweetAlert
                                                                        ({
                                                                            title: "Eliminado!",
                                                                            text: "El Costo Fue Eliminado Con Exito!",
                                                                            type: "success"
                                                                        },
                                                                            function () {
                                                                                cRow.fadeOut('slow', function () {
                                                                                    //aqui va la funcion
                                                                                });

                                                                            });

                                                                })
                                                                .error(function (data) {
                                                                    swal("Oops", "Ha Ocurrido Un Error!", "error");
                                                                });
                                                            });
                                                    })
                                                }
                                            })
                                        }
                                    })

                                    swal('Usted Ha Seleccionado\nEl Costo Adicional: \n $' + Valor + '  Mil');

                                    //FUNCION SUSTRACCION DE % Y VALORES
                                    //===================================

                                    function GetValorDecreciente(IDC) {

                                        var valorf = $('#ValorSeguro').val();
                                        var porcentaje = $('#ValorSeguroPorcentaje').val();

                                        if (valorf != 0 && porcentaje == 0) {
                                            val = parseFloat(valorf);
                                            $.ajax({
                                                type: "POST",
                                                //url: "/Costos_Adicionales/GetStatesByCountryId",
                                                url: "@Url.Action("qDecrecienteCA", "Prestamos")",
                                                datatype: "Json",
                                                data: { pagare: $('#Pagare').val(), CA_Id: CA_Id, valor: val, idCoPre: IDC },

                                                success: function (data) {

                                                    data = JSON.parse(data);
                                                    $('#ValorSeguro').val(data);
                                                }
                                            })//fin ajax

                                        }
                                        else if (porcentaje != 0 && valorf == 0) {

                                            $.ajax({
                                                type: "POST",
                                                //url: "/Costos_Adicionales/GetStatesByCountryId",
                                                url: "@Url.Action("qDecrep", "Prestamos")",
                                                datatype: "Json",
                                                data: { pagare: $('#Pagare').val(), CA_Id: CA_Id, porciento: porcentaje, idCoPre: IDC },

                                                success: function (data) {

                                                    data = JSON.parse(data);
                                                    $('#ValorSeguroPorcentaje').val(data);
                                                }
                                            })//fin ajax

                                        }
                                        else if (valorf != 0 && porcentaje != 0) {
                                            val = parseFloat(valorf);
                                            $.ajax({
                                                type: "POST",
                                                //url: "/Costos_Adicionales/GetStatesByCountryId",
                                                url: "@Url.Action("qDecrepVP", "Prestamos")",
                                                datatype: "Json",
                                                data: { pagare: $('#Pagare').val(), CA_Id: CA_Id, valor: val, porciento: porcentaje, idCoPre: IDC },

                                            success: function (data) {
                                                //data = JSON.parse(data);
                                                $.each(data, function (key, val) {
                                                    console.log(data.POR);
                                                    console.log(data.VAL);
                                                    $('#ValorSeguroPorcentaje').val(data.POR);
                                                    $('#ValorSeguro').val(data.VAL);
                                                })
                                            }
                                        })//fin ajax
                                        }
                                    }

                                    var intKey = $(this).data('key'); //Autoincremental

                                    cRow.fadeOut('slow', function () {

                                        // doDelete(cId, intKey);
                                    });

                                }, //fin primera funcion

                                function (cancel) {
                                    swal(true, 'Your imaginary file is safe :)', 'error')
                                }
                                )//fin swall
                            }//fin else if
                        });//fin funcion agregar


                        function doDelete(param1, param2) {
                            swal('Datos a Eliminar\n\nId: ' + param1 + '\nAutonumerico: ' + param2 + '');
                        }
                    }

                });
            });
        });
    </script><!--Costos Adicionales-->

    <script>
        $(document).ready(function (){
            $("#Tipo_Periodo_Id").change(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetValorTipoPeriodo", "Prestamos")",
                    datatype: "Json",
                    data: { IdPeriodo: $('#Tipo_Periodo_Id').val() },
                    success: function (data) {
                        $.each(data, function (index, value) {
                            console.log(data);
                            $('#ValorPeriodo').val(data);
                        });
                    }
                });
            });
        });
    </script><!--Get Valor tipo periodo-->

    <script>
        $('#Plazo').focus(function () {
            var FechaPrestamo = $("#Fecha_Prestamo").val();
            var per = $("#ValorPeriodo").val();
            var FechaActual = sumaFecha(per, FechaPrestamo);
            $('#FechaPrimerPago').val(FechaActual);
        })

        $('#Plazo').change(function () {
            var FechaPrestamo = $("#Fecha_Prestamo").val();
            var per = $("#ValorPeriodo").val();
            /*
            var patron = /^(\d{1,2})-(\d{1,2})-(\d{4})$/;
            var arrayFecha = FechaPrestamo.match(patron);
            var fecha = new Date(arrayFecha[3], arrayFecha[2] - 1, arrayFecha[1]);
            */
            var FechaActual = sumaFecha(per, FechaPrestamo);
            $('#FechaPrimerPago').val(FechaActual);
        })
    </script><!--FUNCION QUE CALCULA LA FECHA DEL PRIMER PAGO DE ACUERDO AL PERIODO-->

    <script>

        function GetCostoAdicionalAnticipado(capital) {
            let valor = 0;
            if (capital >= 0 && capital <= 10000000) { valor = parseFloat(capital * 0.015); }
            else if (capital > 10000000 && capital <= 15000000) { valor = parseFloat(capital * 0.012); }
            else { valor = parseFloat(capital * 0.01); }
            return valor;
        }

        function Amotizacion() {
            /*Swal.fire('Descargar Autorizacion para tratameinto de Datos', '', 'info')*/
            alert("Descargar Autorizacion para tratamiento de Datos");
            $("#TablaAmortizacion").empty();
            $("#interes").empty();
            $("#capitalDescuentos").empty();
            var seleccion = $("#myselect").val();
            var Capital = parseInt($("#Capital").val());

            var Interes = $("#Interes").val();

            var Plazo = $("#Plazo").val();
            var plazo = parseFloat(Plazo);
            var Periodo = $("#Tipo_Periodo_Id").val();

            var Int = (parseFloat(Interes) / 100).toFixed(3);

            var cuota = Capital * (Int / (1 - Math.pow((1 + Int), -plazo)));


            var InteresMensual = 0;
            var amortizacion = 0;
            var amortizacion_total = 0;
            // Calculo de Fecha
            var Periodo = $("#ValorPeriodo").val();
            var Per = parseInt(Periodo);
            var FechaPrestamo = $("#Fecha_Prestamo").val();





            //Fecha actual
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var output = (day < 10 ? '0' : '') + day + '/' +
                (month < 10 ? '0' : '') + month + '/' +
                d.getFullYear();
            $("#fechadesembolso").val(output);
            //Fin Fecha actual
            //var FechaActual = new date(FechaPrestamo);
            //Funcion que recibe la cantidad de dias transcurridos desde la fecha de prestamo
            var difdias = diferencia(output, FechaPrestamo);
            $("#difdias").val(difdias);
            //calculo del valor del interes ValDiasInt=valor dias interes
            var ValDiasInt = (Capital * Int / 30) * difdias;

            ValDiasInt = Math.round(ValDiasInt);


            //alert(ValDiasInt);
            $("#ValDiasInt").val(ValDiasInt);
            // alert($("#ValDiasInt").val());
            //retorno de la ultmima fecha del mes
            var UltDia = ultimodia();
            //suma el periodo a la fecha del prestamos
            var FechaActual = sumaFecha(Per, UltDia);
            var ValorPorcentajeCostoAnticipado = 0;
            var costoAdicionalAnticipado = 0;
            var ValorPorcentajeCostoEnCadaCuota = 0;
            ValorPorcentajeCostoAnticipado = $("#ValorPorcentajeCostoAnticipado").val();
            ValorPorcentajeCostoEnCadaCuota = $("#ValorPorcentajeCostoEnCadaCuota").val();
            var costoAdicionalEnEltiempo = parseInt($("#costoAdicionalEnEltiempo").val());
            var costoAdicionalAnticipado = parseInt($("#costoAdicionalAnticipado").val());
            if (ValorPorcentajeCostoAnticipado != 0) {
                costoAdicionalAnticipado = GetCostoAdicionalAnticipado(Capital);//(costoAdicionalAnticipado + ((parseFloat(ValorPorcentajeCostoAnticipado) / 100) * Capital));
                costoAdicionalAnticipado = parseInt(costoAdicionalAnticipado);
            }
            var costoAdicionalPrimeraCuota = parseInt($("#costoAdicionalPrimeraCuota").val());
            var costoAdicionalDividoEnElTiempo = parseInt($("#costoAdicionalDividoEnElTiempo").val());
            if (costoAdicionalDividoEnElTiempo != 0) {
                costoAdicionalDividoEnElTiempo = Math.round((costoAdicionalDividoEnElTiempo / plazo), 2);
            }

            var ValorPorcentaje = $("#ValorSeguroPorcentaje").val();
            ValorPorcentajeParaTabla = 0;
            if (ValorPorcentaje != 0) {
                ValorPorcentaje = parseFloat(ValorPorcentaje) / 100;
                ValorPorcentajeParaTabla = (Capital * ValorPorcentaje);


            } else {
                ValorPorcentaje = 1;
                ValorPorcentajeParaTabla = 0;
            }
            if (ValorPorcentajeCostoEnCadaCuota != 0) {
                ValorPorcentajeCostoEnCadaCuota = parseFloat(ValorPorcentajeCostoEnCadaCuota) / 100;
                ValorPorcentajeCostoEnCadaCuota = (((Capital * ValorPorcentajeCostoEnCadaCuota) / 12) * plazo);
                ValorPorcentajeCostoEnCadaCuota = parseInt(ValorPorcentajeCostoEnCadaCuota);
                costoAdicionalEnEltiempo = costoAdicionalEnEltiempo + ValorPorcentajeCostoEnCadaCuota;
            }
            var CapitalMenoscostoAdicionalAnticipado = Capital - costoAdicionalAnticipado;

            $.ajax({
                @*url: "@Url.Action("GetAmortizacion", "Prestamos")",*@
                url: "/Creditos/Prestamos/GetAmortizacion",
                datatype: "Json",
                data: {
                    seleccion: seleccion,
                    capital: Capital,
                    interes: Int,
                    plazo: plazo,
                    FechaPrestamo: FechaPrestamo,
                    VPS: ValorPorcentajeParaTabla,
                    costoAdicionalEnEltiempo: costoAdicionalEnEltiempo,
                    costoAdicionalAnticipado: costoAdicionalAnticipado,
                    ValorPorcentajeCostoAnticipado: ValorPorcentajeCostoAnticipado,
                    ValorPorcentajeCostoEnCadaCuota: ValorPorcentajeCostoEnCadaCuota,
                    ValDiasInt: ValDiasInt,
                    costoAdicionalPrimeraCuota: costoAdicionalPrimeraCuota,
                    costoAdicionalDividoEnElTiempo: costoAdicionalDividoEnElTiempo,
                    Periodo: Per
                },
                type: 'post',
            }).done(function (data) {
                if (data.status == true) {
                    $.each(data.list, function (index, value) {
                        $("#TablaAmortizacion").append("<tr><td>" + value[0] + "</td><td>" + value[1] + "</td><td>" + value[2] + "</td><td>" + value[3] + "</td><td>" + value[4] + "</td><td>" + value[5] + "</td><td>" + value[6] + "</td><td>" + value[7] + "</td></tr>");
                    });

                    $("#auxCostoAdicionalEnEltiempo").val(costoAdicionalEnEltiempo);
                    $("#auxCostoAdicionalDividoEnElTiempo").val(costoAdicionalDividoEnElTiempo);
                    $("#auxValorPorcentajeCostoAnticipado").val(ValorPorcentajeCostoAnticipado);
                    $("#auxValorPorcentajeCostoEnCadaCuota").val(ValorPorcentajeCostoEnCadaCuota);
                }
                else if (data.status == false) {

                }

            }).fail(function (jqXHR, textStatus, errorThrown) {

            });


            var tr = $("<tr>")
                .append($("<td>", { html: formato_numero(Capital.toFixed(0), 0, ".", ".") }))
                .append($("<td>", { html: formato_numero(costoAdicionalAnticipado.toFixed(0), 0, ".", ".") }))
                .append($("<td>", { html: formato_numero(CapitalMenoscostoAdicionalAnticipado.toFixed(0), 0, ".", ".") }))
            $("#capitalDescuentos").append(tr);

            var tr = $("<tr>")
                .append($("<td>", { html: output }))
                .append($("<td>", { html: FechaPrestamo }))
                .append($("<td>", { html: difdias }))
                .append($("<td>", { html: ValDiasInt }))
            $("#interes").append(tr);

            var x = 0;

            //abono interes
            var AbonoInteres = 0;
            AbonoInteres = Capital * (Interes / 100);
            var AI = 0;

            //abono capital
            var AbonoCapital = 0;
            AbonoCapital = cuota - AbonoInteres;
            var Abc = 0;
            var selecccion = 0;

            //if (seleccion == 2 && ValDiasInt != 0) {
            //    costoAdicionalEnEltiempo = costoAdicionalEnEltiempo + (ValDiasInt / Plazo);
            //    alert(costoAdicionalEnEltiempo);
            //} else if (seleccion == 3) {
            //    costoAdicionalPrimeraCuota = costoAdicionalPrimeraCuota + ValDiasInt;
            //}

            //var ValorCuota = 0;
            //ValorCuota = (AbonoCapital + AbonoInteres + costoAdicionalEnEltiempo + costoAdicionalPrimeraCuota + costoAdicionalDividoEnElTiempo + ValorPorcentaje + ValorPorcentajeParaTabla);
            //ValorCuotaSinCostoAdicionalPrimeraCuota = (AbonoCapital + AbonoInteres + costoAdicionalEnEltiempo + costoAdicionalDividoEnElTiempo + ValorPorcentaje);
            //var ValorCostoFijo = costoAdicionalEnEltiempo + costoAdicionalPrimeraCuota + costoAdicionalDividoEnElTiempo;
            //var ValorCostoFijoSinCostoPrimeraCuotaSinInteresAnticipado = costoAdicionalEnEltiempo + costoAdicionalDividoEnElTiempo;
            //var SaldoCapital = 0;
            //SaldoCapital = Capital - AbonoCapital;
            //SC = 0;


        }

    </script><!--Amortizacion-->

    <script>
        function formato_numero(numero, decimales, separador_decimal, separador_miles) { // v2007-08-06
            numero = parseFloat(numero);
            if (isNaN(numero)) {
                return "";
            }

            if (decimales !== undefined) {
                // Redondeamos
                numero = numero.toFixed(decimales);
            }

            // Convertimos el punto en separador_decimal
            numero = numero.toString().replace(".", separador_decimal !== undefined ? separador_decimal : ",");

            if (separador_miles) {
                // Añadimos los separadores de miles
                var miles = new RegExp("(-?[0-9]+)([0-9]{3})");
                while (miles.test(numero)) {
                    numero = numero.replace(miles, "$1" + separador_miles + "$2");
                }
            }

            return numero;
        }

    </script><!--Formatear Un numero-->

    <script>
        sumaFecha = function (d, fecha) {
            var Fecha = new Date();
            var sFecha = fecha || (Fecha.getDate() + "/" + (Fecha.getMonth() + 1) + "/" + Fecha.getFullYear());
            var sep = sFecha.indexOf('/') != -1 ? '/' : '-';
            var aFecha = sFecha.split(sep);
            var fecha = aFecha[2] + '/' + aFecha[1] + '/' + aFecha[0];
            fecha = new Date(fecha);
            fecha.setDate(fecha.getDate() + parseInt(d));
            var anno = fecha.getFullYear();
            var mes = fecha.getMonth() + 1;
            var dia = fecha.getDate();
            mes = (mes < 10) ? ("0" + mes) : mes;
            dia = (dia < 10) ? ("0" + dia) : dia;
            var fechaFinal = dia + sep + mes + sep + anno;
            return (fechaFinal);
        }
    </script><!--Funcion que suma la cantidad de dias en javascript-->

    <script>
        $(document).ready(function () {
            $('#NIT').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Terceros/Terceros/GetTercerosAutocopletar2",
                        data: { cadena: request.term },
                        dataType: 'json',
                        type: 'POST',
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Nombre,
                                    //CEDULA: item.NIT,
                                    value: item.Id,
                                    //SALARIO: item.SALARIO
                                }
                            }));
                        }
                    })
                },
                select: function (event, ui) {
                    $('#NIT').val(ui.item.value);
                    $('#NOMBRE').val(ui.item.label);
                    //$('#SALARIO').val(ui.item.SALARIO);
                    ////Separador de miles para salario
                    //var entradac = $('#SALARIO').val();
                    //var numc = entradac.replace(/\./g, "");
                    //if (!isNaN(numc)) {
                    //    numc = numc.toString().split("").reverse().join("").replace(/(?=\d*\?)(\d{3})/g, "$1.");
                    //    numc = numc.split("").reverse().join("").replace(/^[\.]/, "");
                    //    entradac = numc;
                    //} else {
                    //    entradac = input.value.replace(/[^\d\.]*/g, "");
                    //}
                    //$('#SALARIO').val(entradac);
                    ////Fin Separador de miles
                    return false;
                },
                minLength: 1
            });
        })
    </script><!--AUTOCOMPLETE ASOCIADO-->

    <script src="~/Scripts/moment.js"></script><!--Libreria para manejo de fechas u operaciones con dias-->

    <script>
        diferencia = function (fechaactual, aFecha2) {
            var date = new Date();
            var month = new Array();
            month[0] = "01";
            month[1] = "02";
            month[2] = "03";
            month[3] = "04";
            month[4] = "05";
            month[5] = "06";
            month[6] = "07";
            month[7] = "08";
            month[8] = "09";
            month[9] = "10";
            month[10] = "11";
            month[11] = "12";
            var n = month[date.getMonth()];

            //var primerDia = new Date(date.getFullYear(), date.getMonth(), 1);
            var ultimoDia = new Date(date.getFullYear(), date.getMonth() + 1, 0);

            var UltimoD = ultimoDia.getDate() + "/" + n + "/" + ultimoDia.getFullYear();

            var aFecha1 = fechaactual.split('/');
            aFecha2 = aFecha2.split('/');
            var fFecha1 = Date.UTC(aFecha1[2], aFecha1[1] - 1, aFecha1[0]);
            var fFecha2 = Date.UTC(aFecha2[2], aFecha2[1] - 1, aFecha2[0]);
            var dif = fFecha2 - fFecha1;
            var dias = Math.floor(dif / (1000 * 60 * 60 * 24));

            return (dias);
        }

        //RETORNAR EL ULTIMO DIA DEL MES
        ultimodia = function () {
            var date = new Date();
            var month = new Array();
            month[0] = "01";
            month[1] = "02";
            month[2] = "03";
            month[3] = "04";
            month[4] = "05";
            month[5] = "06";
            month[6] = "07";
            month[7] = "08";
            month[8] = "09";
            month[9] = "10";
            month[10] = "11";
            month[11] = "12";
            var n = month[date.getMonth()];
            //var primerDia = new Date(date.getFullYear(), date.getMonth(), 1);
            var ultimoDia = new Date(date.getFullYear(), date.getMonth() + 1, 0);
            var UltimoD = ultimoDia.getDate() + "/" + n + "/" + ultimoDia.getFullYear();
            return (UltimoD);
        }
    </script><!--Operaciones con dias-->

    <script>
        //FUNCION QUE VALIDA CAPITAL, INTERES Y PLAZO DE ACUERDO A UN DESTINO SELECCIONADO
        //================================================================================
        $(document).ready(function () {
            //CAPITAL
            //=======
            $("#Prestamo").blur(function () {
                //validar cajas vacias
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("QueryCap", "Prestamos")",
                    datatype: "Json",
                    data: {
                        Destino: $('#Destino_Id').val().trim(),
                        Capital: $('#Capital').val().trim(),
                    },
                    success: function (data) {
                        if (data.status) {
                            $.each(data.capital, function (key, val) {
                                $('#Prestamo').focus();
                                swal({
                                    title: "Destino:" + " " + JSON.stringify(val.Destino_Descripcion),
                                    text:
                                    'Capital:  DESDE' + " " + "$" + JSON.stringify(val.Destino_Valor_Minimo) + " " + "HASTA:" + "$" + JSON.stringify(val.Destino_Valor_Maximo) + "\n \n",
                                    type: 'error',
                                    confirmButtonText: 'Aceptar'
                                })
                            })
                            $('#Capital').val("");
                            $('#Prestamo').val("");
                            $('#Prestamo').focus();
                        }//fin if mayor
                    }
                });
            });
            //INTERES
            //==========
            $("#Interes").blur(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("QueryInt", "Prestamos")",
                    datatype: "Json",
                    data: {
                        Destino: $("#Destino_Id").val().trim(),
                        Interes: $("#Interes").val().trim(),
                    },
                    success: function (data) {

                        if (data.status) {
                            console.log(data.status);
                            console.log(data.interes);
                            $.each(data.interes, function (key, val) {
                                $('#Interes').focus();
                                swal({
                                    title: "Destino:" + " " + JSON.stringify(val.Destino_Descripcion),
                                    text:

                                    "Tasa Interes: DESDE:" + " " + JSON.stringify(val.Destino_Tasa_Minima) + "%" + " " + "HASTA:" + " " + JSON.stringify(val.Destino_Tasa_Maxima) + "%",
                                    //"Plazo: DESDE:" + " " + JSON.stringify(val.Destino_Periodo_Minimo) + " " + "Meses" + " " + "HASTA:" + " " + JSON.stringify(val.Destino_Periodo_Maximo) + " " + "Meses",
                                    type: 'error',

                                    confirmButtonText: 'Aceptar'
                                })
                            })
                            /*alert("entro 1")*/
                            $('#Interes').val("");
                            $('#Interes').focus();
                            //$('#Plazo').val("");
                        }

                    }
                })
            })

            //PLAZO
            //=======
            $("#Plazo").blur(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("QueryPlazo", "Prestamos")",
                    datatype: "Json",
                    data: {
                        Destino: $("#Destino_Id").val().trim(),
                        Plazo: $("#Plazo").val().trim(),
                    },
                    success: function (data) {

                        if (data.status) {

                            $.each(data.plazo, function (key, val) {
                                $('#Plazo').focus();
                                swal({
                                    title: "Destino:" + " " + JSON.stringify(val.Destino_Descripcion),
                                    text:

                                    "Plazo: DESDE:" + " " + JSON.stringify(val.Destino_Periodo_Minimo) + " " + "Meses" + " " + "HASTA:" + " " + JSON.stringify(val.Destino_Periodo_Maximo) + " " + "Meses",
                                    type: 'error',

                                    confirmButtonText: 'Aceptar'



                                })

                            })


                            $('#Plazo').val("");
                            $('#Plazo').focus();
                        }

                    }
                })
            })
        });
    </script><!--FUNCION QUE VALIDA CAPITAL, INTERES Y PLAZO DE ACUERDO A UN DESTINO SELECCIONADO-->

    <script>
        // SEPARADOR DE MILES
        // ==================



        $("#Prestamo").keyup(function () {
            var entrada = $("#Prestamo").val().split('.').join('');
            entrada = entrada.split('').reverse();
            var salida = [];
            var aux = '';

            var paginador = Math.ceil(entrada.length / 3);

            for (let i = 0; i < paginador; i++) {
                for (let j = 0; j < 3; j++) {

                    if (entrada[j + (i * 3)] != undefined) {
                        aux += entrada[j + (i * 3)];
                    }
                }
                salida.push(aux);
                aux = '';
            }
            var string = salida.join('.').split("").reverse().join('');
            var double = parseFloat(string);
            $("#Prestamo").val(string);


        })

        $(document).ready(function () {

            $('#Prestamo').keyup(function () {
                var value = $(this).val();

                var entrada = $("#Prestamo").val();
                var punto = entrada.split('.').join("");
                var valor = parseFloat(punto);
                $('#Capital').val(valor);
            });
        });


        $("#Real_Valor").keyup(function () {

            var entrada = $("#Real_Valor").val().split('.').join('');
            entrada = entrada.split('').reverse();
            var salida = [];
            var aux = '';

            var paginador = Math.ceil(entrada.length / 3);

            for (let i = 0; i < paginador; i++) {
                for (let j = 0; j < 3; j++) {

                    if (entrada[j + (i * 3)] != undefined) {
                        aux += entrada[j + (i * 3)];
                    }
                }
                salida.push(aux);
                aux = '';
            }
            var string = salida.join('.').split("").reverse().join('');
            var double = parseFloat(string);
            $("#Real_Valor").val(string);


        })
        $('#btnSubmit').click(function () {
            /*$('#Real_Valor').keyup(function () {
                var value = $(this).val();*/

            var entrada = $("#Real_Valor").val();
            var punto = entrada.split('.').join("");
            var valor = parseFloat(punto);
            $('#Real_Valor').val(valor).hide();
            $('#valor').val(valor);
            //});
        });

    </script><!--SEPARADOR DE MILES-->

    <script>
        $('#CrearC').click(function () {


            var formapago = $("#Forma_Pago_Id").val();
            var realvalor = $("#Real_Valor").val();
            var codeudornombre = $("#codeudor").find('option:selected').text();
            var codeudorid = $("#codeudor").val();
            var codoval = $("#codeudorovalor").val();
            if (formapago != '') {
                if (codoval == "cod") {
                    if (codeudorid != '') {
                        $("#nombre_codeudor").val(codeudornombre);
                        $("#codeudor_nit").val(codeudorid);
                        //Quitar separador de miles
                        var enteroc = $('#SALARIO').val();
                        var enteroc1 = enteroc.replace(".", "");
                        var enteroc2 = enteroc1.replace(".", "");
                        enteroc2 = enteroc2.toString();
                        $('#SALARIO').val(enteroc2);
                        //Fin Quitar separador de miles
                        var ValorPorcentajeCostoAnticipado = $("#ValorPorcentajeCostoAnticipado").val();
                        var costoAdicionalAnticipado = parseInt($("#costoAdicionalAnticipado").val());
                        var Capital = parseInt($("#Capital").val());
                        if (ValorPorcentajeCostoAnticipado != 0) {
                            costoAdicionalAnticipado = GetCostoAdicionalAnticipado(Capital);//costoAdicionalAnticipado + ((parseFloat(ValorPorcentajeCostoAnticipado) / 100) * Capital)
                            $("#costoAdicionalAnticipado").val(costoAdicionalAnticipado);
                        }
                        var interesCorriente = $("#Interes").val();
                        $("#auxInteres").val(interesCorriente);
                        $('#theForm').submit();
                    } else {
                        swal({
                            title: "Alerta",
                            type: "info",
                            text: "Seleccione un codeudor",
                        })
                    }
                } else if (codoval == "val") {
                    if (realvalor != '' && realvalor != 0) {
                        $("#mivalor").val(realvalor);
                        //Quitar separador de miles
                        var enteroc = $('#SALARIO').val();
                        var enteroc1 = enteroc.replace(".", "");
                        var enteroc2 = enteroc1.replace(".", "");
                        enteroc2 = enteroc2.toString();
                        $('#SALARIO').val(enteroc2);
                        //Fin Quitar separador de miles
                        var ValorPorcentajeCostoAnticipado = $("#ValorPorcentajeCostoAnticipado").val();
                        var costoAdicionalAnticipado = parseInt($("#costoAdicionalAnticipado").val());
                        var Capital = parseInt($("#Capital").val());
                        if (ValorPorcentajeCostoAnticipado != 0) {
                            costoAdicionalAnticipado = GetCostoAdicionalAnticipado(Capital);//costoAdicionalAnticipado + ((parseFloat(ValorPorcentajeCostoAnticipado) / 100) * Capital)
                            $("#costoAdicionalAnticipado").val(costoAdicionalAnticipado);
                        }
                        var interesCorriente = $("#Interes").val();
                        $("#auxInteres").val(interesCorriente);
                        $('#theForm').submit();
                    } else {
                        swal({
                            title: "Alerta",
                            type: "info",
                            text: "Ingrese el valor de la garantia",
                        })
                    }
                } else {
                    swal({
                        title: "Alerta",
                        type: "info",
                        text: "Agrege una garantia",
                    })
                }

            } else {
                swal({
                    title: "Alerta",
                    type: "info",
                    text: "Seleccione una forma de pago",
                })
            }
        });

        $('#CrearC').prop("disabled", true);

        $('#Garantia_Id').change(function () {
            $('#garantia_id').val($('#Garantia_Id').val());//Para llenar la table GarantiasCreditos
            if ($('#Garantia_Id').val() == null) {

                $('#CrearC').prop("disabled", true);
            }
            else {

                $('#CrearC').prop("disabled", false);
            }
        })//fin blur
    </script><!--Validaciones antes de enviar formulario-->
}