@model FNTC.Finansoft.Accounting.DTO.DescuentosNomina.EstructuraPlanos

@{
    ViewBag.Title = "Configuración Planos - DESCUENTOS DE NOMINA";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
    var user = User.Identity.Name;
    var fecha = DateTime.Now;
    
}

<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />

<div class="container" style="margin-top:2%; background: rgb(248, 248, 248);">

    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:0%;border: none; margin-left: 2%;">
        <li class="active"><a href="#" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Editar - Plano </a></li>

    </ul>
    <div class="tab-content contenedortabs">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Estructura Planos - Editar</h3></div>
            <div class="col-md-12">

                <div class="modal-body">
                    <form action="@Url.Action("EditarEstructuraPlanos", "ConfiguracionPlanos")" method="post" id="frmEstructuraPlanos">
                        @Html.AntiForgeryToken()

                        <div class="form">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IdEstructuraPlanos)
                            <input id="modo" name="modo" hidden readonly />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Nombre - Estructura Planos</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" value="@Model.NombreEstructuraPlanos" id="NombreEstructuraPlanos" name="NombreEstructuraPlanos" autocomplete="off" />
                                        <span class="input-group-addon"></span>
                                    </div>

                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Fecha de Actualizacion</label>
                                    <div>
                                        <input type="text" class="form-control" id="FechaCreacionEstructuraPlanos" name="FechaCreacionEstructuraPlanos" value="@fecha" readonly />
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">User Control</label>
                                    <div>
                                        <input type="text" class="form-control" id="UserControlEstructuraPlanos" name="UserControlEstructuraPlanos" value="@user" readonly />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Estado</label>

                                    <select class="form-control" id="EstadoEstructuraPlanos" name="EstadoEstructuraPlanos">
                                        <option value=true>ACTIVO</option>
                                        <option value=false>INACTIVO</option>
                                    </select>

                                </div>

                            </div>

                            <div class="row">
                                <div class="modal-footer">
                                    <a class="btn btn-primary" href="@Url.Action("EstructuraPlanos","ConfiguracionPlanos")">Cancelar</a>
                                    <button id="guardarConfig" type="submit" class="btn btn-success">Guardar Cambios</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
       
        $("#frmEstructuraPlanos").submit(function (event) {
            event.preventDefault(); //prevent default action

            var NombreEstructuraPlanosId = $("#NombreEstructuraPlanos").val();

            if (NombreEstructuraPlanosId == "") {

                Swal.fire({
                    icon: 'error',
                    title: 'ERROR',
                    text: '¡FAVOR DILIGENCIAR TODOS LOS CAMPOS!'
                });
                return;
            }

            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serializeArray(); //Encode form elements for submission
            console.log(form_data);

            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //
                console.log(response);

                if (response.ok) {

                    window.location = response.toRedirect;
                }
                else {
                    if (response.msg == "ErrorAlGuardar") {
                        Swal.fire({
                            icon: 'error',
                            title: 'ERROR',
                            text: '¡ERROR AL GUARDAR!'
                        });
                    } 
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {

            });
        });
    </script>
}



