@model FNTC.Finansoft.Accounting.DTO.Facturacion.FacConfiguracion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
}

<script src="~/Scripts/sweetalert2@9.js"></script>
<script src="~/Scripts/facturacion/IndexFacConfiguracion.js"></script>
<div class="col-md-12" style="background:#ECECEC; width:100%;left: 10px;">
    <br />
    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:0%;border: none; margin-left: 2%;">
        <li><a href="/facturacion/Producto" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Productos </a></li>
        <li><a href="#" class="tabsnota" id="btnFacturacion" ><i class="fa fa-file-text" aria-hidden="true"></i> Facturación </a></li>
        <li class="active"><a href="/facturacion/FacConfiguracion" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Configuración </a></li>
    </ul>
    <div class="tab-content contenedortabs">
        <br />
        <div class="card" style="margin-left:10px;margin-right:10px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-10"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 120%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">CONFIGURACIÓN CONTABLE DE FACTURACIÓN</h3></div>
                        <div class="col-md-2" style=" margin-top: 3%;">
                            <button class="btn btn-success btn-xs" id="btnConfigurar">Configurar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left:10px;margin-right:10px;">
                <div class="card-header" style="background-color:#274766;color:white;border-radius:5px;">
                    COMPROBANTES
                </div>
                <div class="card-body" style="background-color:white;">
                    <div style="margin-left:10px;margin-right:10px;">
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <b>@Html.DisplayNameFor(model => model.idTipoComprobante) </b>
                                        @Html.EditorFor(model => model.idTipoComprobante, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.EditorFor(model => model.idTipoComprobanteFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                            </div>

                        </div>
                        <br />
                    </div>
                </div>
                <br />
                <div class="card-header" style="background-color:#274766;color:white;border-radius:5px;">
                    FORMAS DE PAGO
                </div>
                <div class="card-body" style="background-color:white;">
                    <div style="margin-left:10px;margin-right:10px;">
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <b>@Html.DisplayNameFor(model => model.idFPEfectivo) </b>
                                        @Html.EditorFor(model => model.idFPEfectivo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.EditorFor(model => model.idFPEfectivoFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <b>@Html.DisplayNameFor(model => model.idFPTarjetaC) </b>
                                        @Html.EditorFor(model => model.idFPTarjetaC, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.EditorFor(model => model.idFPTarjetaCFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <b>@Html.DisplayNameFor(model => model.idFPTarjetaD) </b>
                                        @Html.EditorFor(model => model.idFPTarjetaD, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.EditorFor(model => model.idFPTarjetaDFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <b>@Html.DisplayNameFor(model => model.idFPConsig) </b>
                                        @Html.EditorFor(model => model.idFPConsig, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.EditorFor(model => model.idFPConsigFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <b>@Html.DisplayNameFor(model => model.idFPtransf) </b>
                                        @Html.EditorFor(model => model.idFPtransf, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.EditorFor(model => model.idFPtransfFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <br />
                <div class="card-header" style="background-color:#274766;color:white;border-radius:5px;">
                    CONTABILIDAD
                </div>
                <div class="card-body" style="background-color:white;">
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONiva19) </b>
                                    @Html.EditorFor(model => model.idCONiva19, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONiva19FK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONiva5) </b>
                                    @Html.EditorFor(model => model.idCONiva5, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONiva5FK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONexcluidos) </b>
                                    @Html.EditorFor(model => model.idCONexcluidos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONexcluidosFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONexcentos) </b>
                                    @Html.EditorFor(model => model.idCONexcentos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONexcentosFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONventaIva19) </b>
                                    @Html.EditorFor(model => model.idCONventaIva19, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONventaIva19FK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONventaIva5) </b>
                                    @Html.EditorFor(model => model.idCONventaIva5, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONventaIva5FK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONventaExcluidos) </b>
                                    @Html.EditorFor(model => model.idCONventaExcluidos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONventaExcluidosFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONventaExcentos) </b>
                                    @Html.EditorFor(model => model.idCONventaExcentos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONventaExcentosFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONcostoIva19) </b>
                                    @Html.EditorFor(model => model.idCONcostoIva19, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONcostoIva19FK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONcostoIva5) </b>
                                    @Html.EditorFor(model => model.idCONcostoIva5, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONcostoIva5FK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONcostoExcluidos) </b>
                                    @Html.EditorFor(model => model.idCONcostoExcluidos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONcostoExcluidosFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONcostoExcentos) </b>
                                    @Html.EditorFor(model => model.idCONcostoExcentos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONcostoExcentosFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONinventarioIva19) </b>
                                    @Html.EditorFor(model => model.idCONinventarioIva19, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONinventarioIva19FK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONinventarioIva5) </b>
                                    @Html.EditorFor(model => model.idCONinventarioIva5, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONinventarioIva5FK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONinventarioExcluidos) </b>
                                    @Html.EditorFor(model => model.idCONinventarioExcluidos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONinventarioExcluidosFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <b>@Html.DisplayNameFor(model => model.idCONinventarioExcentos) </b>
                                    @Html.EditorFor(model => model.idCONinventarioExcentos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.EditorFor(model => model.idCONinventarioExcentosFK.NOMBRE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
                <br />
                </div>@*div cuerpo*@
        
            </div>
    </div>
    <br />
</div>


<script>
    $("#btnFacturacion").click(function () {
        $.ajax({
            url: '/facturacion/FacConfiguracion/verificaConfiguracion',
            datatype: "Json",
            type: 'post',
        }).done(function (data) {
            if (data.status == true) {

                window.location.href = '/facturacion/Facturacion';
            }
            else if (data.status == false) {
                Swal.fire({
                    icon: 'warning',
                    title: '¡Advertencia!',
                    text: 'Por favor, configure las cuentas para el módulo de facturación en la pestaña "Configuración" '
                })
            }

        });
    });
</script>
