@{
    ViewBag.Title = "Fábrica de Crédito";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
}

<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />
<div class="container" style="margin-top:2%; background: rgb(248, 248, 248);">

    <ul class="col-md-offset-2 nav nav-tabs" style="margin-top:0%;border: none; margin-left: 2%;">
        <li class="active"><a href="#" id="buscarAsociados" class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i> Crear Solicitud </a></li>
        <li><a href="" " class="tabsnota"><i class="fa fa-file-text" aria-hidden="true"></i>  </a></li>
    </ul>
    <div class="tab-content contenedortabs">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12"><h3 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;">Crear Solicitud</h3></div>
            <div class="col-md-12">
                <div class="col m-5">
                    <a href="/FabricaCreditos/InicioFabricaCreditos" class="btn btn-primary" data-toggle="modal">
                        Regresar
                    </a>
                </div>
                <br />

            </div>
        </div>
    </div>
</div>

<nav>
    <ul>
        <li>
            <a href="#" id="buscarAsociados"><i class="fa fa-file-text-o" aria-hidden="true"></i> Solicitudes<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#" id="buscarAsociados">Crear Solicitud</a>
                </li>
                <li>

                </li>
            </ul>
        </li>
    </ul>
</nav>

<div data-backdrop="static" data-keyboard="false" class="modal fade" id="BuscarAsociado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Busqueda Asociado</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="respuestaExitencia" hidden style="text-align:center;"></div>
                <form class="form" method="post" id="formBusquedaAsociado">
                    <div class="form-group">
                        <label class="control-label">Ingresa la identificacion:</label>
                        <input type="number" class="form-control" id="idAsociado" placeholder="Identificacion Asociado" required />
                    </div>
                    <div id="resultadoBusqueda" class="form-group" hidden>
                        <label class="control-label">Resultado:</label>
                        <input type="text" class="form-control" id="nomApeAsociado" readonly />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancelarBusqueda" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="button" class="btn btn-default" id="reintentarBusqueda" value="Buscar de nuevo" disabled />
                        <input type="submit" id="btnBuscarAso" class="btn btn-primary" value="Buscar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/datatablesJs")
@Scripts.Render("~/bundles/swalJs")
@Scripts.Render("~/bundles/OtrosJs")

<script>

            $("#cancelarBusqueda").on("click", function (e) {
                $("#respuestaExitencia").prop("hidden", true);
                $("#nomApeAsociado").prop("hidden", true);
                $("#idAsociado").removeProp("disabled");
                $("#formBusquedaAsociado")[0].reset();
            });
            $("#buscarAsociados").on("click", function (e) {
                e.preventDefault();
                $("#BuscarAsociado").modal("show");
            });
            $('#BuscarAsociado').on('shown.bs.modal', function () {
                $('#idAsociado').focus();
            });
            $("#reintentarBusqueda").on("click", function (e) {
                e.preventDefault();
                $("#formBusquedaAsociado")[0].reset();
                $("#btnBuscarAso").val("Buscar");
                $("#resultadoBusqueda").prop("hidden", true);
                $("#respuestaExitencia").prop("hidden", true);
                $("#reintentarBusqueda").prop("disabled", true);
                $('#idAsociado').prop("readonly", false);
                $('#idAsociado').focus();
            });
            $("#formBusquedaAsociado").submit(function (e) {
                var id = "";
                e.preventDefault();
                var accionbtn = $("#btnBuscarAso").val();
                if (accionbtn == "Buscar") {
                    id = $('#idAsociado').val();
                    $.ajax({
                        type: 'POST',
                        data: { idAsociado: id },
                        url: '@Url.Action("VerificarEstadoAsociado", "CrearSolicitud")',
                        success: function (respuesta) {
                            if (respuesta == "inexistente") {
                                $("#respuestaExitencia").html("El usuario no tiene solicitudes de prestamo pendientes o no se encuentra registrado en sistema").removeProp("hidden");
                            } else {
                                if (respuesta == "SinConfi") {
                                    $("#respuestaExitencia").html("Revisa, Porque No Existe Ninguna Configuracion").removeProp("hidden");
                                }else{
                                    if (respuesta == "ExisteSolicitud") {
                                        $("#respuestaExitencia").html("Ya Existe Una Solicitud En Curso Para La Persona").removeProp("hidden");
                                    } else {
                                        $('#idAsociado').prop("readonly", true);
                                        $("#nomApeAsociado").val(respuesta);
                                        $("#resultadoBusqueda").prop("hidden", false);
                                        $("#reintentarBusqueda").prop("disabled", false);
                                        $("#btnBuscarAso").val("Continuar");
                                    }
                                }
                            }
                        }
                    });
                } else {
                    id = $('#idAsociado').val();
                    location.href = generarUrl(id);
                }
            });
            function generarUrl(id) {
                var url = '@Url.Action("CrearSolicitud", "CrearSolicitud", new { area = "FabricaCreditos", id ="param-id"})';
                url = url.replace("param-id", id);
                return url;
            }
</script>

