@model FNTC.Finansoft.Accounting.DTO.FabricaCreditos.FCSolicitudes

@{
    ViewBag.Title = "Cambio Estado";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
    var idSolicitud = ViewBag.idSolicitud;
    var idAsociado = ViewBag.idAsociado;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idSolicitud)


        <div class="form-group col-md-4">
            
            <input type="hidden" value="@idSolicitud" class="form-control" autocomplete="off" readonly />
            <label>NIT Asociado:</label>
            <input type="text" value="@idAsociado" class="form-control" autocomplete="off" readonly />


            <label class="control-label"> VERIFICACION :</label>
            <select class="form-control" id="estado" name="estado">
                <option value="CreNoAprAn">Credito No Aprobado</option>
            </select>

            
            <label class="control-label">Motivos No Aprobacion:</label>

            @Html.Action("ListaMotivos", "CrearSolicitud")
            @Html.ValidationMessageFor(model => model.Motivos, "", new { @class = "text-danger" })

            

            <label>Comentarios:</label>
            <textarea type="text" name="ComentariosAnalista" id="ComentariosAnalista" class="form-control" autocomplete="off"></textarea>

            <br />

            <input type="submit" value="Guardar" class="btn btn-primary" />
            <a id="Cancelar" class="btn btn-danger" data-toggle="modal">
                Cancelar
            </a>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    $("#Cancelar").click(function () {
        location.href = '@Url.Action("AnalisisFC", "CrearSolicitud", new { id = idSolicitud })';
    });

    </script>
}