@model FNTC.Finansoft.Accounting.DTO.FabricaCreditos.DataReferenciasCodeudorFC

@{
    ViewBag.Title = "Referencia - Codeudor";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";
    var idSolicitud = ViewBag.idSolicitud;
}


<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/css/sweetalert.css" rel="stylesheet" />

<div class="container" style="margin-top:2%; background: rgb(248, 248, 248);">

    <div class="tab-content contenedortabs">
        <div id="menu1" class="tab-pane fade in active">
            <div class="col-md-12"><h4 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;"> Informacion Solicitante Solidario (Codeudor) </h4></div>
            <div class="col-md-12">

                <div class="modal-body">
                    @using (Html.BeginForm("CrearCode", "CrearSolicitud", new { area = "FabricaCreditos" }, FormMethod.Post, new { id = "theForm" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input id="modo" name="modo" hidden readonly />
                        <div class="row">

                            <input type="hidden" name="IDSOLICITUD" id="IDSOLICITUD" class="form-control" value="@idSolicitud" readonly />

                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">Primer Apellido :</label>

                                @Html.EditorFor(model => model.APELLIDO1, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
               

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Segundo Apellido :</label>

                                @Html.EditorFor(model => model.APELLIDO2, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        

                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label">Primer Nombre :</label>

                                @Html.EditorFor(model => model.NOMBRE1, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                       

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Segundo Nombre :</label>

                                @Html.EditorFor(model => model.NOMBRE2, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            

                            </div>



                        </div>
                        <div class="row">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group col-md-3">
                                <label class="control-label">Tipo de Documento :</label>

                                <select class="form-control" id="TIPODEDOCUMENTO" name="TIPODEDOCUMENTO">

                                    <option value="CC">C.C.</option>
                                    <option value="CE">C.E.</option>
                                    <option value="PA">Pasaporte</option>

                                </select>

                    


                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label">No.Identificacion :</label>

                                @Html.EditorFor(model => model.NIT, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @id= "Identificacion" } })
                     

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Lugar De Expedición :</label>

                                @Html.EditorFor(model => model.LUGARDEEXPEDICION, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    

                            </div>

                            <div class="form-group col-md-3">
                                <br />
                                <label for="FECHAEXPEDICION">Fecha de Expedición: </label>

                                <input type="date" id="FECHAEXPEDICION" name="FECHAEXPEDICION"
                                       value="2021-01-01">
                     
                            </div>


                        </div>

                        <div class="row">

                            <div class="form-group col-md-3">
                                <br />
                                <label for="FECHANACIMIENTO">Fecha de Nacimiento: </label>

                                <input type="date" id="FECHANACIMIENTO" name="FECHANACIMIENTO"
                                       value="2021-01-01">
                    
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Lugar de Nacimiento :</label>

                                @Html.EditorFor(model => model.LUGARDENACIMIENTO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                          

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Edad :</label>

                                @Html.EditorFor(model => model.EDAD, new { htmlAttributes = new { @class = "form-control", type = "number", @min = "18", @max = "100", @id = "EDAD", @autocomplete = "off" } })
                             

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Dirección de Residencia :</label>

                                @Html.EditorFor(model => model.DIRECCIONRESIDENCIA, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                       

                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">Número de Telefono :</label>

                                @Html.EditorFor(model => model.TELEFONO, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", type = "number" } })
                        

                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Celular :</label>

                                @Html.EditorFor(model => model.CELULAR, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", type = "number" } })
                  

                            </div>


                            <div class="form-group col-md-3">
                                <label class="control-label">Tiempo de Conocerlo :</label>

                                <select class="form-control" id="TIEMPODECONOCER" name="TIEMPODECONOCER">

                                    <option value="">Seleccionar</option>
                                    <option value="1A3">1 a 3 Meses</option>
                                    <option value="3A6">3 a 6 Meses</option>
                                    <option value="6A12">6 a 12 Meses</option>
                                    <option value="12A24">12 a 24 Meses</option>
                                    <option value="24A48">24 a 48 Meses</option>
                                    <option value="MAS">Mas de 48 Meses</option>

                                </select>

                           


                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Parentesco :</label>

                                <select class="form-control" id="PARENTESCO" name="PARENTESCO">

                                    <option value="">Seleccionar</option>
                                    <option value="Familiar">Familiar</option>
                                    <option value="Pareja">Pareja</option>
                                    <option value="Amigo">Amigo</option>
                                    <option value="Otros">Otros</option>

                                </select>

                       


                            </div>


                        </div>
                        <div class="row">

                            <div class="form-group col-md-4">
                                <label>+ Ingresos Mensuales:</label>
                                <input type="text" name="INGRESOSMENSUALES" id="INGRESOSMENSUALES" placeholder="" class="form-control miles" autocomplete="off" />
                    
                            </div>
                            <div class="form-group col-md-4">
                                <label>- Egresos Mensuales:</label>
                                <input type="text" name="EGRESOSMENSUALES" id="EGRESOSMENSUALES" placeholder="" class="form-control miles" autocomplete="off" />
                          
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Actividad Economica :</label>

                                @Html.EditorFor(model => model.ACTIVIDADECONOMICA, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                          

                            </div>

                        </div>

                        <div class="col-md-12"><h4 style="border-bottom: 5px solid #2B7785 !important; width: 100%; color: #2B7785 !important; padding: 9px 20px 15px 0px !important;margin-bottom: 31px !important;"> Descripción de Bienes Solicitante Solidario (Codeudor) </h4></div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Descripción de Bienes:</label>

                                @Html.EditorFor(model => model.DESCRIPCIONDEBIENES, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                         

                            </div>

                            <div class="form-group col-md-4">
                                <label>Cantidad:</label>
                                <input type="text" name="CANTIDAD" id="CANTIDAD" placeholder="" class="form-control" autocomplete="off" />
                         
                            </div>
                            <div class="form-group col-md-4">
                                <label>Valor </label> 
                                <input type="text" name="VALOR" id="VALOR" placeholder="" class="form-control miles" autocomplete="off" />
                             
                            </div>

                        </div>


                        <div class="row">
                            <div class="modal-footer">

                                <button id="guardarConfig" type="button" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>

                    </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    var VNIT, VNOMBRE1, VNOMBRE2, VAPELLIDO1, VAPELLIDO2, VLUGARDEEXPEDICION, VEDAD, VTELEFONO, VCANTIDAD, VALOR, VDESCRIPCIONDEBIENES, VEGRESOSMENSUALES, VINGRESOSMENSUALES, VCELULAR, VLUGARDENACIMIENTO, VFECHANACIMIENTO, VFECHAEXPEDICION, VDIRECCIONRESIDENCIA, VACTIVIDADECONOMICA, VPARENTESCO, VTIEMPODECONOCER;
    $("#guardarConfig").on('click', function () {
        VNIT = $("#NIT").val();
        VNOMBRE1 = $("#NOMBRE1").val();
        VNOMBRE2 = $("#NOMBRE2").val();
        VAPELLIDO1 = $("#APELLIDO1").val();
        VAPELLIDO2 = $("#APELLIDO2").val(); 
        VLUGARDEEXPEDICION = $("#LUGARDEEXPEDICION").val(); 
        VFECHAEXPEDICION = $("#FECHAEXPEDICION").val(); 
        VFECHANACIMIENTO = $("#FECHANACIMIENTO").val();
        VLUGARDENACIMIENTO = $("#LUGARDENACIMIENTO").val();
        VEDAD = $("#EDAD").val();
        VTELEFONO = $("#TELEFONO").val();
        VCELULAR = $("#CELULAR").val();
        VDIRECCIONRESIDENCIA = $("#DIRECCIONRESIDENCIA").val();
        VACTIVIDADECONOMICA = $("#ACTIVIDADECONOMICA").val();
        VPARENTESCO = $("#PARENTESCO").val();
        VTIEMPODECONOCER = $("#TIEMPODECONOCER").val(); 
        VINGRESOSMENSUALES = $("#INGRESOSMENSUALES").val(); 
        VEGRESOSMENSUALES = $("#EGRESOSMENSUALES").val();
        VDESCRIPCIONDEBIENES = $("#DESCRIPCIONDEBIENES").val(); 
        VCANTIDAD = $("#CANTIDAD").val(); 
        VVALOR = $("#VALOR").val();


        if (VNOMBRE1.length == 0 || VNOMBRE2.length == 0 || VAPELLIDO1.length == 0 || VAPELLIDO2.length == 0 || VTELEFONO.length == 0 || VCANTIDAD.length == 0 || VVALOR.length == 0 || VDESCRIPCIONDEBIENES.length == 0 || VLUGARDEEXPEDICION.length == 0|| VEGRESOSMENSUALES.length == 0 || VINGRESOSMENSUALES.length == 0 || VCELULAR.length == 0 || VFECHANACIMIENTO.length == 0 || VLUGARDENACIMIENTO.length == 0 || VFECHAEXPEDICION.length == 0 || VDIRECCIONRESIDENCIA.length == 0 || VACTIVIDADECONOMICA.length == 0 || VPARENTESCO.length == 0 || VTIEMPODECONOCER.length == 0) {
            Swal.fire({
                icon: 'error',
                text: 'Diligenciar Todos los Campos'
            });
        } else if (VEDAD <= 17 || VEDAD >= 100) {
            Swal.fire({
                icon: 'error',
                text: 'Edad no Permitida'
            });

        } else if (VNIT >= 99999999999) {
            Swal.fire({
                icon: 'error',
                text: 'NIT no Permitido'
            });
        } else {
            var mINGRESOSMENSUALES = $("#INGRESOSMENSUALES").val();
            if (mINGRESOSMENSUALES != "") {
                mINGRESOSMENSUALES = mINGRESOSMENSUALES.split('.').join(""); $("#INGRESOSMENSUALES").val(mINGRESOSMENSUALES);
            }
            var mEGRESOSMENSUALES = $("#EGRESOSMENSUALES").val();
            if (mEGRESOSMENSUALES != "") {
                mEGRESOSMENSUALES = mEGRESOSMENSUALES.split('.').join(""); $("#EGRESOSMENSUALES").val(mEGRESOSMENSUALES);
            }
            var mVALOR = $("#VALOR").val();
            if (mVALOR != "") {
                mVALOR = mVALOR.split('.').join(""); $("#VALOR").val(mVALOR);
            }

            $(function () {
                var mIdentificacion = $("#Identificacion").val();
                if (mIdentificacion != "") {
                    $("#theForm").submit();

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error...',
                        text: 'Campos Incompletos'
                    });
                }


            });
            
        }

    });

    $(".miles").on({
        "focus": function (event) {
            $(event.target).select();
        },
        "keyup": function (event) {
            $(event.target).val(function (index, value) {
                return value.replace(/\D/g, "")
                    .replace(/([0-9])([0-9]{3})$/, '$1.$2')
                    .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
            });
        }
    });
  
        
    
</script>