
@model FNTC.Finansoft.Accounting.DTO.FabricaCreditos.VerificacionAsociado
@using FNTC.Finansoft.Accounting.DTO.MCreditos;
@using FNTC.Finansoft.Accounting.DTO.FabricaCreditos
@using FNTC.Finansoft.Accounting.DTO.OperativaDeCaja

@{
    ViewBag.Title = "Solicitud";
    Layout = "~/Views/Shared/_Layoutcreditos.cshtml";

    var idSolicitud = ViewBag.idSolicitud;
    var nombreaso = ViewBag.Nombre;
    var fecha = ViewBag.Fecha;
    var idasociado = ViewBag.idasociado;


}

<h3 align="center"><span class="label label-info">VERIFICACIÓN TELEFÓNICA - SOLICITUDES</span></h3>

@using (Html.BeginForm("VerificacionFC", "CrearSolicitud", new { area = "FabricaCreditos" }, FormMethod.Post, new { id = "theForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdVerificacion)

        <div class="form-group col-md-4">
            <label>+ Nombre Del Asociado:</label>
            <input type="text" value="@nombreaso" class="form-control" autocomplete="off" readonly />

        </div>
        <div class="form-group col-md-3">
            <label>+ Fecha De la Solicitud:</label>
            <input type="text" value="@fecha" class="form-control" autocomplete="off" readonly />

        </div>
        <br /><br /><br /><br />
        <h4><span class="label label-info">Requisito</span></h4>
        <input type="hidden" name="idSolicitud" id="idSolicitud" value="@idSolicitud" readonly />
        <div class="form">

            <div class="form-group col-md-2">
                <br />
                <label>[<b> + Dirección Residencia:</b> ]</label>


            </div>
            <div class="form-group col-md-1">
                <br />
                <select class="form-control" id="direccionresidencia" name="direccionresidencia">
                    <option value="no" @(Model.direccionresidencia == "no" ? "selected" : "")>NO</option>
                    <option value="si" @(Model.direccionresidencia == "si" ? "selected" : "")>SI</option>


                </select>

            </div>
            <div class="form-group col-md-4">
                <label>+ Observaciones:</label>
          
                @Html.EditorFor(model => model.observacionesdir, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })
             

            </div>
            <br /><br /><br /><br />

        </div>
        <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Teléfono Celular:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
                   
                    <select class="form-control" id="telefonocelular" name="telefonocelular">
                        <option value="no" @(Model.telefonocelular == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.telefonocelular == "si" ? "selected" : "")>SI</option>


                    </select>


                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
                   
                    @Html.EditorFor(model => model.observacionestele, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Correo Electronico:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
              
                    <select class="form-control" id="correoelectronico" name="correoelectronico">
                        <option value="no" @(Model.correoelectronico == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.correoelectronico == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
                 
                    @Html.EditorFor(model => model.observacionescor, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>


            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Ocupación Oficio:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
         
                    <select class="form-control" id="ocupacionoficio" name="ocupacionoficio">
                        <option value="no" @(Model.ocupacionoficio == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.ocupacionoficio == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>

                    @Html.EditorFor(model => model.observacionesocu, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Estado Civil:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
            
                    <select class="form-control" id="estadocivil" name="estadocivil">
                        <option value="no" @(Model.estadocivil == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.estadocivil == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
          
                    @Html.EditorFor(model => model.observacionesest, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Nombre Del Cónyuge:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
          
                    <select class="form-control" id="nombredelconyuge" name="nombredelconyuge">
                        <option value="no" @(Model.nombredelconyuge == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.nombredelconyuge == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
        
                    @Html.EditorFor(model => model.observacionesnomcon, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Teléfono Del Cónyuge:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
     
                    <select class="form-control" id="telefonodelconyuge" name="telefonodelconyuge">
                        <option value="no" @(Model.telefonodelconyuge == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.telefonodelconyuge == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
   
                    @Html.EditorFor(model => model.observacionestelecon, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Tipo Vivienda (Arriendo /Familiar /Propia ):</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
       
                    <select class="form-control" id="tipovivienda" name="tipovivienda">
                        <option value="no" @(Model.tipovivienda == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.tipovivienda == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
        
                    @Html.EditorFor(model => model.observacionestip, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Nombre Del Negocio:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
           
                    <select class="form-control" id="nombredelnegocio" name="nombredelnegocio">
                        <option value="no" @(Model.nombredelnegocio == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.nombredelnegocio == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
        
                    @Html.EditorFor(model => model.observacionesnomnego, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Dirección Trabajo:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
              
                    <select class="form-control" id="direcciontrabajo" name="direcciontrabajo">
                        <option value="no" @(Model.direcciontrabajo == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.direcciontrabajo == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
       
                    @Html.EditorFor(model => model.observacionesdiretrab, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Tiempo Del Negocio:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
               
                    <select class="form-control" id="tiempodelnegocio" name="tiempodelnegocio">
                        <option value="no" @(Model.tiempodelnegocio == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.tiempodelnegocio == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
  
                    @Html.EditorFor(model => model.observacionestiemp, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + No. Empleados:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
             
                    <select class="form-control" id="noempleados" name="noempleados">
                        <option value="no" @(Model.noempleados == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.noempleados == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>

                    @Html.EditorFor(model => model.observacionesnoempl, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>

            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Ingresos Mensuales:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
               
                    <select class="form-control" id="ingresosmensuales" name="ingresosmensuales">
                        <option value="no" @(Model.ingresosmensuales == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.ingresosmensuales == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
           
                    @Html.EditorFor(model => model.observacionesingres, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>
            <div class="form">

                <div class="form-group col-md-2">
                    <br />
                    <label>[<b> + Gastos Mensuales:</b> ]</label>


                </div>
                <div class="form-group col-md-1">
                    <br />
                 
                    <select class="form-control" id="gastosmensuales" name="gastosmensuales">
                        <option value="no" @(Model.gastosmensuales == "no" ? "selected" : "")>NO</option>
                        <option value="si" @(Model.gastosmensuales == "si" ? "selected" : "")>SI</option>


                    </select>

                </div>
                <div class="form-group col-md-4">
                    <label>+ Observaciones:</label>
                   
                    @Html.EditorFor(model => model.observacionesgastos, new { htmlAttributes = new { @class = "form-control", Style = "text-transform: none" } })


                </div>
                <br /><br /><br /><br />

            </div>


        <div class="form-group col-md-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />

        </div>


    </div>

}
